Repository ansible/awx, pull requests merged in 2018-04, with the labels that each got.

#1725 Increases the angular-tz-extension tag in package.json
  awx/ui/client/src/scheduler/schedulerAdd.controller.js
  awx/ui/package.json
Labels: component:ui, state:needs_triage, type:bug

#1722 Added nginx_status to nginx.conf
  installer/roles/image_build/files/nginx.conf
Labels: state:needs_triage, type:enhancement

#1754 Fix whitespace issues with docker-compose jinja template
  installer/roles/local_docker/templates/docker-compose.yml.j2
Labels: component:installer, state:needs_review, type:bug

#1760 Fix tests fallout from 2.5 upgrade
  Makefile
  awx/main/tests/unit/models/test_inventory.py
Labels: state:needs_triage

#1771 Kubernetes role cleanup
  installer/install.yml
  installer/inventory
  installer/roles/check_vars/tasks/check_openshift.yml
  installer/roles/image_build/tasks/main.yml
  installer/roles/image_build/templates/Dockerfile.task.j2
  installer/roles/image_push/tasks/main.yml
  installer/roles/kubernetes/defaults/main.yml
  installer/roles/kubernetes/tasks/kubernetes.yml
  installer/roles/kubernetes/tasks/main.yml
  installer/roles/kubernetes/tasks/openshift.yml
  installer/roles/kubernetes/templates/configmap.yml.j2
  installer/roles/kubernetes/templates/deployment.yml.j2
  installer/roles/local_docker/tasks/set_image.yml
  installer/roles/local_docker/tasks/standalone.yml
  installer/roles/local_docker/templates/docker-compose.yml.j2
Labels: component:installer, state:needs_triage, type:enhancement

#1718 Bind mount to custom certs to `source/anchors` subfolder
  installer/roles/local_docker/tasks/standalone.yml
  installer/roles/local_docker/templates/docker-compose.yml.j2
Labels: component:installer, state:needs_triage, type:bug

#1776 Install unzip for awx_task docker image to enable usage of unarchive …
  installer/roles/image_build/templates/Dockerfile.j2
Labels: component:installer, type:bug

#1786 Fix image build role when not deploying to localhost
  installer/roles/image_build/tasks/main.yml
Labels: component:installer, state:needs_triage, type:bug

#1801 Updates README.md to include Node and NPM version req's
  INSTALL.md
Labels: component:docs, component:ui, state:needs_triage
