Repository ansible/awx, pull requests merged in 2020-12, with the labels that each got.

#8633 Fix notification list toolbar filter keys and convert Project/* to functional components
  awx/ui_next/src/components/NotificationList/NotificationList.jsx
  awx/ui_next/src/components/Search/Search.jsx
  awx/ui_next/src/screens/NotificationTemplate/NotificationTemplateList/NotificationTemplateList.jsx
  awx/ui_next/src/screens/Project/Project.jsx
  awx/ui_next/src/screens/Project/Project.test.jsx
  awx/ui_next/src/screens/Project/Projects.jsx
  awx/ui_next/src/screens/Project/shared/ProjectSyncButton.jsx
  awx/ui_next/src/screens/Project/shared/ProjectSyncButton.test.jsx
Labels: component:ui_next, mergeit, type:bug

#8718 add missing imports
  awx/main/migrations/_inventory_source_vars.py
Labels: mergeit

#8719 correct a note about TZID support
  awx/api/templates/api/_schedule_detail.md
Labels: mergeit

#8534 Updated Helm Chart Location
  installer/roles/kubernetes/tasks/main.yml
Labels: component:installer, mergeit, type:bug

#8710 Remove old radius library from requirements
  docs/licenses/python-radius.txt
  requirements/requirements.in
  requirements/requirements.txt
Labels: mergeit

#8727 Remove mercurial support
  CHANGELOG.md
  awx/api/serializers.py
  awx/api/views/__init__.py
  awx/main/analytics/core.py
  awx/main/isolated/manager.py
  awx/main/migrations/0123_drop_hg_support.py
  awx/main/migrations/_hg_removal.py
  awx/main/models/projects.py
  awx/main/tasks.py
  awx/main/tests/unit/test_tasks.py
  awx/main/utils/common.py
  awx/playbooks/action_plugins/hg_deprecation.py
  awx/playbooks/project_update.yml
  awx/playbooks/project_update_hg_tasks.yml
  awx/settings/local_settings.py.docker_compose
  awx/settings/local_settings.py.example
  awx/ui_next/src/components/Lookup/ProjectLookup.jsx
  awx/ui_next/src/components/UserAndTeamAccessAdd/getResourceAccessConfig.js
  awx/ui_next/src/screens/Project/ProjectAdd/ProjectAdd.test.jsx
  awx/ui_next/src/screens/Project/ProjectEdit/ProjectEdit.test.jsx
  awx/ui_next/src/screens/Project/ProjectList/ProjectList.jsx
  awx/ui_next/src/screens/Project/shared/ProjectForm.jsx
  awx/ui_next/src/screens/Project/shared/ProjectForm.test.jsx
  awx/ui_next/src/screens/Project/shared/ProjectSubForms/HgSubForm.jsx
  awx/ui_next/src/screens/Project/shared/ProjectSubForms/index.js
  awx/ui_next/src/screens/Template/WorkflowJobTemplateVisualizer/Modals/NodeModals/NodeTypeStep/ProjectsList.jsx
  awx/ui_next/src/types.js
  awx_collection/plugins/modules/tower_project.py
  docs/clustering.md
  docs/overview.md
  installer/roles/image_build/templates/Dockerfile.j2
Labels: component:api, component:ui_next, mergeit

#8732 Change to manual instead of deleting hg projects
  awx/main/migrations/_hg_removal.py
Labels: component:api, mergeit

#8624 Hide instance group for Inventory Details if the data is not available
  awx/ui_next/src/screens/Inventory/InventoryDetail/InventoryDetail.jsx
  awx/ui_next/src/screens/Inventory/InventoryDetail/InventoryDetail.test.jsx
Labels: component:ui_next, mergeit, type:enhancement

#8737 Add string to translation
  awx/ui_next/src/components/Search/AdvancedSearch.jsx
Labels: component:ui_next, mergeit

#8722 Handle prompted inventory without value on schedules
  awx/ui_next/src/components/Schedule/ScheduleDetail/ScheduleDetail.jsx
Labels: component:ui_next, mergeit, type:bug

#8721 Remove redundant available_instances field
  awx/main/access.py
  awx/main/analytics/metrics.py
  awx/main/management/commands/inventory_import.py
  awx/main/utils/licensing.py
Labels: component:api, mergeit, type:bug

#8743 Remove duplicate spec key from Ingress for kubernetes template
  installer/roles/kubernetes/templates/deployment.yml.j2
Labels: mergeit

#8746 Add quotes to kubernetes annotations
  installer/roles/kubernetes/templates/deployment.yml.j2
Labels: mergeit

#8747 Add Kubernetes Service support for annotations
  installer/roles/kubernetes/templates/deployment.yml.j2
Labels: component:installer, mergeit, type:enhancement

#8733 make preload data optional again
  installer/roles/image_build/templates/launch_awx_task.sh.j2
  installer/roles/kubernetes/templates/launch_awx.yml.j2
  installer/roles/local_docker/tasks/compose.yml
Labels: component:installer, mergeit, type:bug

#8756 Fix typo for kubernetes_service_account_annotations variable
  installer/roles/kubernetes/templates/deployment.yml.j2
Labels: mergeit

#8757 Add kubernetes_pod_annotations to management-pod.yml.j2
  installer/roles/kubernetes/templates/management-pod.yml.j2
Labels: mergeit

#8758 Use literal quotation marks for Kubernetes annotations instead of quo…
  installer/roles/kubernetes/templates/deployment.yml.j2
Labels: mergeit

#8775 Fix image build - powertools repo ref changed
  installer/roles/image_build/templates/Dockerfile.j2
Labels: mergeit

#8619 Convert Login.jsx to functional component
  awx/ui_next/src/App.test.jsx
  awx/ui_next/src/screens/Login/Login.jsx
  awx/ui_next/src/screens/Login/Login.test.jsx
Labels: component:ui_next, mergeit, state:needs_test, type:enhancement

#8770 Read in and use the Sat port if applicable for Subscriptions
  awx/main/utils/licensing.py
Labels: component:api, mergeit, type:bug

#8614 analytics: include modified column and full event_data for playbook_on_stats
  awx/main/analytics/collectors.py
Labels: mergeit, type:enhancement

#8766 NodeJS: Bump to actively maintained LTS 14.15.1
  INSTALL.md
  awx/ui_next/Dockerfile
  awx/ui_next/package.json
  installer/roles/image_build/files/Dockerfile.sdist
  installer/roles/image_build/templates/Dockerfile.j2
Labels: component:ui_next, mergeit, state:needs_test, type:feature

#8779 Make insights integration tests pass again
  awx/main/tasks.py
  awx/settings/defaults.py
Labels: mergeit

#8787 Remove fsgroup hack
  installer/roles/kubernetes/templates/deployment.yml.j2
Labels: mergeit

#8790 Aggregate quantity per sub allocation, not exported
  awx/main/utils/licensing.py
Labels: mergeit

#8796 Add back in the subversion requirement
  execution-environment.yml
  requirements/bindep_requirements.txt
Labels: mergeit

#8754 Introduce a strict Content-Security-Policy
  awx/settings/defaults.py
  awx/ui/context_processors.py
  awx/ui_next/package.json
  awx/ui_next/public/index.html
  awx/ui_next/src/index.jsx
  awx/ui_next/src/screens/Job/JobOutput/JobEvent.jsx
  awx/ui_next/src/screens/Job/JobOutput/JobEvent.test.jsx
  awx/ui_next/src/screens/Job/JobOutput/JobOutput.jsx
  awx/ui_next/src/setupCSP.js
  awx/ui_next/src/setupTests.js
  installer/roles/kubernetes/templates/configmap.yml.j2
  installer/roles/local_docker/templates/nginx.conf.j2
  tools/docker-compose/nginx.vh.default.conf
Labels: component:api, component:ui_next, mergeit, state:needs_test, type:feature

#8728 Adds support for GitHub, Azure AD, Google and SAML auth to the UI
  awx/sso/views.py
  awx/ui_next/src/api/index.js
  awx/ui_next/src/api/models/Auth.js
  awx/ui_next/src/screens/Login/Login.jsx
  awx/ui_next/src/screens/Login/Login.test.jsx
  awx/ui_next/src/setupProxy.js
Labels: component:ui_next, mergeit, state:needs_test, type:feature

#8812 log galaxy token message as warning
  awx/main/tasks.py
Labels: component:api, mergeit, type:enhancement

#8799 Place some initial files for migration view
  awx/main/middleware.py
  awx/ui_next/public/installing.html
  awx/ui_next/urls.py
Labels: component:ui_next, mergeit

#8723 Bump version to 16.0.0
  CHANGELOG.md
  VERSION
  awxkit/VERSION
Labels: mergeit

#8644 EE model changes
  awx/api/serializers.py
  awx/conf/fields.py
  awx/main/access.py
  awx/main/conf.py
  awx/main/migrations/0125_more_ee_modeling_changes.py
  awx/main/models/ad_hoc_commands.py
  awx/main/models/credential/__init__.py
  awx/main/models/execution_environments.py
  awx/main/models/mixins.py
  awx/main/models/organization.py
  awx/main/models/projects.py
  awx/main/models/rbac.py
  awx/main/models/unified_jobs.py
  awx/main/tasks.py
  awx/main/tests/functional/test_credential.py
  awx/main/tests/functional/test_inventory_source_injectors.py
  awx/main/tests/unit/test_tasks.py
  awx/settings/defaults.py
  awx/ui_next/src/screens/ExecutionEnvironment/ExecutionEnvironmentList/ExecutionEnvironmentList.jsx
  awx_collection/plugins/modules/tower_execution_environment.py
  awx_collection/plugins/modules/tower_inventory_source.py
  awx_collection/plugins/modules/tower_job_template.py
  awx_collection/plugins/modules/tower_organization.py
  awx_collection/plugins/modules/tower_project.py
  awx_collection/plugins/modules/tower_workflow_job_template.py
  awxkit/awxkit/api/pages/execution_environments.py
  tools/docker-compose/bootstrap_development.sh
Labels: component:api, mergeit, type:enhancement

#8684 Show modals with app/token info after creation
  awx/ui_next/src/screens/Application/ApplicationAdd/ApplicationAdd.jsx
  awx/ui_next/src/screens/Application/ApplicationAdd/ApplicationAdd.test.jsx
  awx/ui_next/src/screens/Application/ApplicationDetails/ApplicationDetails.jsx
  awx/ui_next/src/screens/Application/ApplicationDetails/ApplicationDetails.test.jsx
  awx/ui_next/src/screens/Application/ApplicationEdit/ApplicationEdit.jsx
  awx/ui_next/src/screens/Application/Applications.jsx
  awx/ui_next/src/screens/Application/Applications.test.jsx
  awx/ui_next/src/screens/User/User.jsx
  awx/ui_next/src/screens/User/User.test.jsx
  awx/ui_next/src/screens/User/UserToken/UserToken.jsx
  awx/ui_next/src/screens/User/UserToken/UserToken.test.jsx
  awx/ui_next/src/screens/User/UserTokenAdd/UserTokenAdd.jsx
  awx/ui_next/src/screens/User/UserTokenAdd/UserTokenAdd.test.jsx
  awx/ui_next/src/screens/User/UserTokenDetail/UserTokenDetail.jsx
  awx/ui_next/src/screens/User/UserTokenDetail/UserTokenDetail.test.jsx
  awx/ui_next/src/screens/User/UserTokenList/UserTokenList.jsx
  awx/ui_next/src/screens/User/UserTokenList/UserTokenListItem.jsx
  awx/ui_next/src/screens/User/UserTokenList/UserTokenListItem.test.jsx
  awx/ui_next/src/screens/User/UserTokens/UserTokens.jsx
  awx/ui_next/src/screens/User/UserTokens/UserTokens.test.jsx
Labels: component:ui_next, mergeit

#8865 Improve the behavior of EE resolution for ad hoc commands
  awx/main/models/ad_hoc_commands.py
  awx/main/tasks.py
Labels: component:api, type:enhancement

#8862 Update readme requirements
  awx/ui_next/README.md
Labels: mergeit

#8841 Upgrade jsx-a11y plugin
  awx/ui_next/.eslintrc
  awx/ui_next/package-lock.json
  awx/ui_next/package.json
Labels: component:ui_next, mergeit

#8868 Autofix problematic dependency
  awx/ui_next/package-lock.json
Labels: component:ui_next, mergeit, state:needs_test

#8833 Sync the is_superuser flag when the members relationship changes
  awx/main/signals.py
  awx/main/tests/functional/test_rbac_user.py
Labels: mergeit

#8875 Add make target info to readme
  awx/ui_next/README.md
Labels: mergeit

#7255 Add cypress black box code cov instrumentation to ui_next
  .gitignore
  awx/ui_next/.eslintignore
  awx/ui_next/package.json
Labels: component:ui_next, mergeit, state:needs_review, type:enhancement

#8803 Show WFJT notification list approval toggle
  awx/ui_next/src/screens/Template/WorkflowJobTemplate.jsx
  awx/ui_next/src/screens/Template/WorkflowJobTemplate.test.jsx
Labels: component:ui_next, mergeit, type:bug

#8900 Update wording of getting started section
  INSTALL.md
Labels: component:docs, mergeit

#8886 More readme and makefile updates
  Makefile
  awx/ui_next/README.md
Labels: component:ui_next, mergeit

#8891 Fix misnamed webhook field
  awx/ui_next/src/screens/NotificationTemplate/shared/TypeInputsSubForm.jsx
Labels: component:ui_next, mergeit, state:needs_test

#8899 Upgrade PatternFly dependencies
  awx/ui_next/package.json
  awx/ui_next/src/screens/Template/Survey/SurveyPreviewModal.jsx
Labels: component:ui_next, mergeit, state:needs_test

#8887 Use credential_type for multicred distinction
  awx/ui_next/src/components/Lookup/MultiCredentialsLookup.jsx
  awx/ui_next/src/components/Lookup/MultiCredentialsLookup.test.jsx
Labels: component:ui_next, mergeit, state:needs_test, type:bug

#8877 Support ws or wss proto
  awx/ui_next/src/components/JobList/useWsJobs.test.jsx
  awx/ui_next/src/screens/Inventory/InventoryList/useWsInventories.test.jsx
  awx/ui_next/src/screens/Inventory/InventorySources/useWsInventorySources.test.jsx
  awx/ui_next/src/screens/Job/JobOutput/JobOutput.jsx
  awx/ui_next/src/screens/Project/ProjectList/useWsProjects.test.jsx
  awx/ui_next/src/screens/WorkflowApproval/WorkflowApprovalList/useWsWorkflowApprovals.test.jsx
  awx/ui_next/src/util/useWebsocket.js
  awx/ui_next/src/util/useWsTemplates.test.jsx
Labels: component:ui_next, mergeit, state:needs_test

#8904 Fix raw archive project updates
  awx/playbooks/project_update.yml
Labels: mergeit

#8250 Add session timeout support
  awx/ui_next/docs/APP_ARCHITECTURE.md
  awx/ui_next/docs/images/sessionExpiration.png
  awx/ui_next/docs/images/useStorage.png
  awx/ui_next/src/api/Base.js
  awx/ui_next/src/components/AppContainer/AppContainer.jsx
  awx/ui_next/src/constants.js
  awx/ui_next/src/util/debounce.js
  awx/ui_next/src/util/debounce.test.js
Labels: component:ui_next, mergeit, state:needs_devel, state:needs_test, type:feature

#8909 Fix console being thrown in Dashboard test
  awx/ui_next/src/screens/Dashboard/Dashboard.test.jsx
Labels: component:ui_next, mergeit

#8867 Wrap functions in useCallback to avoid extra requests
  awx/ui_next/src/screens/Inventory/InventorySource/InventorySource.jsx
  awx/ui_next/src/screens/Project/Project.jsx
  awx/ui_next/src/screens/Schedule/AllSchedules.jsx
  awx/ui_next/src/screens/Template/Template.jsx
  awx/ui_next/src/screens/Template/WorkflowJobTemplate.jsx
Labels: component:ui_next, mergeit, state:needs_test

#8888 Make display type unique for different job types and consistent between job list and details
  awx/ui_next/src/components/JobList/JobListItem.jsx
  awx/ui_next/src/screens/Job/JobDetail/JobDetail.jsx
  awx/ui_next/src/screens/Job/JobDetail/JobDetail.test.jsx
Labels: component:ui_next, mergeit, state:needs_test, type:bug

#8920 Generate package lock file with recent dependency updates
  awx/ui_next/package-lock.json
Labels: component:ui_next, mergeit

#8399 Add WF Node Promptability
  awx/ui_next/src/api/models/WorkflowJobTemplateNodes.js
  awx/ui_next/src/components/LaunchButton/LaunchButton.jsx
  awx/ui_next/src/components/LaunchPrompt/LaunchPrompt.jsx
  awx/ui_next/src/components/LaunchPrompt/LaunchPrompt.test.jsx
  awx/ui_next/src/components/LaunchPrompt/steps/OtherPromptsStep.jsx
  awx/ui_next/src/components/LaunchPrompt/steps/OtherPromptsStep.test.jsx
  awx/ui_next/src/components/LaunchPrompt/steps/PreviewStep.jsx
  awx/ui_next/src/components/LaunchPrompt/steps/PreviewStep.test.jsx
  awx/ui_next/src/components/LaunchPrompt/steps/StepName.jsx
  awx/ui_next/src/components/LaunchPrompt/steps/SurveyStep.jsx
  awx/ui_next/src/components/LaunchPrompt/steps/useCredentialsStep.jsx
  awx/ui_next/src/components/LaunchPrompt/steps/useInventoryStep.jsx
  awx/ui_next/src/components/LaunchPrompt/steps/useOtherPromptsStep.jsx
  awx/ui_next/src/components/LaunchPrompt/steps/usePreviewStep.jsx
  awx/ui_next/src/components/LaunchPrompt/steps/useSurveyStep.jsx
  awx/ui_next/src/components/LaunchPrompt/useLaunchSteps.js
  awx/ui_next/src/components/PromptDetail/PromptDetail.jsx
  awx/ui_next/src/components/PromptDetail/PromptDetail.test.jsx
  awx/ui_next/src/components/PromptDetail/PromptJobTemplateDetail.jsx
  awx/ui_next/src/components/PromptDetail/PromptWFJobTemplateDetail.jsx
  awx/ui_next/src/components/Sparkline/Sparkline.jsx
  awx/ui_next/src/components/Workflow/WorkflowNodeHelp.jsx
  awx/ui_next/src/components/Workflow/WorkflowNodeTypeLetter.jsx
  awx/ui_next/src/components/Workflow/WorkflowNodeTypeLetter.test.jsx
  awx/ui_next/src/components/Workflow/workflowReducer.js
  awx/ui_next/src/components/Workflow/workflowReducer.test.js
  awx/ui_next/src/screens/Job/WorkflowOutput/WorkflowOutputNode.jsx
  awx/ui_next/src/screens/Job/WorkflowOutput/WorkflowOutputNode.test.jsx
  awx/ui_next/src/screens/Template/Survey/SurveyPreviewModal.jsx
  awx/ui_next/src/screens/Template/WorkflowJobTemplateVisualizer/Modals/NodeModals/NodeAddModal.jsx
  awx/ui_next/src/screens/Template/WorkflowJobTemplateVisualizer/Modals/NodeModals/NodeAddModal.test.jsx
  awx/ui_next/src/screens/Template/WorkflowJobTemplateVisualizer/Modals/NodeModals/NodeEditModal.jsx
  awx/ui_next/src/screens/Template/WorkflowJobTemplateVisualizer/Modals/NodeModals/NodeEditModal.test.jsx
  awx/ui_next/src/screens/Template/WorkflowJobTemplateVisualizer/Modals/NodeModals/NodeModal.jsx
  awx/ui_next/src/screens/Template/WorkflowJobTemplateVisualizer/Modals/NodeModals/NodeModal.test.jsx
  awx/ui_next/src/screens/Template/WorkflowJobTemplateVisualizer/Modals/NodeModals/NodeNextButton.jsx
  awx/ui_next/src/screens/Template/WorkflowJobTemplateVisualizer/Modals/NodeModals/NodeTypeStep/NodeTypeStep.jsx
  awx/ui_next/src/screens/Template/WorkflowJobTemplateVisualizer/Modals/NodeModals/NodeTypeStep/NodeTypeStep.test.jsx
  awx/ui_next/src/screens/Template/WorkflowJobTemplateVisualizer/Modals/NodeModals/NodeTypeStep/useNodeTypeStep.jsx
  awx/ui_next/src/screens/Template/WorkflowJobTemplateVisualizer/Modals/NodeModals/NodeViewModal.jsx
  awx/ui_next/src/screens/Template/WorkflowJobTemplateVisualizer/Modals/NodeModals/NodeViewModal.test.jsx
  awx/ui_next/src/screens/Template/WorkflowJobTemplateVisualizer/Modals/NodeModals/RunStep.jsx
  awx/ui_next/src/screens/Template/WorkflowJobTemplateVisualizer/Modals/NodeModals/RunStep.test.jsx
  awx/ui_next/src/screens/Template/WorkflowJobTemplateVisualizer/Modals/NodeModals/useRunTypeStep.jsx
  awx/ui_next/src/screens/Template/WorkflowJobTemplateVisualizer/Modals/NodeModals/useWorkflowNodeSteps.js
  awx/ui_next/src/screens/Template/WorkflowJobTemplateVisualizer/Visualizer.jsx
  awx/ui_next/src/screens/Template/WorkflowJobTemplateVisualizer/VisualizerGraph.test.jsx
  awx/ui_next/src/screens/Template/WorkflowJobTemplateVisualizer/VisualizerNode.jsx
  awx/ui_next/src/screens/Template/WorkflowJobTemplateVisualizer/VisualizerNode.test.jsx
  awx/ui_next/src/screens/Template/WorkflowJobTemplateVisualizer/VisualizerToolbar.jsx
  awx/ui_next/src/screens/Template/WorkflowJobTemplateVisualizer/shared/WorkflowJobTemplateVisualizerUtils.js
  awx/ui_next/src/util/prompt/getSurveyValues.js
  awx/ui_next/src/util/prompt/mergeExtraVars.js
  awx/ui_next/src/util/prompt/mergeExtraVars.test.js
Labels: component:ui_next, mergeit, state:needs_review, state:needs_test, type:feature

#8922 Move deletion.py to utils
  awx/main/management/commands/cleanup_jobs.py
  awx/main/tests/functional/commands/test_cleanup_jobs.py
  awx/main/utils/deletion.py
Labels: component:api, mergeit, type:bug

#8780 Add support for notification template copy and advanced search
  awx/ui_next/src/components/CopyButton/CopyButton.jsx
  awx/ui_next/src/components/NotificationList/NotificationList.jsx
  awx/ui_next/src/screens/NotificationTemplate/NotificationTemplateList/NotificationTemplateList.jsx
  awx/ui_next/src/screens/NotificationTemplate/NotificationTemplateList/NotificationTemplateListItem.jsx
  awx/ui_next/src/screens/NotificationTemplate/NotificationTemplateList/NotificationTemplateListItem.test.jsx
Labels: component:ui_next, mergeit, type:feature

#8706 Pre-lingui upgrade
  awx/ui_next/src/components/About/About.jsx
  awx/ui_next/src/components/AppContainer/PageHeaderToolbar.jsx
  awx/ui_next/src/components/ErrorDetail/ErrorDetail.jsx
  awx/ui_next/src/components/ErrorDetail/ErrorDetail.test.jsx
  awx/ui_next/src/screens/Job/JobTypeRedirect.jsx
  awx/ui_next/src/screens/ManagementJob/ManagementJobs.jsx
  awx/ui_next/src/screens/Organization/Organizations.jsx
  awx/ui_next/src/screens/Project/Project.jsx
  awx/ui_next/src/screens/Project/Project.test.jsx
  awx/ui_next/src/screens/Template/JobTemplateEdit/JobTemplateEdit.jsx
  awx/ui_next/src/screens/Template/Template.jsx
  awx/ui_next/src/screens/Template/Templates.jsx
  awx/ui_next/src/screens/Template/WorkflowJobTemplate.jsx
  awx/ui_next/testUtils/enzymeHelpers.test.jsx
Labels: component:ui_next, mergeit

#8908 Flip the instance ID var for AWS to `instance_id`
  awx/settings/defaults.py
Labels: component:api, mergeit, type:bug

#8866 Fix 500 on unhandled group param type
  awx/sso/fields.py
Labels: component:api, mergeit, type:bug

#8683 Avoid prop reference error when saving cred
  awx/ui_next/src/screens/Credential/CredentialAdd/CredentialAdd.jsx
  awx/ui_next/src/screens/Credential/CredentialEdit/CredentialEdit.jsx
Labels: component:ui_next, mergeit, qe:regression, state:needs_test, type:bug

#8938 Don't build job redirect until data available
  awx/ui_next/src/screens/Job/JobTypeRedirect.jsx
  awx/ui_next/src/screens/Template/Templates.jsx
Labels: component:ui_next, mergeit, type:bug

#8939 Wrap breadcrumb function in useCallback to prevent infinite requests on org tabs
  awx/ui_next/src/screens/Organization/Organizations.jsx
Labels: component:ui_next, mergeit

#8935 [execution environments] Fix raw archive project updates
  awx/main/tasks.py
Labels: mergeit

#8729 Create PaginatedTable component
  awx/ui_next/package-lock.json
  awx/ui_next/package.json
  awx/ui_next/src/components/DataListToolbar/DataListToolbar.jsx
  awx/ui_next/src/components/DisassociateButton/DisassociateButton.jsx
  awx/ui_next/src/components/ListHeader/ListHeader.jsx
  awx/ui_next/src/components/Lookup/HostFilterLookup.jsx
  awx/ui_next/src/components/Lookup/InstanceGroupsLookup.jsx
  awx/ui_next/src/components/PaginatedTable/ActionItem.jsx
  awx/ui_next/src/components/PaginatedTable/ActionItem.test.jsx
  awx/ui_next/src/components/PaginatedTable/ActionsTd.jsx
  awx/ui_next/src/components/PaginatedTable/HeaderRow.jsx
  awx/ui_next/src/components/PaginatedTable/HeaderRow.test.jsx
  awx/ui_next/src/components/PaginatedTable/PaginatedTable.jsx
  awx/ui_next/src/components/PaginatedTable/PaginatedTable.test.jsx
  awx/ui_next/src/components/PaginatedTable/index.js
  awx/ui_next/src/components/RoutedTabs/RoutedTabs.jsx
  awx/ui_next/src/components/Sparkline/Sparkline.jsx
  awx/ui_next/src/components/StatusLabel/StatusLabel.jsx
  awx/ui_next/src/screens/Inventory/InventoryList/InventoryList.jsx
  awx/ui_next/src/screens/Inventory/InventoryList/InventoryListItem.jsx
  awx/ui_next/src/screens/Inventory/InventoryList/InventoryListItem.test.jsx
  awx/ui_next/src/screens/Inventory/SmartInventoryEdit/SmartInventoryEdit.test.jsx
  awx/ui_next/src/screens/Inventory/shared/InventoryForm.test.jsx
  awx/ui_next/src/screens/Inventory/shared/InventoryGroupsDeleteModal.jsx
  awx/ui_next/src/screens/Inventory/shared/SmartInventoryForm.jsx
  awx/ui_next/src/screens/Inventory/shared/SmartInventoryForm.test.jsx
  awx/ui_next/src/screens/Organization/OrganizationList/OrganizationList.jsx
  awx/ui_next/src/screens/Organization/OrganizationList/OrganizationList.test.jsx
  awx/ui_next/src/screens/Organization/OrganizationList/OrganizationListItem.jsx
  awx/ui_next/src/screens/Organization/OrganizationList/OrganizationListItem.test.jsx
  awx/ui_next/src/screens/Team/shared/TeamForm.test.jsx
  awx/ui_next/testUtils/enzymeHelpers.jsx
Labels: component:ui_next, mergeit, state:needs_test, type:enhancement

#8667 Fix issue with broken survey question edit breadcrumb by altering the url scheme
  awx/ui_next/src/screens/Template/Survey/SurveyListItem.jsx
  awx/ui_next/src/screens/Template/Survey/SurveyQuestionEdit.jsx
  awx/ui_next/src/screens/Template/Survey/SurveyQuestionEdit.test.jsx
  awx/ui_next/src/screens/Template/Survey/SurveyQuestionForm.jsx
  awx/ui_next/src/screens/Template/TemplateSurvey.jsx
Labels: component:ui_next, mergeit, priority:high, type:bug

#8912 Update consumers.py
  awx/main/consumers.py
Labels: mergeit, type:bug

#8951 Added module prefix to awx license module example documentation
  awx_collection/plugins/modules/tower_license.py
Labels: component:docs, mergeit

#8967 Remove launch scripts from configmaps
  installer/roles/image_build/files/launch_awx_task.sh
  installer/roles/image_build/tasks/main.yml
  installer/roles/kubernetes/tasks/main.yml
  installer/roles/kubernetes/templates/deployment.yml.j2
  installer/roles/kubernetes/templates/launch_awx.yml.j2
Labels: mergeit

#8657 Display 'System' for user role resource name when summary_fields.resource_name not present
  awx/ui_next/src/screens/User/UserRoles/UserRolesListItem.jsx
  awx/ui_next/src/screens/User/UserRoles/UserRolesListItem.test.jsx
Labels: component:ui_next, mergeit, type:bug

#8968 Refactor official image build process
  .gitignore
  Makefile
  installer/roles/image_build/files/Dockerfile.sdist
  installer/roles/image_build/tasks/main.yml
  installer/roles/image_build/templates/Dockerfile.j2
Labels: mergeit

#8963 Fix navigation bug in job output
  awx/ui_next/src/screens/Job/Job.jsx
  awx/ui_next/src/screens/Job/Jobs.jsx
Labels: component:ui_next, mergeit, state:needs_test, type:bug

#8972 Restore old behavior of ui-devel
  Makefile
Labels: mergeit

#8959 Default to lang in catalog when browser preference unavailable
  awx/ui_next/src/App.jsx
Labels: component:ui_next, mergeit, state:needs_test, type:bug

#8928 Disable cancel button on jobs list when one or more selected jobs is not running
  awx/ui_next/src/components/JobList/JobListCancelButton.jsx
  awx/ui_next/src/components/JobList/JobListCancelButton.test.jsx
Labels: component:ui_next, mergeit, state:needs_test
