Repository ansible/awx, pull requests merged in 2020-09, with the labels that each got.

#8047 Remove more special access to folders outside job private_data_dir
  awx/main/tasks.py
Labels: component:api, mergeit

#8007 defer loading Job.artifacts and .extra_vars on host views to improve performance
  awx/api/serializers.py
  awx/main/managers.py
Labels: component:api, mergeit

#7763 Feature inv plugin conf
  awx/api/metadata.py
  awx/api/serializers.py
  awx/main/management/commands/inventory_import.py
  awx/main/migrations/0119_inventory_plugins.py
  awx/main/migrations/_inventory_source_vars.py
  awx/main/models/inventory.py
  awx/main/tasks.py
  awx/main/tests/data/inventory/plugins/azure_rm/files/azure_rm.yml
  awx/main/tests/data/inventory/plugins/ec2/files/aws_ec2.yml
  awx/main/tests/data/inventory/plugins/gce/files/gcp_compute.yml
  awx/main/tests/data/inventory/plugins/openstack/files/file_reference
  awx/main/tests/data/inventory/plugins/openstack/files/openstack.yml
  awx/main/tests/data/inventory/plugins/rhv/files/ovirt.yml
  awx/main/tests/data/inventory/plugins/satellite6/files/foreman.yml
  awx/main/tests/data/inventory/plugins/tower/files/tower.yml
  awx/main/tests/data/inventory/plugins/vmware/files/vmware_vm_inventory.yml
  awx/main/tests/functional/api/test_inventory.py
  awx/main/tests/functional/models/test_inventory.py
  awx/main/tests/functional/test_inventory_source_injectors.py
  awx/main/tests/unit/models/test_inventory.py
  awx/main/tests/unit/test_tasks.py
  awx/main/tests/unit/utils/test_common.py
  awx/main/utils/common.py
  awx/settings/defaults.py
  awx/ui/client/src/inventories-hosts/inventories/related/sources/add/sources-add.controller.js
  awx/ui/client/src/inventories-hosts/inventories/related/sources/edit/sources-edit.controller.js
  awx/ui/client/src/inventories-hosts/inventories/related/sources/sources.form.js
  awx/ui/client/src/inventories-hosts/inventories/related/sources/sources.service.js
  awx/ui_next/src/screens/Inventory/InventorySourceDetail/InventorySourceDetail.jsx
  awx/ui_next/src/screens/Inventory/InventorySourceDetail/InventorySourceDetail.test.jsx
  awx/ui_next/src/screens/Inventory/shared/InventorySourceForm.jsx
  awx/ui_next/src/screens/Inventory/shared/InventorySourceSubForms/AzureSubForm.jsx
  awx/ui_next/src/screens/Inventory/shared/InventorySourceSubForms/AzureSubForm.test.jsx
  awx/ui_next/src/screens/Inventory/shared/InventorySourceSubForms/CloudFormsSubForm.jsx
  awx/ui_next/src/screens/Inventory/shared/InventorySourceSubForms/CloudFormsSubForm.test.jsx
  awx/ui_next/src/screens/Inventory/shared/InventorySourceSubForms/EC2SubForm.jsx
  awx/ui_next/src/screens/Inventory/shared/InventorySourceSubForms/EC2SubForm.test.jsx
  awx/ui_next/src/screens/Inventory/shared/InventorySourceSubForms/GCESubForm.jsx
  awx/ui_next/src/screens/Inventory/shared/InventorySourceSubForms/GCESubForm.test.jsx
  awx/ui_next/src/screens/Inventory/shared/InventorySourceSubForms/OpenStackSubForm.jsx
  awx/ui_next/src/screens/Inventory/shared/InventorySourceSubForms/OpenStackSubForm.test.jsx
  awx/ui_next/src/screens/Inventory/shared/InventorySourceSubForms/SCMSubForm.jsx
  awx/ui_next/src/screens/Inventory/shared/InventorySourceSubForms/SCMSubForm.test.jsx
  awx/ui_next/src/screens/Inventory/shared/InventorySourceSubForms/SatelliteSubForm.jsx
  awx/ui_next/src/screens/Inventory/shared/InventorySourceSubForms/SatelliteSubForm.test.jsx
  awx/ui_next/src/screens/Inventory/shared/InventorySourceSubForms/SharedFields.jsx
  awx/ui_next/src/screens/Inventory/shared/InventorySourceSubForms/TowerSubForm.jsx
  awx/ui_next/src/screens/Inventory/shared/InventorySourceSubForms/TowerSubForm.test.jsx
  awx/ui_next/src/screens/Inventory/shared/InventorySourceSubForms/VMwareSubForm.jsx
  awx/ui_next/src/screens/Inventory/shared/InventorySourceSubForms/VMwareSubForm.test.jsx
  awx/ui_next/src/screens/Inventory/shared/InventorySourceSubForms/VirtualizationSubForm.jsx
  awx/ui_next/src/screens/Inventory/shared/InventorySourceSubForms/VirtualizationSubForm.test.jsx
  awx/ui_next/src/screens/Inventory/shared/data.inventory_source.json
  awx/ui_next/src/util/validators.jsx
  awx/ui_next/src/util/validators.test.js
  awx_collection/plugins/modules/tower_inventory_source.py
  awx_collection/test/awx/test_inventory_source.py
  awxkit/awxkit/api/pages/inventory.py
  tools/scripts/get_ec2_filter_names.py
Labels: component:api, component:ui, component:ui_next, mergeit, state:needs_test

#7965 adding in inventory to unified job query for analytics
  awx/main/analytics/collectors.py
Labels: component:api, mergeit, state:in_progress, type:enhancement

#8054 add a changelog note about upgrade issues from 13.0 -> 14.0
  CHANGELOG.md
Labels: mergeit

#8022 Add wait function and update collection modules
  awx_collection/plugins/module_utils/tower_api.py
  awx_collection/plugins/modules/tower_job_launch.py
  awx_collection/plugins/modules/tower_job_wait.py
  awx_collection/plugins/modules/tower_workflow_launch.py
  awx_collection/tests/integration/targets/tower_workflow_launch/tasks/main.yml
Labels: component:awx_collection, mergeit, type:enhancement

#8043 Adding tower_instance_group module
  awx_collection/plugins/module_utils/tower_api.py
  awx_collection/plugins/modules/tower_instance_group.py
  awx_collection/test/awx/test_completeness.py
  awx_collection/test/awx/test_instance_group.py
  awx_collection/tests/integration/targets/tower_instance_group/tasks/main.yml
Labels: component:awx_collection, mergeit, type:enhancement

#8056 remove some dead code
  awx/main/tasks.py
Labels: mergeit

#8057 update the project archive sync support for py2 compatability
  awx/playbooks/action_plugins/project_archive.py
Labels: mergeit

#7873 Project update
  awx_collection/plugins/modules/tower_project_update.py
  awx_collection/test/awx/test_completeness.py
  awx_collection/tests/integration/targets/tower_project_update/tasks/main.yml
Labels: component:awx_collection, mergeit, type:enhancement

#8065 Update from pip to pip3
  CONTRIBUTING.md
Labels: component:docs, mergeit

#8064 Respect user proot show paths when using containers
  awx/main/models/credential/__init__.py
  awx/main/tasks.py
Labels: component:api, type:bug

#8069 add the ability to prevent SAML auto-population behavior
  awx/settings/defaults.py
  awx/sso/conf.py
  awx/sso/pipeline.py
  awx/sso/tests/functional/test_pipeline.py
Labels: mergeit

#7960 Support file upload/drag and drop on credential mutliline fields
  awx/ui_next/src/screens/Credential/shared/CredentialForm.jsx
  awx/ui_next/src/screens/Credential/shared/CredentialForm.test.jsx
  awx/ui_next/src/screens/Credential/shared/CredentialFormFields/CredentialField.jsx
Labels: component:ui_next, mergeit, state:needs_test

#8084 remove old fact scanning plugins
  awx/main/tasks.py
  awx/playbooks/scan_facts.yml
  awx/plugins/library/scan_files.py
  awx/plugins/library/scan_insights.py
  awx/plugins/library/scan_packages.py
  awx/plugins/library/scan_services.py
  awx/plugins/library/win_scan_files.ps1
  awx/plugins/library/win_scan_packages.ps1
  awx/plugins/library/win_scan_services.ps1
Labels: component:api, mergeit

#8075 if redis is unreachable, set instance capacity to zero
  awx/main/models/ha.py
  awx/main/tests/functional/test_jobs.py
Labels: component:api, mergeit

#7974 Adds fix to load template details
  awx/ui_next/src/api/models/JobTemplates.js
  awx/ui_next/src/api/models/WorkflowJobTemplates.js
  awx/ui_next/src/screens/Template/Template.jsx
  awx/ui_next/src/screens/Template/Template.test.jsx
  awx/ui_next/src/screens/Template/WorkflowJobTemplate.jsx
  awx/ui_next/src/screens/Template/WorkflowJobTemplate.test.jsx
  awx/ui_next/src/screens/Template/shared/data.job_template.json
Labels: component:ui_next, mergeit, state:needs_test, type:bug

#7975 Disables template and workflow template fields.
  awx/ui_next/src/components/FieldWithPrompt/FieldWithPrompt.jsx
  awx/ui_next/src/components/FormField/CheckboxField.jsx
  awx/ui_next/src/components/Lookup/CredentialLookup.jsx
  awx/ui_next/src/components/Lookup/InventoryLookup.jsx
  awx/ui_next/src/components/Lookup/Lookup.jsx
  awx/ui_next/src/components/Lookup/ProjectLookup.jsx
  awx/ui_next/src/components/MultiSelect/useSyncedSelectValue.js
  awx/ui_next/src/screens/Template/JobTemplateEdit/JobTemplateEdit.jsx
  awx/ui_next/src/screens/Template/JobTemplateEdit/JobTemplateEdit.test.jsx
  awx/ui_next/src/screens/Template/shared/JobTemplateForm.jsx
  awx/ui_next/src/screens/Template/shared/JobTemplateForm.test.jsx
  awx/ui_next/src/screens/Template/shared/PlaybookSelect.jsx
  awx/ui_next/src/screens/Template/shared/WorkflowJobTemplateForm.jsx
  awx/ui_next/src/screens/Template/shared/WorkflowJobTemplateForm.test.jsx
Labels: component:ui_next, mergeit, state:needs_devel, type:bug

#8033 Add New tower_inventory_source_update Module
  awx/main/tests/factories/README.md
  awx_collection/plugins/modules/tower_inventory_source.py
  awx_collection/plugins/modules/tower_inventory_source_update.py
  awx_collection/test/awx/test_completeness.py
  awx_collection/test/awx/test_inventory_source.py
  awx_collection/tests/integration/targets/tower_inventory_source_update/tasks/main.yml
Labels: component:awx_collection, mergeit

#8092 List jobs for container groups
  awx/ui_next/src/screens/InstanceGroup/ContainerGroup.jsx
  awx/ui_next/src/screens/InstanceGroup/Jobs/Jobs.jsx
  awx/ui_next/src/screens/InstanceGroup/Jobs/index.js
Labels: component:ui_next, mergeit

#8074 Prevent task manager timeout by limiting number of jobs to start
  awx/main/scheduler/task_manager.py
  awx/settings/defaults.py
Labels: component:api, mergeit, type:bug

#8094 Update Django and channels_redis
  awx/main/consumers.py
  awx/settings/defaults.py
  requirements/requirements.in
  requirements/requirements.txt
Labels: mergeit

#8089 Provide a distinct column name for inventory_name in unifiedjob analy…
  awx/main/analytics/collectors.py
Labels: component:api, mergeit, type:bug

#7967 Notifications form
  awx/ui_next/src/components/CodeMirrorInput/CodeMirrorField.jsx
  awx/ui_next/src/components/CodeMirrorInput/CodeMirrorInput.jsx
  awx/ui_next/src/components/CodeMirrorInput/index.js
  awx/ui_next/src/components/FormField/ArrayTextField.jsx
  awx/ui_next/src/components/FormField/FormSubmitError.jsx
  awx/ui_next/src/components/FormField/index.js
  awx/ui_next/src/components/Lookup/index.js
  awx/ui_next/src/screens/Credential/shared/CredentialForm.jsx
  awx/ui_next/src/screens/Credential/shared/CredentialForm.test.jsx
  awx/ui_next/src/screens/NotificationTemplate/NotificationTemplate.jsx
  awx/ui_next/src/screens/NotificationTemplate/NotificationTemplateAdd.jsx
  awx/ui_next/src/screens/NotificationTemplate/NotificationTemplateDetail/NotificationTemplateDetail.jsx
  awx/ui_next/src/screens/NotificationTemplate/NotificationTemplateEdit/NotificationTemplateEdit.jsx
  awx/ui_next/src/screens/NotificationTemplate/shared/CustomMessagesSubForm.jsx
  awx/ui_next/src/screens/NotificationTemplate/shared/NotificationTemplateForm.jsx
  awx/ui_next/src/screens/NotificationTemplate/shared/NotificationTemplateForm.test.jsx
  awx/ui_next/src/screens/NotificationTemplate/shared/TypeInputsSubForm.jsx
  awx/ui_next/src/screens/NotificationTemplate/shared/typeFieldNames.js
  awx/ui_next/src/types.js
  awx/ui_next/src/util/validators.jsx
  awx/ui_next/src/util/validators.test.js
Labels: component:ui_next, mergeit, type:feature

#8072 Modify get_one method to allow IDs in addition to names
  awx_collection/plugins/module_utils/tower_api.py
  awx_collection/plugins/modules/tower_credential.py
  awx_collection/plugins/modules/tower_credential_type.py
  awx_collection/plugins/modules/tower_group.py
  awx_collection/plugins/modules/tower_host.py
  awx_collection/plugins/modules/tower_instance_group.py
  awx_collection/plugins/modules/tower_inventory.py
  awx_collection/plugins/modules/tower_inventory_source.py
  awx_collection/plugins/modules/tower_job_launch.py
  awx_collection/plugins/modules/tower_job_template.py
  awx_collection/plugins/modules/tower_label.py
  awx_collection/plugins/modules/tower_notification_template.py
  awx_collection/plugins/modules/tower_organization.py
  awx_collection/plugins/modules/tower_project.py
  awx_collection/plugins/modules/tower_project_update.py
  awx_collection/plugins/modules/tower_schedule.py
  awx_collection/plugins/modules/tower_team.py
  awx_collection/plugins/modules/tower_user.py
  awx_collection/plugins/modules/tower_workflow_job_template.py
  awx_collection/plugins/modules/tower_workflow_job_template_node.py
  awx_collection/plugins/modules/tower_workflow_launch.py
  awx_collection/tests/integration/targets/tower_credential/tasks/main.yml
  awx_collection/tests/integration/targets/tower_credential_input_source/tasks/main.yml
  awx_collection/tests/integration/targets/tower_credential_type/tasks/main.yml
  awx_collection/tests/integration/targets/tower_group/tasks/main.yml
  awx_collection/tests/integration/targets/tower_host/tasks/main.yml
  awx_collection/tests/integration/targets/tower_instance_group/tasks/main.yml
  awx_collection/tests/integration/targets/tower_inventory/tasks/main.yml
  awx_collection/tests/integration/targets/tower_inventory_source/tasks/main.yml
  awx_collection/tests/integration/targets/tower_job_template/tasks/main.yml
  awx_collection/tests/integration/targets/tower_user/tasks/main.yml
  awx_collection/tools/roles/generate/templates/tower_module.j2
Labels: component:awx_collection, mergeit

#7817 Support Organization-scoped Galaxy installs
  awx/api/serializers.py
  awx/api/urls/organization.py
  awx/api/views/__init__.py
  awx/api/views/organization.py
  awx/main/access.py
  awx/main/conf.py
  awx/main/constants.py
  awx/main/management/commands/create_preload_data.py
  awx/main/migrations/0120_galaxy_credentials.py
  awx/main/migrations/_galaxy.py
  awx/main/models/credential/__init__.py
  awx/main/models/organization.py
  awx/main/redact.py
  awx/main/tasks.py
  awx/main/tests/functional/api/test_credential_type.py
  awx/main/tests/functional/api/test_organizations.py
  awx/main/tests/functional/models/test_project.py
  awx/main/tests/functional/test_credential.py
  awx/main/tests/functional/test_galaxy_credential_migration.py
  awx/main/tests/unit/test_tasks.py
  awx/settings/defaults.py
  awx/ui/client/src/configuration/forms/jobs-form/configuration-jobs.form.js
  awx/ui/client/src/organizations/add/organizations-add.controller.js
  awx/ui/client/src/organizations/edit/organizations-edit.controller.js
  awx/ui/client/src/organizations/galaxy-credentials-multiselect/galaxy-credentials-modal/galaxy-credentials-modal.directive.js
  awx/ui/client/src/organizations/galaxy-credentials-multiselect/galaxy-credentials-modal/galaxy-credentials-modal.partial.html
  awx/ui/client/src/organizations/galaxy-credentials-multiselect/galaxy-credentials-multiselect.controller.js
  awx/ui/client/src/organizations/galaxy-credentials-multiselect/galaxy-credentials.block.less
  awx/ui/client/src/organizations/galaxy-credentials-multiselect/galaxy-credentials.directive.js
  awx/ui/client/src/organizations/galaxy-credentials-multiselect/galaxy-credentials.partial.html
  awx/ui/client/src/organizations/main.js
  awx/ui/client/src/organizations/organizations.form.js
  awx/ui/client/src/templates/job_templates/multi-credential/multi-credential.service.js
  awxkit/awxkit/api/pages/credentials.py
  awxkit/awxkit/api/pages/organizations.py
  docs/collections.md
Labels: component:api, component:ui, mergeit

#7905 Add Ad Hoc Commands
  awx/ui_next/src/api/models/Inventories.js
  awx/ui_next/src/components/AdHocCommands/AdHocCommands.jsx
  awx/ui_next/src/components/AdHocCommands/AdHocCommands.test.jsx
  awx/ui_next/src/components/AdHocCommands/AdHocCommandsWizard.jsx
  awx/ui_next/src/components/AdHocCommands/AdHocCommandsWizard.test.jsx
  awx/ui_next/src/components/AdHocCommands/AdHocCredentialStep.jsx
  awx/ui_next/src/components/AdHocCommands/AdHocCredentialStep.test.jsx
  awx/ui_next/src/components/AdHocCommands/AdHocDetailsStep.jsx
  awx/ui_next/src/components/AdHocCommands/AdHocDetailsStep.test.jsx
  awx/ui_next/src/components/AdHocCommands/index.js
  awx/ui_next/src/components/CodeMirrorInput/VariablesField.test.jsx
  awx/ui_next/src/components/FieldWithPrompt/FieldWithPrompt.test.jsx
  awx/ui_next/src/components/FormField/FieldTooltip.jsx
  awx/ui_next/src/screens/Inventory/InventoryGroups/InventoryGroupsList.jsx
  awx/ui_next/src/screens/Inventory/InventoryGroups/InventoryGroupsList.test.jsx
  awx/ui_next/src/screens/NotificationTemplate/shared/CustomMessagesSubForm.jsx
Labels: component:ui_next, mergeit

#8058 Workflow label
  awx_collection/plugins/modules/tower_job_template.py
  awx_collection/plugins/modules/tower_workflow_job_template.py
  awx_collection/tests/integration/targets/tower_workflow_job_template/tasks/main.yml
Labels: component:awx_collection, mergeit, type:enhancement

#8111 remove boto as an awx dependency
  requirements/requirements.in
  requirements/requirements.txt
Labels: mergeit

#8118 Update docker-compose.yml.j2
  installer/roles/local_docker/templates/docker-compose.yml.j2
Labels: component:installer, mergeit, type:bug

#8121 address a few follow-up issues for Org -> Galaxy Credentials support
  awx/api/serializers.py
  awx_collection/plugins/modules/tower_organization.py
  awx_collection/tests/integration/targets/tower_organization/tasks/main.yml
Labels: mergeit

#8109 Hack to delete orphaned organizations, consolidate get_one methods
  awx_collection/plugins/module_utils/tower_api.py
  awx_collection/plugins/module_utils/tower_module.py
  awx_collection/plugins/modules/tower_project.py
  awx_collection/plugins/modules/tower_role.py
  awx_collection/test/awx/test_credential.py
  awx_collection/test/awx/test_module_utils.py
  awx_collection/tests/integration/targets/demo_data/tasks/main.yml
  awx_collection/tests/integration/targets/tower_credential/tasks/main.yml
  awx_collection/tests/integration/targets/tower_group/tasks/main.yml
  awx_collection/tests/integration/targets/tower_host/tasks/main.yml
  awx_collection/tests/integration/targets/tower_inventory/tasks/main.yml
  awx_collection/tests/integration/targets/tower_job_launch/tasks/main.yml
  awx_collection/tests/integration/targets/tower_label/tasks/main.yml
  awx_collection/tests/integration/targets/tower_project/tasks/main.yml
  awx_collection/tests/integration/targets/tower_team/tasks/main.yml
  awx_collection/tests/integration/targets/tower_workflow_job_template/tasks/main.yml
Labels: component:awx_collection, mergeit, type:bug

#7993 Adds cancel button to jobs list
  awx/ui_next/src/api/models/Jobs.js
  awx/ui_next/src/components/DataListToolbar/DataListToolbar.jsx
  awx/ui_next/src/components/JobList/JobList.jsx
  awx/ui_next/src/components/JobList/JobList.test.jsx
  awx/ui_next/src/components/JobList/JobListCancelButton.jsx
  awx/ui_next/src/components/JobList/JobListCancelButton.test.jsx
  awx/ui_next/src/components/PaginatedDataList/ToolbarDeleteButton.jsx
  awx/ui_next/src/components/PaginatedDataList/ToolbarDeleteButton.test.jsx
  awx/ui_next/src/screens/Template/TemplateList/TemplateList.test.jsx
Labels: Kebabs, component:ui_next, mergeit

#8125 Fix malformed urls
  awx/ui_next/src/api/models/JobTemplates.js
  awx/ui_next/src/api/models/Roles.js
  awx/ui_next/src/api/models/WorkflowJobTemplates.js
Labels: component:ui_next, mergeit, qe:hit, type:bug

#8119 Adding unzip dnf package
  installer/roles/image_build/templates/Dockerfile.j2
Labels: component:installer, mergeit, type:bug

#8132 Make ansible venv psutil match awx venv version
  requirements/requirements_ansible.in
  requirements/requirements_ansible.txt
Labels: mergeit

#7940 Update job status and workflow node job status based on websocket events
  awx/ui_next/src/components/StatusIcon/StatusIcon.jsx
  awx/ui_next/src/components/Workflow/WorkflowNodeHelp.jsx
  awx/ui_next/src/components/Workflow/WorkflowNodeHelp.test.jsx
  awx/ui_next/src/components/Workflow/workflowReducer.js
  awx/ui_next/src/screens/Inventory/InventoryList/useWsInventories.js
  awx/ui_next/src/screens/Inventory/InventorySources/useWsInventorySources.js
  awx/ui_next/src/screens/Job/Job.jsx
  awx/ui_next/src/screens/Job/WorkflowOutput/WorkflowOutput.jsx
  awx/ui_next/src/screens/Job/WorkflowOutput/WorkflowOutputGraph.test.jsx
  awx/ui_next/src/screens/Job/WorkflowOutput/WorkflowOutputNode.jsx
  awx/ui_next/src/screens/Job/WorkflowOutput/WorkflowOutputNode.test.jsx
  awx/ui_next/src/screens/Job/WorkflowOutput/useWsWorkflowOutput.js
  awx/ui_next/src/screens/Job/useWsJob.js
  awx/ui_next/src/screens/Template/WorkflowJobTemplateAdd/WorkflowJobTemplateAdd.jsx
Labels: component:ui_next, mergeit, state:needs_test

#8133 Update task manager docs
  docs/task_manager_system.md
Labels: component:docs, mergeit

#8102 Remove dead projects code
  awx/ui_next/src/screens/Project/ProjectSchedules/ProjectSchedules.jsx
  awx/ui_next/src/screens/Project/ProjectSchedules/index.js
Labels: component:ui_next, mergeit

#8101 Start with navigation expanded
  awx/ui_next/src/components/AppContainer/NavExpandableGroup.jsx
Labels: component:ui_next, mergeit

#7709 Adjust analytics gathering
  awx/api/views/root.py
  awx/main/analytics/__init__.py
  awx/main/analytics/collectors.py
  awx/main/analytics/core.py
  awx/main/management/commands/gather_analytics.py
  awx/main/migrations/0121_delete_toweranalyticsstate.py
  awx/main/models/ha.py
  awx/main/tasks.py
  awx/main/tests/functional/analytics/test_collectors.py
  awx/main/tests/functional/analytics/test_core.py
  awx/settings/defaults.py
Labels: component:api, mergeit, type:enhancement

#7991 hashivault_kv auth_path moved from metadata to inputs
  awx/main/credential_plugins/hashivault.py
  awx_collection/test/awx/test_credential_input_source.py
Labels: component:api, component:ui, mergeit

#8139 Remove self-closing tags for tag component
  awx/ui/client/lib/components/input/secret.partial.html
Labels: component:ui, mergeit, type:bug

#8070 Add/Edit Container Groups
  awx/ui_next/src/screens/InstanceGroup/ContainerGroup.jsx
  awx/ui_next/src/screens/InstanceGroup/ContainerGroupAdd/ContainerGroupAdd.jsx
  awx/ui_next/src/screens/InstanceGroup/ContainerGroupAdd/ContainerGroupAdd.test.jsx
  awx/ui_next/src/screens/InstanceGroup/ContainerGroupEdit/ContainerGroupEdit.jsx
  awx/ui_next/src/screens/InstanceGroup/ContainerGroupEdit/ContainerGroupEdit.test.jsx
  awx/ui_next/src/screens/InstanceGroup/shared/ContainerGroupForm.jsx
  awx/ui_next/src/screens/InstanceGroup/shared/ContainerGroupForm.test.jsx
Labels: component:ui_next, mergeit

#8055 Fixes some rbac issues in the workflow toolbar and start screen
  awx/ui_next/src/screens/Template/WorkflowJobTemplateVisualizer/Modals/NodeModals/NodeViewModal.jsx
  awx/ui_next/src/screens/Template/WorkflowJobTemplateVisualizer/Modals/NodeModals/NodeViewModal.test.jsx
  awx/ui_next/src/screens/Template/WorkflowJobTemplateVisualizer/Visualizer.jsx
  awx/ui_next/src/screens/Template/WorkflowJobTemplateVisualizer/VisualizerGraph.jsx
  awx/ui_next/src/screens/Template/WorkflowJobTemplateVisualizer/VisualizerStartScreen.jsx
  awx/ui_next/src/screens/Template/WorkflowJobTemplateVisualizer/VisualizerStartScreen.test.jsx
  awx/ui_next/src/screens/Template/WorkflowJobTemplateVisualizer/VisualizerToolbar.jsx
  awx/ui_next/src/screens/Template/WorkflowJobTemplateVisualizer/VisualizerToolbar.test.jsx
Labels: component:ui_next, mergeit

#8141 Print one targz per line (analytics gather)
  awx/main/management/commands/gather_analytics.py
Labels: mergeit

#8138 K8s ServiceAccount variabilization
  installer/roles/kubernetes/defaults/main.yml
  installer/roles/kubernetes/templates/deployment.yml.j2
Labels: component:installer, mergeit, type:enhancement

#8105 Notification Detail: show custom messages
  awx/ui_next/src/components/DetailList/ArrayDetail.jsx
  awx/ui_next/src/components/DetailList/CodeDetail.jsx
  awx/ui_next/src/components/DetailList/DetailList.jsx
  awx/ui_next/src/components/DetailList/index.js
  awx/ui_next/src/components/ResourceAccessList/__snapshots__/ResourceAccessListItem.test.jsx.snap
  awx/ui_next/src/screens/NotificationTemplate/NotificationTemplate.jsx
  awx/ui_next/src/screens/NotificationTemplate/NotificationTemplateDetail/NotificationTemplateDetail.jsx
  awx/ui_next/src/screens/NotificationTemplate/NotificationTemplateList/NotificationTemplateList.jsx
  awx/ui_next/src/screens/NotificationTemplate/shared/NotificationTemplateForm.jsx
  awx/ui_next/src/screens/NotificationTemplate/shared/hasCustomMessages.js
Labels: component:ui_next, mergeit

#8136 Support `!import` and `!include` in `awx import -f yaml` command
  awxkit/awxkit/cli/resource.py
  awxkit/test/cli/test_format.py
Labels: mergeit, type:enhancement

#8147 move an optional import for awxkit
  awxkit/awxkit/yaml_file.py
Labels: mergeit

#8148 Add list Execution Environments
  awx/ui_next/src/api/index.js
  awx/ui_next/src/api/models/ExecutionEnvironments.js
  awx/ui_next/src/components/PaginatedDataList/ToolbarDeleteButton.jsx
  awx/ui_next/src/screens/ExecutionEnvironment/ExecutionEnvironmentList/ExecutionEnviromentList.test.jsx
  awx/ui_next/src/screens/ExecutionEnvironment/ExecutionEnvironmentList/ExecutionEnvironmentList.jsx
  awx/ui_next/src/screens/ExecutionEnvironment/ExecutionEnvironmentList/ExecutionEnvironmentListItem.jsx
  awx/ui_next/src/screens/ExecutionEnvironment/ExecutionEnvironmentList/ExecutionEnvironmentListItem.test.jsx
  awx/ui_next/src/types.js
Labels: component:ui_next

#8087 Add new option update_secrets to allow lazy or strict updating
  awx_collection/plugins/module_utils/tower_api.py
  awx_collection/plugins/module_utils/tower_module.py
  awx_collection/plugins/modules/tower_credential.py
  awx_collection/plugins/modules/tower_user.py
  awx_collection/test/awx/test_completeness.py
  awx_collection/test/awx/test_credential.py
  awx_collection/test/awx/test_user.py
Labels: component:awx_collection, mergeit

#8153 Remove out of date collection testing tools
  tools/collections/README.md
  tools/collections/clone_vendor.sh
Labels: mergeit

#8166 Fix analytics logging
  awx/api/views/metrics.py
  awx/main/analytics/broadcast_websocket.py
  awx/settings/defaults.py
Labels: mergeit

#8159 Fixing issue with lookup plugin not able to load host, user, etc
  awx_collection/plugins/lookup/tower_api.py
  awx_collection/tests/integration/targets/tower_lookup_api_plugin/tasks/main.yml
Labels: component:awx_collection, mergeit

#8165 Add feature to Add/Edit Execution Environments
  awx/ui_next/src/routeConfig.js
  awx/ui_next/src/screens/ExecutionEnvironment/ExecutionEnvironment.jsx
  awx/ui_next/src/screens/ExecutionEnvironment/ExecutionEnvironmentAdd/ExecutionEnvironmentAdd.jsx
  awx/ui_next/src/screens/ExecutionEnvironment/ExecutionEnvironmentAdd/ExecutionEnvironmentAdd.test.jsx
  awx/ui_next/src/screens/ExecutionEnvironment/ExecutionEnvironmentEdit/ExecutionEnvironmentEdit.jsx
  awx/ui_next/src/screens/ExecutionEnvironment/ExecutionEnvironmentEdit/ExecutionEnvironmentEdit.test.jsx
  awx/ui_next/src/screens/ExecutionEnvironment/ExecutionEnvironmentList/ExecutionEnviromentList.test.jsx
  awx/ui_next/src/screens/ExecutionEnvironment/ExecutionEnvironmentList/ExecutionEnvironmentList.jsx
  awx/ui_next/src/screens/ExecutionEnvironment/ExecutionEnvironments.jsx
  awx/ui_next/src/screens/ExecutionEnvironment/shared/ExecutionEnvironmentForm.jsx
  awx/ui_next/src/screens/ExecutionEnvironment/shared/ExecutionEnvironmentForm.test.jsx
Labels: component:ui_next, state:needs_review, type:feature

#8172 Add details page for Execution Environments
  awx/ui_next/src/screens/ExecutionEnvironment/ExecutionEnvironment.jsx
  awx/ui_next/src/screens/ExecutionEnvironment/ExecutionEnvironmentDetails/ExecutionEnvironmentDetails.jsx
  awx/ui_next/src/screens/ExecutionEnvironment/ExecutionEnvironmentDetails/ExecutionEnvironmentDetails.test.jsx
  awx/ui_next/src/screens/ExecutionEnvironment/shared/ExecutionEnvironmentForm.jsx
Labels: component:ui_next, state:needs_review

#8167 Add support for a `--status` to the callback receiver (and improve our approach to stats collection in general)
  awx/main/dispatch/control.py
  awx/main/dispatch/pool.py
  awx/main/dispatch/worker/base.py
  awx/main/management/commands/run_callback_receiver.py
  awx/main/tests/functional/test_dispatch.py
Labels: mergeit

#8178 report callback receiver status in the sosreport
  tools/sosreport/tower.py
Labels: mergeit

#8168 Logout session if config returns 401
  awx/ui_next/src/components/AppContainer/AppContainer.jsx
  awx/ui_next/src/components/AppContainer/AppContainer.test.jsx
Labels: component:ui_next, mergeit

#8150 Update status after sending test notification
  awx/ui_next/src/api/index.js
  awx/ui_next/src/api/models/Notifications.js
  awx/ui_next/src/components/StatusLabel/StatusLabel.jsx
  awx/ui_next/src/screens/NotificationTemplate/NotificationTemplateList/NotificationTemplateListItem.jsx
  awx/ui_next/src/screens/NotificationTemplate/NotificationTemplateList/NotificationTemplateListItem.test.jsx
Labels: component:ui_next, mergeit, state:needs_test

#8152 Fix AWX collection import test interference with Default organization
  awx_collection/tests/integration/targets/tower_import/tasks/main.yml
Labels: component:awx_collection, mergeit

#8078 Add Container Group details
  awx/ui_next/src/screens/InstanceGroup/ContainerGroup.jsx
  awx/ui_next/src/screens/InstanceGroup/ContainerGroupDetails/ContainerGroupDetails.jsx
  awx/ui_next/src/screens/InstanceGroup/ContainerGroupDetails/ContainerGroupDetails.test.jsx
Labels: component:ui_next, mergeit

#8177 fix an rrule bug that causes improper HOURLY/MINUTELY calculation
  awx/main/models/schedules.py
  awx/main/tests/functional/models/test_schedule.py
Labels: mergeit

#8180 Upgrade lingui-cli to 2.9.2
  awx/ui_next/package-lock.json
  awx/ui_next/package.json
Labels: component:ui_next, mergeit, state:needs_test

#8189 Need log level info to show up with new settings
  awx/main/management/commands/gather_analytics.py
Labels: component:api, mergeit

#8179 Fix issue with undefined variable
  awx/ui_next/src/components/InstanceToggle/InstanceToggle.jsx
Labels: component:ui_next, mergeit, state:needs_test, type:bug

#8104 Auto populate various required lookups on various forms
  awx/ui_next/src/components/Lookup/CredentialLookup.jsx
  awx/ui_next/src/components/Lookup/CredentialLookup.test.jsx
  awx/ui_next/src/components/Lookup/OrganizationLookup.jsx
  awx/ui_next/src/components/Lookup/OrganizationLookup.test.jsx
  awx/ui_next/src/components/Lookup/ProjectLookup.jsx
  awx/ui_next/src/components/Lookup/ProjectLookup.test.jsx
  awx/ui_next/src/screens/Application/shared/ApplicationForm.jsx
  awx/ui_next/src/screens/Credential/shared/CredentialForm.jsx
  awx/ui_next/src/screens/Inventory/shared/InventoryForm.jsx
  awx/ui_next/src/screens/Inventory/shared/InventorySourceForm.jsx
  awx/ui_next/src/screens/Inventory/shared/InventorySourceSubForms/AzureSubForm.jsx
  awx/ui_next/src/screens/Inventory/shared/InventorySourceSubForms/CloudFormsSubForm.jsx
  awx/ui_next/src/screens/Inventory/shared/InventorySourceSubForms/EC2SubForm.jsx
  awx/ui_next/src/screens/Inventory/shared/InventorySourceSubForms/GCESubForm.jsx
  awx/ui_next/src/screens/Inventory/shared/InventorySourceSubForms/OpenStackSubForm.jsx
  awx/ui_next/src/screens/Inventory/shared/InventorySourceSubForms/SCMSubForm.jsx
  awx/ui_next/src/screens/Inventory/shared/InventorySourceSubForms/SatelliteSubForm.jsx
  awx/ui_next/src/screens/Inventory/shared/InventorySourceSubForms/TowerSubForm.jsx
  awx/ui_next/src/screens/Inventory/shared/InventorySourceSubForms/VMwareSubForm.jsx
  awx/ui_next/src/screens/Inventory/shared/InventorySourceSubForms/VirtualizationSubForm.jsx
  awx/ui_next/src/screens/Inventory/shared/SmartInventoryForm.jsx
  awx/ui_next/src/screens/Project/shared/ProjectForm.jsx
  awx/ui_next/src/screens/Project/shared/ProjectForm.test.jsx
  awx/ui_next/src/screens/Project/shared/ProjectSubForms/InsightsSubForm.jsx
  awx/ui_next/src/screens/Project/shared/ProjectSubForms/SharedFields.jsx
  awx/ui_next/src/screens/Team/shared/TeamForm.jsx
  awx/ui_next/src/screens/Template/WorkflowJobTemplate.test.jsx
  awx/ui_next/src/screens/Template/shared/JobTemplateForm.jsx
  awx/ui_next/src/screens/Template/shared/WebhookSubForm.jsx
  awx/ui_next/src/screens/Template/shared/WorkflowJobTemplateForm.jsx
  awx/ui_next/src/screens/User/shared/UserForm.jsx
  awx/ui_next/src/util/useAutoPopulateLookup.jsx
Labels: component:ui_next, mergeit

#8204 Replace google oauth2 setting with more inclusive language
  awx/sso/conf.py
Labels: mergeit

#8213 expose GALAXY_IGNORE_CERTS in the job settings UI
  awx/main/conf.py
  awx/ui/client/src/configuration/forms/jobs-form/configuration-jobs.form.js
Labels: mergeit

#8212 Add custom root ca certificate via configmap
  installer/inventory
  installer/roles/kubernetes/tasks/main.yml
  installer/roles/kubernetes/templates/deployment.yml.j2
  installer/roles/kubernetes/templates/management-pod.yml.j2
  installer/roles/kubernetes/templates/postgres_root_ca.yml.j2
Labels: component:installer, mergeit, type:enhancement

#8193 add a few additional optimizations to the callback receiver
  awx/conf/settings.py
  awx/main/models/events.py
  awx/ui/client/features/output/stream.service.js
  awx/ui/test/unit/components/stream.unit.js
Labels: component:api, component:ui, mergeit, state:needs_review

#8206 change host -> last_job_id bulk update query to avoid locking issues
  awx/main/models/events.py
Labels: mergeit

#8217 Update usage of summary_fields for execution environments
  awx/ui_next/src/components/PaginatedDataList/ToolbarDeleteButton.jsx
  awx/ui_next/src/screens/ExecutionEnvironment/ExecutionEnvironmentList/ExecutionEnviromentList.test.jsx
  awx/ui_next/src/screens/ExecutionEnvironment/shared/ExecutionEnvironmentForm.test.jsx
Labels: component:ui_next, state:needs_review

#8221 Enable "On Fail" Notifications to Send Upon Timeout of Job Templates
  awx/main/tasks.py
Labels: component:api, mergeit, priority:medium, state:needs_review, type:bug

#8191 remove multiprocessing.Queue usage from the callback receiver
  awx/main/dispatch/control.py
  awx/main/dispatch/worker/base.py
  awx/main/dispatch/worker/callback.py
  awx/settings/defaults.py
Labels: mergeit

#8205 Tower application continuation
  awx_collection/plugins/modules/tower_application.py
  awx_collection/test/awx/test_application.py
  awx_collection/test/awx/test_completeness.py
  awx_collection/tests/integration/targets/tower_application/tasks/main.yml
Labels: component:awx_collection, mergeit, type:enhancement

#8232 Fix extra GET requests on Notif Template/Container Groups forms
  awx/ui_next/src/screens/InstanceGroup/shared/ContainerGroupForm.jsx
  awx/ui_next/src/screens/NotificationTemplate/shared/NotificationTemplateForm.jsx
Labels: component:ui_next, mergeit

#7338 Hook up Test button on Metadata step in credential plugin wizard
  awx/ui_next/src/screens/Credential/shared/CredentialFormFields/CredentialField.jsx
  awx/ui_next/src/screens/Credential/shared/CredentialFormFields/CredentialPlugins/CredentialPluginPrompt/CredentialPluginPrompt.jsx
  awx/ui_next/src/screens/Credential/shared/CredentialPlugins/CredentialPluginField.jsx
  awx/ui_next/src/screens/Credential/shared/CredentialPlugins/CredentialPluginField.test.jsx
  awx/ui_next/src/screens/Credential/shared/CredentialPlugins/CredentialPluginPrompt/CredentialPluginPrompt.jsx
  awx/ui_next/src/screens/Credential/shared/CredentialPlugins/CredentialPluginPrompt/CredentialPluginPrompt.test.jsx
  awx/ui_next/src/screens/Credential/shared/CredentialPlugins/CredentialPluginPrompt/CredentialsStep.jsx
  awx/ui_next/src/screens/Credential/shared/CredentialPlugins/CredentialPluginPrompt/MetadataStep.jsx
  awx/ui_next/src/screens/Credential/shared/CredentialPlugins/CredentialPluginPrompt/index.js
  awx/ui_next/src/screens/Credential/shared/CredentialPlugins/CredentialPluginSelected.jsx
  awx/ui_next/src/screens/Credential/shared/CredentialPlugins/CredentialPluginSelected.test.jsx
  awx/ui_next/src/screens/Credential/shared/CredentialPlugins/CredentialPluginTestAlert.jsx
  awx/ui_next/src/screens/Credential/shared/CredentialPlugins/CredentialPluginTestAlert.test.jsx
  awx/ui_next/src/screens/Credential/shared/CredentialPlugins/index.js
  awx/ui_next/src/screens/Credential/shared/ExternalTestModal.jsx
  awx/ui_next/src/util/useRequest.js
  awx/ui_next/src/util/useRequest.test.jsx
Labels: component:ui_next, mergeit, state:needs_test

#8220 Fix padding on field labels with prompt on launch checkboxes
  awx/ui_next/src/components/CodeMirrorInput/VariablesField.jsx
  awx/ui_next/src/components/FieldWithPrompt/FieldWithPrompt.jsx
Labels: component:ui_next, mergeit, qe:visual

#8236 refactor some callback receiver code
  awx/main/dispatch/worker/callback.py
  awx/main/models/events.py
Labels: mergeit

#8001 allow skipping provision instance and register queue
  installer/roles/image_build/templates/launch_awx_task.sh.j2
Labels: component:api, component:installer, mergeit, type:enhancement

#8242 Replace certifi with an alternate version
  docs/licenses/certifi.txt
  docs/licenses/system-certifi.txt
  requirements/requirements.txt
  requirements/requirements_ansible.txt
  requirements/requirements_ansible_git.txt
  requirements/requirements_git.txt
Labels: component:api, mergeit, type:enhancement

#8224 Ability to import standard pgdump into Openshift
  installer/roles/kubernetes/tasks/restore.yml
Labels: mergeit

#8259 Include Gettext in dev container image for translation automation
  installer/roles/image_build/templates/Dockerfile.j2
Labels: component:installer, mergeit, type:bug

#8254 Fix a few typos in awx/ui
  awx/ui/client/src/shared/Modal.js
  awx/ui/test/spec/inventories/insights/data/insights-data.js
  awx/ui/test/spec/inventories/insights/data/medium.insights-data.js
  awx/ui/test/spec/inventories/insights/data/solvable.insights-data.js
Labels: component:docs, component:ui, mergeit

#8228 Adding ad hoc command modules
  awx_collection/plugins/modules/tower_ad_hoc_command.py
  awx_collection/plugins/modules/tower_ad_hoc_command_cancel.py
  awx_collection/plugins/modules/tower_ad_hoc_command_wait.py
  awx_collection/test/awx/test_ad_hoc_wait.py
  awx_collection/test/awx/test_completeness.py
  awx_collection/tests/integration/targets/tower_ad_hoc_command/tasks/main.yml
  awx_collection/tests/integration/targets/tower_ad_hoc_command_cancel/tasks/main.yml
  awx_collection/tests/integration/targets/tower_ad_hoc_command_wait/tasks/main.yml
  awx_collection/tools/vars/resolution.yml
Labels: component:awx_collection, mergeit

#8251 fix a bug that can break password prompting in certain scenarios
  awx/api/serializers.py
  awx/main/tests/functional/api/test_job_runtime_params.py
Labels: mergeit

#8265 fixed typo in the word example
  installer/inventory
Labels: mergeit

#8253 Fix Approval Node Edit Permissions
  awx/main/access.py
Labels: component:api, mergeit, state:needs_review, type:bug

#8229 Make filter a bit more consistent accross UI
  awx/ui_next/src/components/Schedule/ScheduleList/ScheduleList.jsx
  awx/ui_next/src/screens/Credential/CredentialList/CredentialList.jsx
  awx/ui_next/src/screens/CredentialType/CredentialTypeList/CredentialTypeList.jsx
  awx/ui_next/src/screens/Host/HostList/HostList.jsx
  awx/ui_next/src/screens/Inventory/InventoryList/InventoryList.jsx
  awx/ui_next/src/screens/NotificationTemplate/NotificationTemplateList/NotificationTemplateList.jsx
  awx/ui_next/src/screens/Organization/OrganizationList/OrganizationList.jsx
  awx/ui_next/src/screens/Project/ProjectList/ProjectList.jsx
  awx/ui_next/src/screens/Team/TeamList/TeamList.jsx
Labels: component:ui_next, mergeit

#8041 Adds support for pending deletion on inventory list
  awx/ui_next/src/components/AdHocCommands/AdHocDetailsStep.test.jsx
  awx/ui_next/src/components/CopyButton/CopyButton.jsx
  awx/ui_next/src/components/CopyButton/CopyButton.test.jsx
  awx/ui_next/src/components/ErrorDetail/ErrorDetail.jsx
  awx/ui_next/src/components/PaginatedDataList/ToolbarDeleteButton.jsx
  awx/ui_next/src/components/PaginatedDataList/__snapshots__/ToolbarDeleteButton.test.jsx.snap
  awx/ui_next/src/screens/Credential/CredentialList/CredentialListItem.jsx
  awx/ui_next/src/screens/Inventory/InventoryDetail/InventoryDetail.jsx
  awx/ui_next/src/screens/Inventory/InventoryList/InventoryList.jsx
  awx/ui_next/src/screens/Inventory/InventoryList/InventoryListItem.jsx
  awx/ui_next/src/screens/Inventory/InventoryList/useWsInventories.js
  awx/ui_next/src/screens/Inventory/InventoryList/useWsInventories.test.jsx
  awx/ui_next/src/screens/Project/ProjectList/ProjectListItem.jsx
  awx/ui_next/src/screens/Template/TemplateList/TemplateListItem.jsx
Labels: component:ui_next, mergeit

#8260 update to the latest Django Rest Framework
  requirements/requirements.in
  requirements/requirements.txt
Labels: component:api, mergeit

#8267 Reset error/result only after the next request has resolved to prevent render flickering
  awx/ui_next/src/util/useRequest.js
Labels: component:ui_next, mergeit

#8248 bump version to 15.0.0
  CHANGELOG.md
  VERSION
  awxkit/VERSION
Labels: mergeit

#8239 Add validate for `CredentialLookup` using required prop
  awx/ui_next/src/screens/InstanceGroup/shared/ContainerGroupForm.jsx
  awx/ui_next/src/screens/InstanceGroup/shared/ContainerGroupForm.test.jsx
  awx/ui_next/src/screens/Inventory/shared/InventorySourceSubForms/AzureSubForm.jsx
  awx/ui_next/src/screens/Inventory/shared/InventorySourceSubForms/CloudFormsSubForm.jsx
  awx/ui_next/src/screens/Inventory/shared/InventorySourceSubForms/GCESubForm.jsx
  awx/ui_next/src/screens/Inventory/shared/InventorySourceSubForms/OpenStackSubForm.jsx
  awx/ui_next/src/screens/Inventory/shared/InventorySourceSubForms/SatelliteSubForm.jsx
  awx/ui_next/src/screens/Inventory/shared/InventorySourceSubForms/TowerSubForm.jsx
  awx/ui_next/src/screens/Inventory/shared/InventorySourceSubForms/VMwareSubForm.jsx
  awx/ui_next/src/screens/Inventory/shared/InventorySourceSubForms/VirtualizationSubForm.jsx
Labels: component:ui_next, mergeit

#8279 Clarify changelog addition to address CVE-2020-25626
  CHANGELOG.md
Labels: mergeit

#8280 Make ContainerGroupDetails a bit more robust
  awx/ui_next/src/screens/InstanceGroup/ContainerGroupDetails/ContainerGroupDetails.jsx
Labels: component:ui_next, mergeit

#8274 Add New Testing Document for AWX Collections
  awx_collection/TESTING.md
  awx_collection/images/completeness_test_output.png
Labels: component:awx_collection, component:docs, mergeit
