Repository ansible/awx, pull requests merged in 2020-08, with the labels that each got.

#7796 Fix garbage being printed when exporting as YAML - related #7795
  awxkit/awxkit/cli/format.py
Labels: mergeit, type:bug

#7724 Adds delete functionality to user tokens list
  awx/ui_next/src/screens/User/UserTokenList/UserTokenList.jsx
  awx/ui_next/src/screens/User/UserTokenList/UserTokenList.test.jsx
Labels: component:ui_next, mergeit

#7577 Removes Inventory Script screens, routes, stubs etc.
  awx/ui_next/src/components/Lookup/InventoryScriptLookup.jsx
  awx/ui_next/src/components/PromptDetail/PromptInventorySourceDetail.jsx
  awx/ui_next/src/components/PromptDetail/PromptInventorySourceDetail.test.jsx
  awx/ui_next/src/routeConfig.js
  awx/ui_next/src/screens/Inventory/InventorySourceAdd/InventorySourceAdd.test.jsx
  awx/ui_next/src/screens/Inventory/InventorySourceDetail/InventorySourceDetail.jsx
  awx/ui_next/src/screens/Inventory/InventorySourceDetail/InventorySourceDetail.test.jsx
  awx/ui_next/src/screens/Inventory/InventorySourceEdit/InventorySourceEdit.test.jsx
  awx/ui_next/src/screens/Inventory/shared/InventorySourceForm.jsx
  awx/ui_next/src/screens/Inventory/shared/InventorySourceForm.test.jsx
  awx/ui_next/src/screens/Inventory/shared/InventorySourceSubForms/CustomScriptSubForm.jsx
  awx/ui_next/src/screens/Inventory/shared/InventorySourceSubForms/CustomScriptSubForm.test.jsx
  awx/ui_next/src/screens/Inventory/shared/InventorySourceSubForms/index.js
  awx/ui_next/src/screens/InventoryScript/InventoryScripts.jsx
  awx/ui_next/src/screens/InventoryScript/InventoryScripts.test.jsx
  awx/ui_next/src/screens/InventoryScript/index.js
  awx/ui_next/src/screens/Template/WorkflowJobTemplateVisualizer/Modals/NodeModals/NodeTypeStep/InventorySourcesList.jsx
Labels: component:ui_next, mergeit, state:needs_test, type:feature

#7802 remove vNNN from example migration files
  Makefile
Labels: mergeit

#7811 mark PRIMARY_GALAXY_USERNAME and PRIMARY_GALAXY_PASSWORD as deprecated
  awx/main/conf.py
Labels: mergeit

#7768 Create marginally more realistic event data with firehose
  tools/scripts/firehose.py
Labels: component:api, mergeit, type:enhancement

#7823 Catching runtime error
  awx/main/models/unified_jobs.py
Labels: component:api, mergeit, type:bug

#7824 Fix isolated dev env
  tools/docker-isolated/Dockerfile
Labels: mergeit

#7836 merge in a few downstream fixes
  CHANGELOG.md
  awx/api/generics.py
  awx/api/views/__init__.py
  awx/main/access.py
  awx/main/credential_plugins/aim.py
  awx/main/credential_plugins/conjur.py
  awx/main/credential_plugins/hashivault.py
  awx/main/credential_plugins/plugin.py
  awx/main/middleware.py
  awx/main/notifications/grafana_backend.py
  awx/main/notifications/mattermost_backend.py
  awx/main/notifications/rocketchat_backend.py
  awx/main/notifications/webhook_backend.py
  awx/main/tests/functional/test_named_url.py
  awx/main/tests/functional/test_rbac_label.py
Labels: mergeit

#7477 Add execution environment metadata to AWX collection
  awx_collection/requirements.txt
Labels: component:awx_collection, mergeit, type:enhancement

#7838 Bump version to 14.0.0
  CHANGELOG.md
  VERSION
  awxkit/VERSION
Labels: mergeit

#7821 Handle form submission errors that may be deeply nested in the return object
  awx/ui_next/src/components/FormField/FormSubmitError.jsx
  awx/ui_next/src/components/FormField/FormSubmitError.test.jsx
Labels: component:ui_next, mergeit, state:needs_test

#7810 Fix rbac on Add button on User Access/Team Roles lists
  awx/ui_next/src/api/models/Users.js
  awx/ui_next/src/screens/Team/Team.jsx
  awx/ui_next/src/screens/Team/TeamRoles/TeamRolesList.jsx
  awx/ui_next/src/screens/Team/TeamRoles/TeamRolesList.test.jsx
  awx/ui_next/src/screens/User/User.jsx
  awx/ui_next/src/screens/User/UserAccess/UserAccessList.jsx
  awx/ui_next/src/screens/User/UserAccess/UserAccessList.test.jsx
  awx/ui_next/src/screens/User/UserAccess/index.js
Labels: component:ui_next, mergeit, state:needs_test

#7842 Remove showExpandCollapse prop from the DataListToolbar calls
  awx/ui_next/src/components/DataListToolbar/DataListToolbar.test.jsx
  awx/ui_next/src/components/JobList/JobList.jsx
  awx/ui_next/src/screens/Application/ApplicationTokens/ApplicationTokenList.jsx
  awx/ui_next/src/screens/Application/ApplicationsList/ApplicationsList.jsx
  awx/ui_next/src/screens/CredentialType/CredentialTypeList/CredentialTypeList.jsx
  awx/ui_next/src/screens/InstanceGroup/InstanceGroupList/InstanceGroupList.jsx
  awx/ui_next/src/screens/Inventory/InventoryList/InventoryList.jsx
  awx/ui_next/src/screens/Project/ProjectJobTemplatesList/ProjectJobTemplatesList.jsx
  awx/ui_next/src/screens/Template/TemplateList/TemplateList.jsx
Labels: component:ui_next, mergeit

#7840 Make 'inputs' Unchanged When Blank in Credentials Module
  awx_collection/plugins/modules/tower_credential.py
  awx_collection/tests/integration/targets/tower_credential/tasks/main.yml
Labels: component:awx_collection, mergeit, state:needs_review

#7852 Awx env receptor
  installer/roles/image_build/templates/Dockerfile.j2
  tools/docker-compose-cluster.yml
  tools/docker-compose.yml
  tools/docker-compose/supervisor.conf
Labels: component:installer, type:enhancement

#7863 fix busted flake8 CI
  setup.cfg
  tox.ini
Labels: mergeit

#7856 Fix early return in assign related method
  awxkit/awxkit/api/pages/api.py
Labels: component:cli, mergeit

#7847 Export Workflow Job Template Node Labels
  awxkit/awxkit/api/pages/labels.py
Labels: component:cli, mergeit, type:enhancement

#7861 Update websockets.md
  docs/websockets.md
Labels: mergeit

#7776 Add feature to add instance group
  awx/ui_next/src/screens/InstanceGroup/InstanceGroupAdd/InstanceGroupAdd.jsx
  awx/ui_next/src/screens/InstanceGroup/InstanceGroupAdd/InstanceGroupAdd.test.jsx
  awx/ui_next/src/screens/InstanceGroup/shared/InstanceGroupForm.jsx
  awx/ui_next/src/screens/InstanceGroup/shared/InstanceGroupForm.test.jsx
Labels: component:ui_next, mergeit, state:needs_test

#7860 Upgrade gitpython to pick up bug fix
  requirements/README.md
  requirements/requirements.in
  requirements/requirements.txt
Labels: component:api, mergeit

#7644 Add smart inventory add/edit forms and host filter lookup
  awx/ui_next/src/components/Lookup/HostFilterLookup.jsx
  awx/ui_next/src/components/Lookup/OrganizationLookup.jsx
  awx/ui_next/src/components/Lookup/index.js
  awx/ui_next/src/components/Lookup/shared/HostFilterUtils.jsx
  awx/ui_next/src/components/Lookup/shared/HostFilterUtils.test.jsx
  awx/ui_next/src/components/Search/Search.jsx
  awx/ui_next/src/screens/Inventory/InventorySourceEdit/InventorySourceEdit.test.jsx
  awx/ui_next/src/screens/Inventory/SmartInventoryAdd/SmartInventoryAdd.jsx
  awx/ui_next/src/screens/Inventory/SmartInventoryAdd/SmartInventoryAdd.test.jsx
  awx/ui_next/src/screens/Inventory/SmartInventoryDetail/SmartInventoryDetail.test.jsx
  awx/ui_next/src/screens/Inventory/SmartInventoryEdit/SmartInventoryEdit.jsx
  awx/ui_next/src/screens/Inventory/SmartInventoryEdit/SmartInventoryEdit.test.jsx
  awx/ui_next/src/screens/Inventory/shared/SmartInventoryForm.jsx
  awx/ui_next/src/screens/Inventory/shared/SmartInventoryForm.test.jsx
  awx/ui_next/src/screens/Inventory/shared/data.smart_inventory.json
Labels: component:ui_next, mergeit, type:feature

#7808 Allow YAML as a CLI import format
  awxkit/awxkit/cli/client.py
  awxkit/awxkit/cli/format.py
  awxkit/awxkit/cli/resource.py
  awxkit/test/cli/test_format.py
Labels: mergeit, type:enhancement

#7872 Fix awx.awx version replacement regex
  awx_collection/tools/roles/template_galaxy/tasks/main.yml
Labels: component:api, mergeit, type:bug

#7871 update to a newer python-ldap to address a bug
  CHANGELOG.md
  requirements/requirements.in
  requirements/requirements.txt
Labels: mergeit

#7875 changelog updates for recent additions
  CHANGELOG.md
Labels: mergeit

#7867 Notification templates list & details
  awx/ui_next/src/api/models/NotificationTemplates.js
  awx/ui_next/src/components/DetailList/ObjectDetail.jsx
  awx/ui_next/src/components/DetailList/index.js
  awx/ui_next/src/components/StatusLabel/StatusLabel.jsx
  awx/ui_next/src/components/StatusLabel/StatusLabel.test.jsx
  awx/ui_next/src/components/StatusLabel/index.js
  awx/ui_next/src/screens/NotificationTemplate/NotificationTemplate.jsx
  awx/ui_next/src/screens/NotificationTemplate/NotificationTemplateAdd.jsx
  awx/ui_next/src/screens/NotificationTemplate/NotificationTemplateDetail/NotificationTemplateDetail.jsx
  awx/ui_next/src/screens/NotificationTemplate/NotificationTemplateDetail/index.js
  awx/ui_next/src/screens/NotificationTemplate/NotificationTemplateEdit/NotificationTemplateEdit.jsx
  awx/ui_next/src/screens/NotificationTemplate/NotificationTemplateEdit/index.js
  awx/ui_next/src/screens/NotificationTemplate/NotificationTemplateList/NotificationTemplateList.jsx
  awx/ui_next/src/screens/NotificationTemplate/NotificationTemplateList/NotificationTemplateList.test.jsx
  awx/ui_next/src/screens/NotificationTemplate/NotificationTemplateList/NotificationTemplateListItem.jsx
  awx/ui_next/src/screens/NotificationTemplate/NotificationTemplateList/NotificationTemplateListItem.test.jsx
  awx/ui_next/src/screens/NotificationTemplate/NotificationTemplateList/index.js
  awx/ui_next/src/screens/NotificationTemplate/NotificationTemplates.jsx
  awx/ui_next/src/screens/NotificationTemplate/NotificationTemplates.test.jsx
  awx/ui_next/src/screens/NotificationTemplate/constants.js
  awx/ui_next/src/screens/NotificationTemplate/shared/NotificationTemplateForm.jsx
  awx/ui_next/src/screens/Organization/OrganizationList/OrganizationListItem.jsx
  awx/ui_next/src/screens/Template/TemplateList/TemplateListItem.jsx
Labels: component:ui_next, mergeit, state:needs_test

#7888 Remove undefined prop from SelectedList call
  awx/ui_next/src/components/OptionsList/OptionsList.jsx
Labels: component:ui_next, mergeit

#7880 kebabify additional controls when advanced search is displayed
  awx/ui_next/src/components/AddDropDownButton/AddDropDownButton.jsx
  awx/ui_next/src/components/DataListToolbar/DataListToolbar.jsx
  awx/ui_next/src/components/PaginatedDataList/ToolbarAddButton.jsx
  awx/ui_next/src/components/PaginatedDataList/ToolbarDeleteButton.jsx
  awx/ui_next/src/components/Search/Search.jsx
  awx/ui_next/src/components/Search/Search.test.jsx
  awx/ui_next/src/contexts/Kebabified.jsx
Labels: Kebabs, component:ui_next, mergeit

#7893 Add changelog preparing for awx.awx 14.1.0 bug fix
  CHANGELOG.md
Labels: component:docs, mergeit

#7894 Update websockets.md
  docs/websockets.md
Labels: component:docs, mergeit

#7895 update existing relatedSearchKey requests to new convention and fix U…
  awx/ui_next/src/components/JobList/JobList.jsx
  awx/ui_next/src/components/LaunchPrompt/steps/CredentialsStep.jsx
  awx/ui_next/src/components/LaunchPrompt/steps/InventoryStep.jsx
  awx/ui_next/src/components/Lookup/ApplicationLookup.jsx
  awx/ui_next/src/components/Lookup/CredentialLookup.jsx
  awx/ui_next/src/components/Lookup/InstanceGroupsLookup.jsx
  awx/ui_next/src/components/Lookup/InventoryLookup.jsx
  awx/ui_next/src/components/Lookup/MultiCredentialsLookup.jsx
  awx/ui_next/src/components/Lookup/ProjectLookup.jsx
  awx/ui_next/src/components/Schedule/ScheduleList/ScheduleList.jsx
  awx/ui_next/src/screens/Application/ApplicationTokens/ApplicationTokenList.jsx
  awx/ui_next/src/screens/Application/ApplicationsList/ApplicationsList.jsx
  awx/ui_next/src/screens/Credential/shared/CredentialFormFields/CredentialPlugins/CredentialPluginPrompt/CredentialsStep.jsx
  awx/ui_next/src/screens/Host/HostGroups/HostGroupsList.jsx
  awx/ui_next/src/screens/Host/HostList/HostList.jsx
  awx/ui_next/src/screens/Inventory/InventoryGroupHosts/InventoryGroupHostList.jsx
  awx/ui_next/src/screens/Inventory/InventoryHostGroups/InventoryHostGroupsList.jsx
  awx/ui_next/src/screens/Inventory/InventoryList/InventoryList.jsx
  awx/ui_next/src/screens/Organization/OrganizationList/OrganizationList.jsx
  awx/ui_next/src/screens/Project/ProjectList/ProjectList.jsx
  awx/ui_next/src/screens/Team/TeamList/TeamList.jsx
  awx/ui_next/src/screens/Team/TeamRoles/TeamRolesList.jsx
  awx/ui_next/src/screens/Template/TemplateList/TemplateList.jsx
  awx/ui_next/src/screens/User/UserAccess/UserAccessList.jsx
  awx/ui_next/src/screens/User/UserTeams/UserTeamList.jsx
  awx/ui_next/src/screens/User/UserTokenList/UserTokenList.jsx
Labels: mergeit

#7807 Add smart inventory host list view
  awx/ui_next/src/components/HostToggle/HostToggle.jsx
  awx/ui_next/src/components/HostToggle/HostToggle.test.jsx
  awx/ui_next/src/screens/Host/HostList/HostListItem.jsx
  awx/ui_next/src/screens/Inventory/Inventories.jsx
  awx/ui_next/src/screens/Inventory/InventoryHostDetail/InventoryHostDetail.test.jsx
  awx/ui_next/src/screens/Inventory/SmartInventory.jsx
  awx/ui_next/src/screens/Inventory/SmartInventoryHosts/SmartInventoryHostList.jsx
  awx/ui_next/src/screens/Inventory/SmartInventoryHosts/SmartInventoryHostList.test.jsx
  awx/ui_next/src/screens/Inventory/SmartInventoryHosts/SmartInventoryHostListItem.jsx
  awx/ui_next/src/screens/Inventory/SmartInventoryHosts/SmartInventoryHostListItem.test.jsx
  awx/ui_next/src/screens/Inventory/SmartInventoryHosts/SmartInventoryHosts.jsx
  awx/ui_next/src/screens/Inventory/SmartInventoryHosts/SmartInventoryHosts.test.jsx
Labels: component:ui_next, mergeit, type:feature

#7800 Adds User Token Details page
  awx/ui_next/src/components/Lookup/ApplicationLookup.jsx
  awx/ui_next/src/screens/User/User.jsx
  awx/ui_next/src/screens/User/UserToken/UserToken.jsx
  awx/ui_next/src/screens/User/UserToken/UserToken.test.jsx
  awx/ui_next/src/screens/User/UserToken/index.js
  awx/ui_next/src/screens/User/UserTokenDetail/UserTokenDetail.jsx
  awx/ui_next/src/screens/User/UserTokenDetail/UserTokenDetail.test.jsx
  awx/ui_next/src/screens/User/UserTokenDetail/index.js
  awx/ui_next/src/screens/User/UserTokenList/UserTokenListItem.jsx
  awx/ui_next/src/screens/User/UserTokens/UserTokens.jsx
  awx/ui_next/src/screens/User/Users.jsx
Labels: component:ui_next, mergeit

#7070 Installer - local_docker - fixed the ability to rerun the playbook
  installer/inventory
  installer/roles/kubernetes/tasks/main.yml
  installer/roles/local_docker/tasks/compose.yml
  installer/roles/local_docker/tasks/main.yml
Labels: component:installer, mergeit, type:bug

#7922 Fix API tests
  requirements/requirements_dev.txt
Labels: mergeit

#7918 make event stdout encoding more resilient to UTF-16 surrogate pairs
  CHANGELOG.md
  awx/api/renderers.py
  awx/settings/defaults.py
Labels: mergeit

#7909 Add execution environments files
  awx/ui_next/src/routeConfig.js
  awx/ui_next/src/screens/ExecutionEnvironment/ExecutionEnvironment.jsx
  awx/ui_next/src/screens/ExecutionEnvironment/ExecutionEnvironmentAdd/ExecutionEnvironmentAdd.jsx
  awx/ui_next/src/screens/ExecutionEnvironment/ExecutionEnvironmentAdd/index.js
  awx/ui_next/src/screens/ExecutionEnvironment/ExecutionEnvironmentDetails/ExecutionEnvironmentDetails.jsx
  awx/ui_next/src/screens/ExecutionEnvironment/ExecutionEnvironmentDetails/index.js
  awx/ui_next/src/screens/ExecutionEnvironment/ExecutionEnvironmentEdit/ExecutionEnvironmentEdit.jsx
  awx/ui_next/src/screens/ExecutionEnvironment/ExecutionEnvironmentEdit/index.js
  awx/ui_next/src/screens/ExecutionEnvironment/ExecutionEnvironmentList/ExecutionEnvironmentList.jsx
  awx/ui_next/src/screens/ExecutionEnvironment/ExecutionEnvironmentList/index.js
  awx/ui_next/src/screens/ExecutionEnvironment/ExecutionEnvironments.jsx
  awx/ui_next/src/screens/ExecutionEnvironment/ExecutionEnvironments.test.jsx
  awx/ui_next/src/screens/ExecutionEnvironment/index.js
Labels: component:ui_next

#7933 Use organization api to create users
  awx/ui_next/src/api/models/Organizations.js
  awx/ui_next/src/screens/User/UserAdd/UserAdd.jsx
  awx/ui_next/src/screens/User/UserAdd/UserAdd.test.jsx
  awx/ui_next/src/screens/User/UserOrganizations/UserOrganizationListItem.jsx
Labels: component:ui_next, mergeit, type:bug

#7934 add a deprecation warning for mercurial project syncs
  CHANGELOG.md
  awx/playbooks/action_plugins/hg_deprecation.py
  awx/playbooks/project_update_hg_tasks.yml
Labels: mergeit

#7937 clean up old authtoken support
  awxkit/awxkit/api/client.py
  awxkit/awxkit/awx/utils.py
  awxkit/awxkit/cli/client.py
Labels: mergeit

#7942 fix a bug that prevents the explicit removal of instances from groups
  awx/main/management/commands/remove_from_queue.py
Labels: mergeit

#7799 Adding import/export modules around AWX Kit features
  awx_collection/plugins/inventory/tower.py
  awx_collection/plugins/lookup/tower_api.py
  awx_collection/plugins/module_utils/tower_api.py
  awx_collection/plugins/module_utils/tower_awxkit.py
  awx_collection/plugins/module_utils/tower_legacy.py
  awx_collection/plugins/module_utils/tower_module.py
  awx_collection/plugins/modules/tower_credential.py
  awx_collection/plugins/modules/tower_credential_input_source.py
  awx_collection/plugins/modules/tower_credential_type.py
  awx_collection/plugins/modules/tower_export.py
  awx_collection/plugins/modules/tower_group.py
  awx_collection/plugins/modules/tower_host.py
  awx_collection/plugins/modules/tower_import.py
  awx_collection/plugins/modules/tower_inventory.py
  awx_collection/plugins/modules/tower_inventory_source.py
  awx_collection/plugins/modules/tower_job_cancel.py
  awx_collection/plugins/modules/tower_job_launch.py
  awx_collection/plugins/modules/tower_job_list.py
  awx_collection/plugins/modules/tower_job_template.py
  awx_collection/plugins/modules/tower_job_wait.py
  awx_collection/plugins/modules/tower_label.py
  awx_collection/plugins/modules/tower_license.py
  awx_collection/plugins/modules/tower_meta.py
  awx_collection/plugins/modules/tower_notification.py
  awx_collection/plugins/modules/tower_organization.py
  awx_collection/plugins/modules/tower_project.py
  awx_collection/plugins/modules/tower_receive.py
  awx_collection/plugins/modules/tower_role.py
  awx_collection/plugins/modules/tower_schedule.py
  awx_collection/plugins/modules/tower_send.py
  awx_collection/plugins/modules/tower_settings.py
  awx_collection/plugins/modules/tower_team.py
  awx_collection/plugins/modules/tower_token.py
  awx_collection/plugins/modules/tower_user.py
  awx_collection/plugins/modules/tower_workflow_job_template.py
  awx_collection/plugins/modules/tower_workflow_job_template_node.py
  awx_collection/plugins/modules/tower_workflow_launch.py
  awx_collection/plugins/modules/tower_workflow_template.py
  awx_collection/test/awx/conftest.py
  awx_collection/test/awx/test_module_utils.py
  awx_collection/tests/integration/targets/tower_export/aliases
  awx_collection/tests/integration/targets/tower_export/tasks/main.yml
  awx_collection/tests/integration/targets/tower_import/aliases
  awx_collection/tests/integration/targets/tower_import/tasks/main.yml
  awx_collection/tools/roles/generate/templates/tower_module.j2
Labels: mergeit, type:enhancement

#7705 Change Dockerfile to copy custom venv
  docs/custom_virtualenvs.md
Labels: component:docs, component:installer, mergeit

#7607 ARM image build support
  awx/ui/package-lock.json
  awx/ui/package.json
  installer/roles/image_build/defaults/main.yml
  installer/roles/image_build/templates/Dockerfile.j2
  installer/roles/kubernetes/templates/postgresql-values.yml.j2
  requirements/requirements_ansible.txt
Labels: component:installer, mergeit, type:enhancement

#7936 Adds fix to allow look up to fetch data
  awx/ui_next/src/components/Lookup/CredentialLookup.jsx
Labels: component:ui_next, mergeit, type:bug

#7948 changelog for arm64 builds
  CHANGELOG.md
Labels: mergeit

#7949 more changelog updates
  CHANGELOG.md
Labels: mergeit

#7947 Use a patternfly CSS variable instead of red
  awx/ui_next/src/screens/InstanceGroup/InstanceGroupDetails/InstanceGroupDetails.jsx
  awx/ui_next/src/screens/InstanceGroup/InstanceGroupList/InstanceGroupListItem.jsx
Labels: component:ui_next, mergeit

#7951 Add list of jobs for instance groups
  awx/ui_next/src/screens/InstanceGroup/InstanceGroup.jsx
Labels: component:ui_next, mergeit

#7851 Support workflow prompting on launch
  awx/ui_next/src/components/LaunchPrompt/steps/InventoryStep.jsx
  awx/ui_next/src/components/LaunchPrompt/steps/useInventoryStep.jsx
  awx/ui_next/src/screens/Template/TemplateList/TemplateListItem.jsx
Labels: component:ui_next, state:needs_test

#7866 Add label to show isolated group
  awx/ui_next/src/screens/InstanceGroup/InstanceGroupDetails/InstanceGroupDetails.jsx
  awx/ui_next/src/screens/InstanceGroup/InstanceGroupDetails/InstanceGroupDetails.test.jsx
  awx/ui_next/src/screens/InstanceGroup/InstanceGroupList/InstanceGroupListItem.jsx
Labels: component:ui_next, mergeit, state:needs_test

#7903 update newly useRequested lists to get advanced searchableKeys
  awx/ui_next/src/api/models/Credentials.js
  awx/ui_next/src/api/models/Inventories.js
  awx/ui_next/src/api/models/JobTemplates.js
  awx/ui_next/src/api/models/Organizations.js
  awx/ui_next/src/api/models/Projects.js
  awx/ui_next/src/api/models/Teams.js
  awx/ui_next/src/api/models/WorkflowJobTemplates.js
  awx/ui_next/src/components/AddRole/AddResourceRole.jsx
  awx/ui_next/src/components/AddRole/SelectResourceStep.jsx
  awx/ui_next/src/components/AddRole/SelectResourceStep.test.jsx
  awx/ui_next/src/components/AssociateModal/AssociateModal.jsx
  awx/ui_next/src/components/AssociateModal/AssociateModal.test.jsx
  awx/ui_next/src/components/Lookup/OrganizationLookup.jsx
  awx/ui_next/src/components/NotificationList/NotificationList.jsx
  awx/ui_next/src/components/ResourceAccessList/ResourceAccessList.jsx
  awx/ui_next/src/components/ResourceAccessList/ResourceAccessList.test.jsx
  awx/ui_next/src/components/UserAndTeamAccessAdd/UserAndTeamAccessAdd.jsx
  awx/ui_next/src/components/UserAndTeamAccessAdd/UserAndTeamAccessAdd.test.jsx
  awx/ui_next/src/components/UserAndTeamAccessAdd/getResourceAccessConfig.js
  awx/ui_next/src/screens/Host/HostGroups/HostGroupsList.jsx
  awx/ui_next/src/screens/Host/HostGroups/HostGroupsList.test.jsx
  awx/ui_next/src/screens/Inventory/InventoryGroupHosts/InventoryGroupHostList.jsx
  awx/ui_next/src/screens/Inventory/InventoryGroups/InventoryGroupsList.jsx
  awx/ui_next/src/screens/Inventory/InventoryHostGroups/InventoryHostGroupsList.jsx
  awx/ui_next/src/screens/Inventory/InventoryHostGroups/InventoryHostGroupsList.test.jsx
  awx/ui_next/src/screens/Organization/OrganizationTeams/OrganizationTeamList.jsx
  awx/ui_next/src/screens/Organization/OrganizationTeams/OrganizationTeamList.test.jsx
  awx/ui_next/src/screens/Project/ProjectJobTemplatesList/ProjectJobTemplatesList.jsx
  awx/ui_next/src/screens/Template/WorkflowJobTemplateVisualizer/Modals/NodeModals/NodeModal.test.jsx
  awx/ui_next/src/screens/Template/WorkflowJobTemplateVisualizer/Modals/NodeModals/NodeTypeStep/InventorySourcesList.jsx
  awx/ui_next/src/screens/Template/WorkflowJobTemplateVisualizer/Modals/NodeModals/NodeTypeStep/InventorySourcesList.test.jsx
  awx/ui_next/src/screens/Template/WorkflowJobTemplateVisualizer/Modals/NodeModals/NodeTypeStep/JobTemplatesList.jsx
  awx/ui_next/src/screens/Template/WorkflowJobTemplateVisualizer/Modals/NodeModals/NodeTypeStep/JobTemplatesList.test.jsx
  awx/ui_next/src/screens/Template/WorkflowJobTemplateVisualizer/Modals/NodeModals/NodeTypeStep/NodeTypeStep.test.jsx
  awx/ui_next/src/screens/Template/WorkflowJobTemplateVisualizer/Modals/NodeModals/NodeTypeStep/ProjectsList.jsx
  awx/ui_next/src/screens/Template/WorkflowJobTemplateVisualizer/Modals/NodeModals/NodeTypeStep/ProjectsList.test.jsx
  awx/ui_next/src/screens/Template/WorkflowJobTemplateVisualizer/Modals/NodeModals/NodeTypeStep/WorkflowJobTemplatesList.jsx
  awx/ui_next/src/screens/Template/WorkflowJobTemplateVisualizer/Modals/NodeModals/NodeTypeStep/WorkflowJobTemplatesList.test.jsx
  awx/ui_next/src/screens/User/UserList/UserList.jsx
Labels: component:ui_next, mergeit, state:needs_test

#7803 Adds support for toggling approval notifications on orgs and wfjts
  awx/ui_next/src/api/mixins/Notifications.mixin.js
  awx/ui_next/src/api/models/Organizations.js
  awx/ui_next/src/api/models/WorkflowJobTemplates.js
  awx/ui_next/src/components/NotificationList/NotificationList.jsx
  awx/ui_next/src/components/NotificationList/NotificationListItem.jsx
  awx/ui_next/src/components/NotificationList/NotificationListItem.test.jsx
  awx/ui_next/src/components/NotificationList/__snapshots__/NotificationListItem.test.jsx.snap
  awx/ui_next/src/screens/Credential/CredentialEdit/CredentialEdit.test.jsx
  awx/ui_next/src/screens/Organization/Organization.jsx
  awx/ui_next/src/screens/Template/WorkflowJobTemplate.jsx
Labels: component:ui_next, mergeit, type:enhancement

#7910 Add type column to users list
  awx/ui_next/src/screens/User/UserList/UserListItem.jsx
  awx/ui_next/src/screens/User/UserList/UserListItem.test.jsx
Labels: component:ui_next, mergeit, state:needs_test

#7962 Fix broadcast_websocket_secret length
  installer/roles/kubernetes/tasks/main.yml
  installer/roles/local_docker/tasks/main.yml
Labels: component:installer, mergeit, type:bug

#7911 Add Remote Archive SCM Type to support using artifacts and releases as projects
  CHANGELOG.md
  awx/api/serializers.py
  awx/api/views/__init__.py
  awx/main/migrations/0118_add_remote_archive_scm_type.py
  awx/main/models/projects.py
  awx/main/tasks.py
  awx/main/tests/functional/analytics/test_projects_by_scm_type.py
  awx/main/tests/unit/test_tasks.py
  awx/main/utils/common.py
  awx/playbooks/action_plugins/project_archive.py
  awx/playbooks/library/project_archive.py
  awx/playbooks/project_update.yml
  awx/ui/client/src/projects/add/projects-add.controller.js
  awx/ui/client/src/projects/edit/projects-edit.controller.js
  awx/ui/client/src/projects/projects.form.js
  awx/ui_next/src/components/Lookup/ProjectLookup.jsx
  awx/ui_next/src/components/UserAndTeamAccessAdd/getResourceAccessConfig.js
  awx/ui_next/src/screens/Project/ProjectAdd/ProjectAdd.test.jsx
  awx/ui_next/src/screens/Project/ProjectEdit/ProjectEdit.test.jsx
  awx/ui_next/src/screens/Project/ProjectList/ProjectList.jsx
  awx/ui_next/src/screens/Project/ProjectList/ProjectList.test.jsx
  awx/ui_next/src/screens/Project/shared/ProjectForm.jsx
  awx/ui_next/src/screens/Project/shared/ProjectForm.test.jsx
  awx/ui_next/src/screens/Project/shared/ProjectSubForms/ArchiveSubForm.jsx
  awx/ui_next/src/screens/Project/shared/ProjectSubForms/index.js
  awx/ui_next/src/screens/Template/WorkflowJobTemplateVisualizer/Modals/NodeModals/NodeTypeStep/ProjectsList.jsx
  awx/ui_next/src/types.js
Labels: component:api, component:ui, component:ui_next, mergeit, type:enhancement

#7978 Don't display facts until facts are loaded
  awx/ui_next/src/screens/Inventory/InventoryHostFacts/InventoryHostFacts.jsx
Labels: component:ui_next, mergeit, state:needs_test, type:bug

#7921 Adds extra variables to schedule details
  awx/ui_next/src/components/CodeMirrorInput/VariablesDetail.jsx
  awx/ui_next/src/components/CodeMirrorInput/VariablesField.jsx
  awx/ui_next/src/components/CodeMirrorInput/VariablesInput.jsx
  awx/ui_next/src/components/Schedule/Schedule.test.jsx
  awx/ui_next/src/components/Schedule/ScheduleDetail/ScheduleDetail.jsx
  awx/ui_next/src/components/Schedule/ScheduleDetail/ScheduleDetail.test.jsx
  awx/ui_next/src/util/yaml.js
Labels: component:ui_next, mergeit, state:needs_test

#7966 improve job reaping for jobs that were started on a missing Instance
  awx/main/scheduler/task_manager.py
Labels: mergeit

#7986 Api status 405 error message update, address issue#5744
  awx/api/views/inventory.py
Labels: component:api, mergeit, type:bug

#7950 work around a memory leak in channels_redis
  CHANGELOG.md
  awx/main/consumers.py
  awx/settings/defaults.py
Labels: mergeit

#7919 Add smart inventory host detail view
  awx/ui_next/src/screens/Inventory/SmartInventory.jsx
  awx/ui_next/src/screens/Inventory/SmartInventoryHost/SmartInventoryHost.jsx
  awx/ui_next/src/screens/Inventory/SmartInventoryHost/SmartInventoryHost.test.jsx
  awx/ui_next/src/screens/Inventory/SmartInventoryHost/index.js
  awx/ui_next/src/screens/Inventory/SmartInventoryHostDetail/SmartInventoryHostDetail.jsx
  awx/ui_next/src/screens/Inventory/SmartInventoryHostDetail/SmartInventoryHostDetail.test.jsx
  awx/ui_next/src/screens/Inventory/SmartInventoryHostDetail/index.js
  awx/ui_next/src/screens/Inventory/SmartInventoryHosts/SmartInventoryHostListItem.jsx
  awx/ui_next/src/screens/Inventory/SmartInventoryHosts/SmartInventoryHostListItem.test.jsx
  awx/ui_next/src/screens/Inventory/SmartInventoryHosts/SmartInventoryHosts.jsx
  awx/ui_next/src/screens/Inventory/SmartInventoryHosts/SmartInventoryHosts.test.jsx
Labels: component:ui_next, mergeit, type:feature

#7985 Bump version to 14.1.0
  CHANGELOG.md
  VERSION
  awxkit/VERSION
Labels: mergeit

#7990 gather facts for image builds so we can detect arch
  installer/build.yml
Labels: mergeit

#7969 Add label to identify isolated instance group JobDetail screen
  awx/ui_next/src/screens/Job/JobDetail/JobDetail.jsx
Labels: component:ui_next, mergeit

#7992 Removes colon from survey list item
  awx/ui_next/src/screens/Template/Survey/SurveyListItem.jsx
  awx/ui_next/src/screens/Template/Survey/SurveyListItem.test.jsx
Labels: component:ui_next, mergeit, state:needs_test, type:bug

#7988 Update styles to delete button to be secondary
  awx/ui_next/src/screens/Inventory/InventoryGroupDetail/InventoryGroupDetail.jsx
  awx/ui_next/src/screens/Inventory/InventoryGroups/InventoryGroupsList.jsx
  awx/ui_next/src/screens/Template/Survey/SurveyList.test.jsx
  awx/ui_next/src/screens/Template/Survey/SurveyToolbar.jsx
  awx/ui_next/src/screens/Template/Survey/SurveyToolbar.test.jsx
Labels: component:ui_next, mergeit

#7945 Get tower_role Module to Accept IDs for Related Objects
  awx_collection/plugins/module_utils/tower_api.py
  awx_collection/plugins/modules/tower_role.py
  awx_collection/test/awx/test_module_utils.py
  awx_collection/tests/integration/targets/tower_role/tasks/main.yml
Labels: component:api, component:awx_collection, mergeit, type:bug

#8008 Use low level i18n._ instead of i18n.plural for plurals on the schedule form
  awx/ui_next/src/components/Schedule/shared/FrequencyDetailSubform.jsx
Labels: Kebabs, component:ui_next, mergeit

#7963 Collections Completeness Tests
  awx_collection/meta/runtime.yml
  awx_collection/plugins/modules/tower_notification_template.py
  awx_collection/plugins/modules/tower_project.py
  awx_collection/test/awx/test_completeness.py
  awx_collection/test/awx/test_notification_template.py
  awx_collection/tests/integration/targets/tower_notification_template/tasks/main.yml
Labels: component:awx_collection, mergeit, type:enhancement

#7983 Fix pylint Errors in Collections Modules
  awx_collection/tests/sanity/ignore-2.10.txt
  awx_collection/tests/sanity/ignore-2.9.txt
Labels: component:awx_collection, mergeit

#8019 Adds visualizer button to workflow template rows on templates list
  awx/ui_next/src/screens/Template/TemplateList/TemplateListItem.jsx
  awx/ui_next/src/screens/Template/TemplateList/TemplateListItem.test.jsx
Labels: component:ui_next, mergeit, state:needs_review

#7987 Add advanced search keys for InstanceGroup and CredentialType Lists
  awx/ui_next/src/screens/CredentialType/CredentialTypeList/CredentialTypeList.jsx
  awx/ui_next/src/screens/InstanceGroup/InstanceGroupList/InstanceGroupList.jsx
Labels: component:ui_next, mergeit, state:needs_test

#8016 Adding insights credential to tower_inventory
  awx_collection/plugins/modules/tower_inventory.py
  awx_collection/test/awx/test_completeness.py
  awx_collection/test/awx/test_inventory.py
  awx_collection/tests/integration/targets/tower_inventory/tasks/main.yml
Labels: component:awx_collection, mergeit

#8028 Change WFJT details sparkline hyperlink
  awx/ui_next/src/screens/Template/WorkflowJobTemplateDetail/WorkflowJobTemplateDetail.jsx
Labels: mergeit

#7929 Associate instances to instance groups
  awx/ui_next/src/api/index.js
  awx/ui_next/src/api/models/InstanceGroups.js
  awx/ui_next/src/api/models/Instances.js
  awx/ui_next/src/components/AssociateModal/AssociateModal.jsx
  awx/ui_next/src/components/DisassociateButton/DisassociateButton.jsx
  awx/ui_next/src/components/InstanceToggle/InstanceToggle.jsx
  awx/ui_next/src/components/InstanceToggle/InstanceToggle.test.jsx
  awx/ui_next/src/components/InstanceToggle/index.js
  awx/ui_next/src/components/OptionsList/OptionsList.jsx
  awx/ui_next/src/components/PaginatedDataList/ToolbarAddButton.jsx
  awx/ui_next/src/screens/InstanceGroup/InstanceGroup.jsx
  awx/ui_next/src/screens/InstanceGroup/InstanceGroupList/InstanceGroupList.test.jsx
  awx/ui_next/src/screens/InstanceGroup/Instances/InstanceList.jsx
  awx/ui_next/src/screens/InstanceGroup/Instances/InstanceList.test.jsx
  awx/ui_next/src/screens/InstanceGroup/Instances/InstanceListItem.jsx
  awx/ui_next/src/screens/InstanceGroup/Instances/InstanceListItem.test.jsx
  awx/ui_next/src/screens/InstanceGroup/Instances/Instances.jsx
  awx/ui_next/src/screens/InstanceGroup/Instances/index.js
  awx/ui_next/src/types.js
  awx/ui_next/testUtils/enzymeHelpers.jsx
Labels: component:ui_next, mergeit

#7997 Fixes bug where users were unable to turn webhooks off when editing templates
  awx/ui_next/src/screens/Template/shared/JobTemplateForm.jsx
  awx/ui_next/src/screens/Template/shared/WebhookSubForm.jsx
  awx/ui_next/src/screens/Template/shared/WorkflowJobTemplateForm.jsx
Labels: component:ui_next, mergeit

#8037 [credential_plugin/hashivault] fix typo
  awx/main/credential_plugins/hashivault.py
Labels: component:docs, mergeit

#8040 Accept all responses <300 from Insights API
  awx/main/analytics/core.py
Labels: component:api, mergeit, type:bug

#8035 Update instance groups
  awx/ui_next/src/screens/InstanceGroup/InstanceGroupDetails/InstanceGroupDetails.jsx
  awx/ui_next/src/screens/InstanceGroup/InstanceGroupList/InstanceGroupListItem.jsx
  awx/ui_next/src/screens/InstanceGroup/Instances/InstanceListItem.jsx
Labels: component:ui_next, mergeit, state:needs_review

#8029 Run project updates from a copy of the playbook vendoring directory
  awx/main/tasks.py
Labels: component:api, mergeit, type:enhancement

#8039 Adding transaction to mock requests
  awx_collection/test/awx/conftest.py
Labels: component:awx_collection, mergeit

#8038 Adding check that we are authenticated and also have a token
  awx_collection/plugins/module_utils/tower_api.py
Labels: component:awx_collection, mergeit

#8024 typo: regsiter -> register
  awx/main/management/commands/provision_instance.py
Labels: component:api, component:docs, mergeit

#8048 correct name of tower_notification redirect
  awx_collection/meta/runtime.yml
Labels: component:awx_collection, mergeit

#8049 Cleaning up tower_notification references
  awx_collection/README.md
  awx_collection/tests/integration/targets/tower_job_template/tasks/main.yml
  awx_collection/tests/integration/targets/tower_notification_template/tasks/main.yml
  awx_collection/tests/integration/targets/tower_workflow_job_template/tasks/main.yml
  awx_collection/tests/sanity/ignore-2.10.txt
  awx_collection/tools/roles/template_galaxy/templates/README.md.j2
Labels: component:awx_collection, mergeit

#7730 Adds support for a Test button on the credential form when the credential type is 'external'
  awx/ui_next/src/api/models/CredentialTypes.js
  awx/ui_next/src/api/models/Credentials.js
  awx/ui_next/src/screens/Credential/shared/CredentialForm.jsx
  awx/ui_next/src/screens/Credential/shared/CredentialForm.test.jsx
  awx/ui_next/src/screens/Credential/shared/CredentialFormFields/CredentialField.jsx
  awx/ui_next/src/screens/Credential/shared/CredentialFormFields/CredentialPlugins/CredentialPluginTestAlert.jsx
  awx/ui_next/src/screens/Credential/shared/CredentialFormFields/CredentialPlugins/index.js
  awx/ui_next/src/screens/Credential/shared/ExternalTestModal.jsx
  awx/ui_next/src/screens/Credential/shared/ExternalTestModal.test.jsx
  awx/ui_next/src/screens/Credential/shared/index.js
  awx/ui_next/src/util/useRequest.js
Labels: component:ui_next, mergeit, state:needs_test

#8046 Update date format for project list item
  awx/ui_next/src/screens/Project/ProjectList/ProjectListItem.jsx
Labels: component:ui_next, mergeit, type:bug
