Repository ansible/awx, pull requests merged in 2020-03, with the labels that each got.

#6093 switch the periodic scheduler to a background process (instead of a thread) to avoid a cpython bug
  awx/main/dispatch/periodic.py
  awx/main/management/commands/run_dispatcher.py
Labels: mergeit

#6115 add schedule list to detail views
  awx/ui_next/src/api/models/JobTemplates.js
  awx/ui_next/src/api/models/Projects.js
  awx/ui_next/src/api/models/WorkflowJobTemplates.js
  awx/ui_next/src/components/ScheduleList/ScheduleList.jsx
  awx/ui_next/src/components/ScheduleList/ScheduleList.test.jsx
  awx/ui_next/src/components/ScheduleList/ScheduleListItem.jsx
  awx/ui_next/src/components/ScheduleList/ScheduleListItem.test.jsx
  awx/ui_next/src/components/ScheduleList/ScheduleToggle.jsx
  awx/ui_next/src/components/ScheduleList/ScheduleToggle.test.jsx
  awx/ui_next/src/components/ScheduleList/data.schedules.json
  awx/ui_next/src/components/ScheduleList/index.js
  awx/ui_next/src/screens/Project/Project.jsx
  awx/ui_next/src/screens/Project/Project.test.jsx
  awx/ui_next/src/screens/Schedule/ScheduleList/index.js
  awx/ui_next/src/screens/Schedule/Schedules.jsx
  awx/ui_next/src/screens/Template/Template.jsx
  awx/ui_next/src/screens/Template/WorkflowJobTemplate.jsx
Labels: component:ui_next, mergeit

#5919 Fail early processing project factory
  awxkit/awxkit/api/pages/projects.py
Labels: component:api, mergeit, type:bug

#5972 fix smart inventory duplicate hosts
  awx/main/managers.py
Labels: component:api, mergeit, type:bug

#6133 Updates our four patternfly deps to latest
  awx/ui_next/package-lock.json
  awx/ui_next/package.json
Labels: mergeit

#6130 Refactors YamlJsonToggle component into a generic Toggle component
  awx/ui_next/src/components/CodeMirrorInput/VariablesDetail.jsx
  awx/ui_next/src/components/CodeMirrorInput/VariablesDetail.test.jsx
  awx/ui_next/src/components/CodeMirrorInput/VariablesField.jsx
  awx/ui_next/src/components/CodeMirrorInput/VariablesInput.jsx
  awx/ui_next/src/components/CodeMirrorInput/YamlJsonToggle.jsx
  awx/ui_next/src/components/MultiButtonToggle/ButtonGroup.jsx
  awx/ui_next/src/components/MultiButtonToggle/MultiButtonToggle.jsx
  awx/ui_next/src/components/MultiButtonToggle/MultiButtonToggle.test.jsx
  awx/ui_next/src/components/MultiButtonToggle/index.js
Labels: component:ui_next, mergeit

#6145 fix broken grafana notifications
  awx/api/views/__init__.py
  awx/main/notifications/grafana_backend.py
Labels: mergeit

#6129 Add collection integration tests
  awx_collection/README.md
  awx_collection/tests/integration/targets/tower_credential/tasks/main.yml
  awx_collection/tests/integration/targets/tower_credential_type/tasks/main.yml
  awx_collection/tests/integration/targets/tower_group/tasks/main.yml
  awx_collection/tests/integration/targets/tower_host/tasks/main.yml
  awx_collection/tests/integration/targets/tower_inventory/tasks/main.yml
  awx_collection/tests/integration/targets/tower_inventory_source/tasks/main.yml
  awx_collection/tests/integration/targets/tower_job_cancel/tasks/main.yml
  awx_collection/tests/integration/targets/tower_job_launch/tasks/main.yml
  awx_collection/tests/integration/targets/tower_job_list/tasks/main.yml
  awx_collection/tests/integration/targets/tower_job_template/tasks/main.yml
  awx_collection/tests/integration/targets/tower_job_wait/tasks/main.yml
  awx_collection/tests/integration/targets/tower_label/tasks/main.yml
  awx_collection/tests/integration/targets/tower_notification/tasks/main.yml
  awx_collection/tests/integration/targets/tower_organization/tasks/main.yml
  awx_collection/tests/integration/targets/tower_project/tasks/main.yml
  awx_collection/tests/integration/targets/tower_project_manual/tasks/create_project_dir.yml
  awx_collection/tests/integration/targets/tower_project_manual/tasks/main.yml
  awx_collection/tests/integration/targets/tower_receive/tasks/main.yml
  awx_collection/tests/integration/targets/tower_role/tasks/main.yml
  awx_collection/tests/integration/targets/tower_send/tasks/main.yml
  awx_collection/tests/integration/targets/tower_settings/tasks/main.yml
  awx_collection/tests/integration/targets/tower_team/tasks/main.yml
  awx_collection/tests/integration/targets/tower_user/tasks/main.yml
  awx_collection/tests/integration/targets/tower_workflow_template/tasks/main.yml
Labels: component:awx_collection, mergeit

#6146 Upgrade react and react-dom to latest
  awx/ui_next/package-lock.json
  awx/ui_next/package.json
Labels: mergeit

#6147 properly support job host summary data in custom notification templates (and remove a few fields that don't work)
  awx/main/models/notifications.py
  awx/main/tests/functional/models/test_notifications.py
Labels: mergeit

#6148 make fact saving code more robust to unexpected fact data
  awx/main/models/jobs.py
  awx/main/tests/unit/models/test_jobs.py
Labels: mergeit

#6144 Add Inventory Group Host list
  awx/ui_next/src/api/models/Groups.js
  awx/ui_next/src/api/models/Inventories.js
  awx/ui_next/src/screens/Inventory/Inventories.jsx
  awx/ui_next/src/screens/Inventory/InventoryGroup/InventoryGroup.jsx
  awx/ui_next/src/screens/Inventory/InventoryGroupHosts/AddHostDropdown.jsx
  awx/ui_next/src/screens/Inventory/InventoryGroupHosts/AddHostDropdown.test.jsx
  awx/ui_next/src/screens/Inventory/InventoryGroupHosts/InventoryGroupHostList.jsx
  awx/ui_next/src/screens/Inventory/InventoryGroupHosts/InventoryGroupHostList.test.jsx
  awx/ui_next/src/screens/Inventory/InventoryGroupHosts/InventoryGroupHostListItem.jsx
  awx/ui_next/src/screens/Inventory/InventoryGroupHosts/InventoryGroupHostListItem.test.jsx
  awx/ui_next/src/screens/Inventory/InventoryGroupHosts/InventoryGroupHosts.jsx
  awx/ui_next/src/screens/Inventory/InventoryGroupHosts/InventoryGroupHosts.test.jsx
  awx/ui_next/src/screens/Inventory/InventoryGroupHosts/index.js
  awx/ui_next/src/screens/Inventory/shared/data.hosts.json
Labels: component:ui_next, mergeit

#6149 update multi select credential logic vault credential logic, add notice, and update multicred tests
  awx/ui_next/src/components/Lookup/MultiCredentialsLookup.jsx
  awx/ui_next/src/components/Lookup/MultiCredentialsLookup.test.jsx
Labels: component:ui_next, mergeit

#6155 Fix job->inventory links
  awx/ui_next/src/screens/Job/JobDetail/JobDetail.jsx
Labels: component:ui_next, mergeit

#6116 Fail on launch for scenario where job cannot run
  awx/api/serializers.py
Labels: component:api, mergeit, type:bug

#5841 Adds WorkflowJobTemplate Add and Edit form and functionality.
  awx/ui_next/src/api/mixins/InstanceGroups.mixin.js
  awx/ui_next/src/api/models/WorkflowJobTemplates.js
  awx/ui_next/src/components/CodeMirrorInput/VariablesField.jsx
  awx/ui_next/src/components/CodeMirrorInput/VariablesField.test.jsx
  awx/ui_next/src/components/Lookup/CredentialLookup.jsx
  awx/ui_next/src/screens/Template/JobTemplateAdd/JobTemplateAdd.jsx
  awx/ui_next/src/screens/Template/Template.jsx
  awx/ui_next/src/screens/Template/TemplateList/TemplateList.jsx
  awx/ui_next/src/screens/Template/Templates.jsx
  awx/ui_next/src/screens/Template/WorkflowJobTemplate.jsx
  awx/ui_next/src/screens/Template/WorkflowJobTemplateAdd/WorkflowJobTemplateAdd.jsx
  awx/ui_next/src/screens/Template/WorkflowJobTemplateAdd/WorkflowJobTemplateAdd.test.jsx
  awx/ui_next/src/screens/Template/WorkflowJobTemplateAdd/index.js
  awx/ui_next/src/screens/Template/WorkflowJobTemplateDetail/WorkflowJobTemplateDetail.jsx
  awx/ui_next/src/screens/Template/WorkflowJobTemplateDetail/WorkflowJobTemplateDetail.test.jsx
  awx/ui_next/src/screens/Template/WorkflowJobTemplateEdit/WorkflowJobTemplateEdit.jsx
  awx/ui_next/src/screens/Template/WorkflowJobTemplateEdit/WorkflowJobTemplateEdit.test.jsx
  awx/ui_next/src/screens/Template/WorkflowJobTemplateEdit/index.js
  awx/ui_next/src/screens/Template/shared/WorkflowJobTemplateForm.jsx
  awx/ui_next/src/screens/Template/shared/WorkflowJobTemplateForm.test.jsx
  awx/ui_next/src/screens/Template/shared/index.js
Labels: component:ui_next, mergeit, type:enhancement

#6154 fix column widths when action buttons hidden due to permissions
  awx/ui_next/src/components/JobList/JobListItem.jsx
  awx/ui_next/src/components/ScheduleList/ScheduleListItem.jsx
  awx/ui_next/src/screens/Credential/CredentialList/CredentialListItem.jsx
  awx/ui_next/src/screens/Host/HostList/HostListItem.jsx
  awx/ui_next/src/screens/Inventory/InventoryList/InventoryListItem.jsx
  awx/ui_next/src/screens/Organization/OrganizationList/OrganizationListItem.jsx
  awx/ui_next/src/screens/Project/ProjectList/ProjectListItem.jsx
  awx/ui_next/src/screens/Team/TeamList/TeamListItem.jsx
  awx/ui_next/src/screens/Template/TemplateList/TemplateListItem.jsx
Labels: component:ui_next, mergeit, type:bug

#6038 fixed precedence on ansible.cfg
  awx/main/utils/ansible.py
Labels: component:api, mergeit, type:bug

#6156 Unify collection targets for install and ansible-test
  Makefile
  awx_collection/README.md
  awx_collection/template_galaxy.yml
Labels: mergeit, type:enhancement

#6161 Fix potentially missing credential type options in multicredential select
  awx/ui_next/src/components/Lookup/MultiCredentialsLookup.jsx
  awx/ui_next/src/screens/Template/shared/JobTemplateForm.jsx
Labels: component:ui_next, mergeit, type:bug

#6152 respect home directory symlinks for BASE_VENV_PATH
  awx/settings/production.py
Labels: mergeit

#6187 Fix bug where Inventory Host Add form doesn't save
  awx/ui_next/src/screens/Host/HostAdd/HostAdd.test.jsx
  awx/ui_next/src/screens/Host/shared/HostForm.jsx
Labels: component:ui_next, mergeit

#6192 Fix a typo in the collection README
  awx_collection/README.md
Labels: mergeit

#6193 fix a bug in OPTIONS /api/v2/schedules/
  awx/main/access.py
  awx/main/tests/functional/api/test_schedules.py
Labels: mergeit

#6190 Adds Add button to schedules list along with rbac restrictions
  awx/ui_next/src/api/mixins/Schedules.mixin.js
  awx/ui_next/src/api/models/JobTemplates.js
  awx/ui_next/src/api/models/Projects.js
  awx/ui_next/src/api/models/WorkflowJobTemplates.js
  awx/ui_next/src/components/ScheduleList/ScheduleList.jsx
  awx/ui_next/src/components/ScheduleList/ScheduleList.test.jsx
  awx/ui_next/src/screens/Project/Project.jsx
  awx/ui_next/src/screens/Schedule/Schedules.jsx
  awx/ui_next/src/screens/Template/Template.jsx
  awx/ui_next/src/screens/Template/WorkflowJobTemplate.jsx
Labels: component:ui_next, mergeit

#6205 fix global schedule creation for project and inventory updates too
  awx/main/access.py
Labels: mergeit

#6197 Show API choice field metadata more correctly for null vs ''
  awx/api/metadata.py
Labels: component:api, mergeit, type:bug

#6169 Adds the list of the survey questions.
  awx/ui_next/src/api/models/JobTemplates.js
  awx/ui_next/src/screens/Template/Template.jsx
  awx/ui_next/src/screens/Template/Templates.jsx
  awx/ui_next/src/screens/Template/shared/SurveyList.jsx
  awx/ui_next/src/screens/Template/shared/SurveyList.test.jsx
  awx/ui_next/src/screens/Template/shared/SurveyListItem.jsx
  awx/ui_next/src/screens/Template/shared/SurveyListItem.test.jsx
Labels: component:ui_next, mergeit, type:enhancement

#6194 Fix panel loading and clean up unneeded code
  awx/ui_next/src/screens/Template/WorkflowJobTemplate.jsx
Labels: component:ui_next, mergeit, type:bug

#6170 Adds generic schedule detail component and applies it to JT/WFJT/Proj schedules
  awx/ui_next/package-lock.json
  awx/ui_next/package.json
  awx/ui_next/src/api/models/Schedules.js
  awx/ui_next/src/components/MultiButtonToggle/MultiButtonToggle.jsx
  awx/ui_next/src/components/Schedule/Schedule.jsx
  awx/ui_next/src/components/Schedule/Schedule.test.jsx
  awx/ui_next/src/components/Schedule/ScheduleDetail/ScheduleDetail.jsx
  awx/ui_next/src/components/Schedule/ScheduleDetail/ScheduleDetail.test.jsx
  awx/ui_next/src/components/Schedule/ScheduleDetail/index.js
  awx/ui_next/src/components/Schedule/ScheduleList/ScheduleList.jsx
  awx/ui_next/src/components/Schedule/ScheduleList/ScheduleList.test.jsx
  awx/ui_next/src/components/Schedule/ScheduleList/ScheduleListItem.jsx
  awx/ui_next/src/components/Schedule/ScheduleList/ScheduleListItem.test.jsx
  awx/ui_next/src/components/Schedule/ScheduleList/index.js
  awx/ui_next/src/components/Schedule/ScheduleOccurrences/ScheduleOccurrences.jsx
  awx/ui_next/src/components/Schedule/ScheduleOccurrences/ScheduleOccurrences.test.jsx
  awx/ui_next/src/components/Schedule/ScheduleOccurrences/index.js
  awx/ui_next/src/components/Schedule/ScheduleToggle/ScheduleToggle.jsx
  awx/ui_next/src/components/Schedule/ScheduleToggle/ScheduleToggle.test.jsx
  awx/ui_next/src/components/Schedule/ScheduleToggle/index.js
  awx/ui_next/src/components/Schedule/Schedules.jsx
  awx/ui_next/src/components/Schedule/Schedules.test.jsx
  awx/ui_next/src/components/Schedule/data.schedules.json
  awx/ui_next/src/components/Schedule/index.js
  awx/ui_next/src/screens/Project/Project.jsx
  awx/ui_next/src/screens/Schedule/AllSchedules.jsx
  awx/ui_next/src/screens/Schedule/AllSchedules.test.jsx
  awx/ui_next/src/screens/Schedule/index.js
  awx/ui_next/src/screens/Template/Template.jsx
  awx/ui_next/src/screens/Template/Template.test.jsx
  awx/ui_next/src/screens/Template/Templates.jsx
  awx/ui_next/src/screens/Template/WorkflowJobTemplate.jsx
  awx/ui_next/src/types.js
  awx/ui_next/src/util/dates.jsx
Labels: component:ui_next, mergeit

#6217 record a start time for WorkflowApproval jobs
  awx/main/models/workflow.py
Labels: mergeit

#6216 [doc] Explain how to extract credentials or encrypted settings
  docs/credentials/extract_credentials.md
Labels: component:docs, mergeit

#6185 add notification and access tabs to wfjt
  awx/ui_next/src/api/models/WorkflowJobTemplates.js
  awx/ui_next/src/screens/Project/Project.jsx
  awx/ui_next/src/screens/Template/WorkflowJobTemplate.jsx
Labels: component:ui_next, mergeit

#6219 Host detail labels
  awx/ui_next/src/components/DetailList/UserDateDetail.jsx
  awx/ui_next/src/screens/Host/HostDetail/HostDetail.jsx
Labels: component:ui_next

#6212 Fix credential form action button layout
  awx/ui_next/src/screens/Credential/shared/CredentialForm.jsx
Labels: component:ui_next, mergeit

#6231 Remove duplicate schedule tab
  awx/ui_next/src/screens/Template/Template.jsx
  awx/ui_next/src/screens/Template/Template.test.jsx
Labels: component:ui_next, mergeit, type:bug

#6228 Fix unnecessary panel reload and refactor top-level host and inventory routing components
  awx/ui_next/src/screens/Host/Host.jsx
  awx/ui_next/src/screens/Host/HostList/HostList.jsx
  awx/ui_next/src/screens/Host/Hosts.jsx
  awx/ui_next/src/screens/Inventory/Inventories.jsx
  awx/ui_next/src/screens/Inventory/Inventory.jsx
Labels: component:ui_next, mergeit

#6233 Fix form action button layout
  awx/ui_next/src/components/FormActionGroup/FormActionGroup.jsx
  awx/ui_next/src/screens/Credential/shared/CredentialForm.jsx
Labels: component:ui_next, mergeit

#6234 Remove SCL python from awx-python
  tools/scripts/awx-python
Labels: mergeit

#6221 Add disassociate inventory group host button
  awx/ui_next/src/api/models/Groups.js
  awx/ui_next/src/screens/Inventory/InventoryGroupHosts/DisassociateButton.jsx
  awx/ui_next/src/screens/Inventory/InventoryGroupHosts/DisassociateButton.test.jsx
  awx/ui_next/src/screens/Inventory/InventoryGroupHosts/InventoryGroupHostList.jsx
  awx/ui_next/src/screens/Inventory/InventoryGroupHosts/InventoryGroupHostList.test.jsx
Labels: component:ui_next, mergeit

#6238 Remove some rogue awaits
  awx/ui_next/src/components/AddRole/SelectResourceStep.test.jsx
  awx/ui_next/src/screens/Template/WorkflowJobTemplateAdd/WorkflowJobTemplateAdd.test.jsx
  awx/ui_next/src/screens/Template/WorkflowJobTemplateDetail/WorkflowJobTemplateDetail.test.jsx
  awx/ui_next/src/screens/Template/WorkflowJobTemplateEdit/WorkflowJobTemplateEdit.test.jsx
  awx/ui_next/src/screens/Template/shared/SurveyList.test.jsx
  awx/ui_next/src/screens/Template/shared/WorkflowJobTemplateForm.test.jsx
Labels: component:ui_next, mergeit

#6229 Adds SurveyList tool bar
  awx/ui_next/src/api/models/JobTemplates.js
  awx/ui_next/src/screens/Template/shared/SurveyList.jsx
  awx/ui_next/src/screens/Template/shared/SurveyList.test.jsx
  awx/ui_next/src/screens/Template/shared/SurveyListItem.jsx
  awx/ui_next/src/screens/Template/shared/SurveyListItem.test.jsx
  awx/ui_next/src/screens/Template/shared/SurveyToolbar.jsx
  awx/ui_next/src/screens/Template/shared/SurveyToolbar.test.jsx
Labels: component:ui_next, mergeit, state:needs_review

#6235 Add Inventory Group Host Add form
  awx/ui_next/src/api/models/Groups.js
  awx/ui_next/src/screens/Inventory/Inventories.jsx
  awx/ui_next/src/screens/Inventory/InventoryGroup/InventoryGroup.jsx
  awx/ui_next/src/screens/Inventory/InventoryGroup/InventoryGroup.test.jsx
  awx/ui_next/src/screens/Inventory/InventoryGroupHostAdd/InventoryGroupHostAdd.jsx
  awx/ui_next/src/screens/Inventory/InventoryGroupHostAdd/InventoryGroupHostAdd.test.jsx
  awx/ui_next/src/screens/Inventory/InventoryGroupHostAdd/index.js
  awx/ui_next/src/screens/Inventory/InventoryGroupHosts/InventoryGroupHosts.jsx
Labels: component:ui_next, mergeit

#6240 add RBAC tests for schedules on inventory and project updates
  awx/main/tests/functional/api/test_schedules.py
Labels: mergeit

#6241 Fixes bug where users without read access on a creds org cannot edit the cred
  awx/ui/client/features/credentials/add-edit-credentials.controller.js
  awx/ui/client/features/credentials/index.js
Labels: component:ui, mergeit

#6237 Fix Username Idempotency in tower_user Module
  awx_collection/plugins/module_utils/tower_api.py
  awx_collection/plugins/modules/tower_user.py
  awx_collection/tests/integration/targets/tower_user/tasks/main.yml
Labels: component:api, component:awx_collection, mergeit, type:bug

#6248 Use dark theme in side navigation
  awx/ui_next/src/App.jsx
Labels: component:ui_next, mergeit

#6239 Check for top-level inventory and host inventory match
  awx/ui_next/src/api/models/Inventories.js
  awx/ui_next/src/screens/Inventory/InventoryHost/InventoryHost.jsx
  awx/ui_next/src/screens/Inventory/InventoryHost/InventoryHost.test.jsx
Labels: component:ui_next, mergeit

#6252 removed extra quotes in example
  awx/main/credential_plugins/aim.py
Labels: component:api, component:ui, mergeit

#6253 Fix server error creating smart inventories
  awx/api/serializers.py
  awx_collection/test/awx/test_inventory.py
Labels: component:api, mergeit, type:bug

#6254 optimize the awx.main.redact SCM URL sanitizer regex
  awx/main/redact.py
  awx/main/tests/unit/test_redact.py
Labels: mergeit

#5968 Changes ui-side behavior in response to websocket job status updates on several lists
  awx/main/models/unified_jobs.py
  awx/ui/client/features/jobs/jobsList.controller.js
  awx/ui/client/features/projects/projectsList.controller.js
  awx/ui/client/features/templates/templatesList.controller.js
  awx/ui/client/src/home/dashboard/lists/job-templates/job-templates-list.directive.js
  awx/ui/client/src/home/home.controller.js
  awx/ui/client/src/inventories-hosts/inventories/related/sources/list/sources-list.controller.js
  awx/ui/client/src/organizations/linkout/controllers/organizations-job-templates.controller.js
  awx/ui/client/src/smart-status/smart-status.controller.js
Labels: component:ui, mergeit

#6174 Make demo data in tests, further refine templating loop
  awx_collection/template_galaxy.yml
  awx_collection/tests/integration/targets/demo_data/tasks/main.yml
Labels: component:awx_collection, mergeit, type:enhancement

#6263 bump version to 9.3.0
  CHANGELOG.md
  VERSION
Labels: mergeit

#6276 save approval node start time *before* sending "started" notifications
  awx/main/models/workflow.py
Labels: mergeit

#6186 Modernize types of WFJT module
  awx_collection/README.md
  awx_collection/plugins/modules/tower_workflow_template.py
  awx_collection/test/awx/test_workflow_template.py
  awx_collection/tests/integration/targets/tower_workflow_template/tasks/main.yml
Labels: component:awx_collection, mergeit

#6262 Update dev container to be consistent with other installation methods
  tools/docker-compose.yml
  tools/docker-compose/Dockerfile
  tools/docker-compose/launch_awx.sh
Labels: mergeit

#6275 consolidate isolated event handling code into one function
  awx/main/isolated/manager.py
  awx/main/tasks.py
Labels: mergeit

#6246 Adds aria-label attrs to img elements
  awx/ui/client/installing.template.ejs
  awx/ui/client/lib/components/layout/layout.partial.html
  awx/ui/client/lib/services/base-string.service.js
  awx/ui/client/src/about/about.partial.html
  awx/ui/client/src/app.js
  awx/ui/client/src/inventories-hosts/inventories/insights/insights.partial.html
  awx/ui/client/src/inventories-hosts/inventories/insights/insights.strings.js
  awx/ui/client/src/login/loginModal/loginModal.partial.html
Labels: component:ui, mergeit, type:bug

#6285 make User.last_login read_only=True in its serializer
  awx/api/serializers.py
  awx/main/tests/functional/api/test_user.py
Labels: mergeit

#6251 Fix sometimes missing job_type and verbosity field values
  awx/ui/client/src/templates/job_templates/edit-job-template/job-template-edit.controller.js
Labels: component:ui, mergeit, type:bug

#6259 Mark access removal prompts and tech preview message for translation
  awx/ui/client/lib/services/base-string.service.js
  awx/ui/client/src/access/rbac-role-column/roleList.directive.js
  awx/ui/client/src/instance-groups/container-groups/add-container-group.view.html
  awx/ui/client/src/instance-groups/instance-groups.strings.js
Labels: component:ui, mergeit, type:bug

#6257 Add parser error handling for settings json
  awx/ui/client/src/configuration/forms/settings-form.controller.js
  awx/ui/client/src/configuration/settingsUtils.service.js
  awx/ui/client/src/shared/Utilities.js
Labels: component:ui, mergeit, type:bug

#6249 Show playbook field on JT when read-only
  awx/ui/client/src/templates/job_templates/edit-job-template/job-template-edit.controller.js
Labels: component:ui, mergeit, type:bug

#6268 Add survey list sorting
  awx/ui_next/src/components/ErrorDetail/ErrorDetail.jsx
  awx/ui_next/src/screens/Template/Template.jsx
  awx/ui_next/src/screens/Template/TemplateSurvey.jsx
  awx/ui_next/src/screens/Template/TemplateSurvey.test.jsx
  awx/ui_next/src/screens/Template/shared/SurveyList.jsx
  awx/ui_next/src/screens/Template/shared/SurveyList.test.jsx
  awx/ui_next/src/screens/Template/shared/SurveyListItem.jsx
  awx/ui_next/src/util/qs.js
  awx/ui_next/src/util/useRequest.js
  awx/ui_next/src/util/useRequest.test.jsx
Labels: component:ui_next, mergeit, type:enhancement

#6261 Don't block the blockquotes
  awx/ui/client/src/vendor.js
Labels: component:ui, mergeit, type:bug

#6245 Adds lang attr to html tag to specify default language for the application
  awx/ui/client/index.template.ejs
  awx/ui/client/installing.template.ejs
  awx/ui_next/dist/index.html
Labels: component:ui, mergeit, type:bug

#6294 Adds aria-labels to links without descernible inner text
  awx/ui/client/features/output/details.partial.html
  awx/ui/client/features/output/host-event/host-event-modal.partial.html
  awx/ui/client/features/output/stats.partial.html
  awx/ui/client/lib/components/cards/card.partial.html
  awx/ui/client/lib/components/code-mirror/code-mirror.partial.html
  awx/ui/client/lib/components/code-mirror/modal/code-mirror-modal.partial.html
  awx/ui/client/lib/components/layout/layout.partial.html
  awx/ui/client/lib/components/list/row-item.partial.html
  awx/ui/client/src/configuration/forms/system-form/configuration-system.partial.html
  awx/ui/client/src/home/dashboard/lists/job-templates/job-templates-list.partial.html
  awx/ui/client/src/home/dashboard/lists/jobs/jobs-list.partial.html
  awx/ui/client/src/instance-groups/add-edit/add-edit-instance-groups.view.html
  awx/ui/client/src/instance-groups/container-groups/add-container-group.view.html
  awx/ui/client/src/inventories-hosts/hosts/hosts.partial.html
  awx/ui/client/src/inventories-hosts/hosts/related/groups/hosts-related-groups.partial.html
  awx/ui/client/src/inventories-hosts/inventories/list/host-summary-popover/host-summary-popover.directive.js
  awx/ui/client/src/inventories-hosts/inventories/list/host-summary-popover/host-summary-popover.partial.html
  awx/ui/client/src/inventories-hosts/inventories/list/source-summary-popover/source-summary-popover.directive.js
  awx/ui/client/src/inventories-hosts/inventories/list/source-summary-popover/source-summary-popover.partial.html
  awx/ui/client/src/inventories-hosts/inventories/related/groups/list/groups-list.partial.html
  awx/ui/client/src/inventories-hosts/inventories/related/groups/related/nested-groups/group-nested-groups-disassociate.partial.html
  awx/ui/client/src/inventories-hosts/inventories/related/groups/related/nested-hosts/group-nested-hosts-disassociate.partial.html
  awx/ui/client/src/inventories-hosts/inventories/related/hosts/related/nested-groups/host-nested-groups-disassociate.partial.html
  awx/ui/client/src/inventories-hosts/inventories/related/sources/list/sources-list.partial.html
  awx/ui/client/src/inventories-hosts/shared/factories/set-status.factory.js
  awx/ui/client/src/shared/generator-helpers.js
  awx/ui/client/src/shared/paginate/paginate.partial.html
  awx/ui/client/src/smart-status/smart-status.partial.html
  awx/ui/client/src/templates/prompt/steps/other-prompts/prompt-other-prompts.partial.html
  awx/ui/client/src/templates/workflows/workflow-maker/forms/workflow-node-form.partial.html
Labels: component:ui, mergeit, type:bug

#6287 Collection: add a test for multiple credentials on a jt
  awx_collection/tests/integration/targets/tower_job_template/tasks/main.yml
Labels: component:awx_collection, mergeit

#6296 fix a bug in isolated event handling
  awx/main/isolated/manager.py
Labels: mergeit

#6256 Module Generation Tools for the AWX Collection
  awx_collection/galaxy.yml.j2
  awx_collection/plugins/modules/tower_group.py
  awx_collection/plugins/modules/tower_user.py
  awx_collection/tools/generate.yml
  awx_collection/tools/templates/tower_module.j2
  awx_collection/tools/vars/aliases.yml
  awx_collection/tools/vars/examples.yml
  awx_collection/tools/vars/generate_for.yml
Labels: component:awx_collection, mergeit, type:enhancement

#5726 Add read-only organization field to job templates
  awx/api/generics.py
  awx/api/serializers.py
  awx/api/urls/organization.py
  awx/api/views/__init__.py
  awx/api/views/mixin.py
  awx/api/views/organization.py
  awx/main/access.py
  awx/main/analytics/collectors.py
  awx/main/fields.py
  awx/main/middleware.py
  awx/main/migrations/0109_v370_job_template_organization_field.py
  awx/main/migrations/_rbac.py
  awx/main/models/inventory.py
  awx/main/models/jobs.py
  awx/main/models/organization.py
  awx/main/models/projects.py
  awx/main/models/unified_jobs.py
  awx/main/models/workflow.py
  awx/main/signals.py
  awx/main/tests/functional/api/test_job.py
  awx/main/tests/functional/api/test_job_template.py
  awx/main/tests/functional/api/test_organization_counts.py
  awx/main/tests/functional/api/test_unified_job_template.py
  awx/main/tests/functional/conftest.py
  awx/main/tests/functional/models/test_activity_stream.py
  awx/main/tests/functional/models/test_job.py
  awx/main/tests/functional/models/test_project.py
  awx/main/tests/functional/models/test_unified_job.py
  awx/main/tests/functional/test_instances.py
  awx/main/tests/functional/test_named_url.py
  awx/main/tests/functional/test_projects.py
  awx/main/tests/functional/test_rbac_job.py
  awx/main/tests/functional/test_rbac_job_start.py
  awx/main/tests/functional/test_rbac_job_templates.py
  awx/main/tests/functional/test_rbac_migration.py
  awx/main/tests/functional/test_rbac_workflow.py
  awx/main/tests/unit/api/serializers/test_job_template_serializers.py
  awx/main/tests/unit/models/test_unified_job_unit.py
  awx/main/tests/unit/test_access.py
  awx/main/tests/unit/test_fields.py
  awx/main/utils/named_url_graph.py
  awx/ui/client/features/templates/templates.strings.js
  awx/ui/client/features/templates/templatesList.view.html
  awx/ui/client/src/projects/projects.form.js
  awx/ui_next/src/screens/Template/JobTemplateDetail/JobTemplateDetail.jsx
  docs/named_url.md
Labels: component:api, component:ui, component:ui_next, mergeit, type:enhancement

#6297 Collection tests
  awx_collection/tests/integration/targets/tower_inventory/tasks/main.yml
  awx_collection/tests/integration/targets/tower_workflow_template/tasks/main.yml
Labels: mergeit

#6301 rework the gather() to always delete the leftover directories
  awx/main/analytics/core.py
Labels: mergeit

#6310 Auto-update dependencies in lock file
  awx/ui_next/package-lock.json
Labels: component:ui_next, mergeit

#6308 Allow scm_branch in notifications.
  awx/main/models/notifications.py
  awx/main/tests/functional/models/test_notifications.py
Labels: mergeit

#6312 Fix Shebang Error in Collections Tools
  awx_collection/tools/templates/tower_module.j2
Labels: component:awx_collection, mergeit, state:needs_review

#6307 Bumps eslint from 5.6 to 6.8
  awx/ui_next/.eslintrc
  awx/ui_next/package-lock.json
  awx/ui_next/package.json
  awx/ui_next/src/screens/Inventory/InventoryGroups/InventoryGroupsList.jsx
  awx/ui_next/src/screens/Organization/OrganizationDetail/OrganizationDetail.test.jsx
  awx/ui_next/src/screens/Team/TeamDetail/TeamDetail.test.jsx
Labels: component:ui_next, mergeit

#6314 Adds error div to toggle fields built using form generator
  awx/ui/client/src/shared/form-generator.js
Labels: component:ui, mergeit

#6278 Add more tests for recent WFJT module issues
  awx_collection/test/awx/test_workflow_template.py
Labels: component:awx_collection, mergeit

#6311 change duplicate IDs where possible
  awx/ui/client/features/credentials/legacy.credentials.js
  awx/ui/client/features/templates/index.view.html
  awx/ui/client/src/credentials/credentials.form.js
  awx/ui/client/src/home/dashboard/lists/job-templates/job-templates-list.partial.html
  awx/ui/client/src/inventories-hosts/hosts/hosts.partial.html
  awx/ui/client/src/inventories-hosts/inventories/smart-inventory/smart-inventory.form.js
  awx/ui/client/src/inventories-hosts/inventories/standard-inventory/inventory.form.js
  awx/ui/client/src/management-jobs/scheduler/schedulerForm.partial.html
  awx/ui/client/src/organizations/organizations.form.js
  awx/ui/client/src/partials/survey-maker-modal.html
  awx/ui/client/src/projects/projects.form.js
  awx/ui/client/src/scheduler/schedulerForm.partial.html
  awx/ui/client/src/scheduler/schedules.list.js
  awx/ui/client/src/shared/form-generator.js
  awx/ui/client/src/shared/list-generator/list-generator.factory.js
  awx/ui/client/src/shared/paginate/paginate.partial.html
  awx/ui/client/src/teams/teams.form.js
  awx/ui/client/src/templates/job_templates/job-template.form.js
  awx/ui/client/src/templates/prompt/prompt.partial.html
  awx/ui/client/src/templates/workflows.form.js
  awx/ui/client/src/users/users.form.js
  awx/ui/test/e2e/objects/sections/permissions.js
  awx/ui/test/e2e/tests/test-inventories-list-actions.js
  awx/ui/test/e2e/tests/test-xss.js
Labels: component:ui, mergeit, type:bug

#6322 Mark user password as no_log to silence warning
  awx_collection/plugins/modules/tower_user.py
Labels: component:awx_collection, mergeit

#6304 Add workflow to tower_role module
  awx_collection/plugins/modules/tower_role.py
  awx_collection/test/awx/test_role.py
  awx_collection/tests/integration/targets/tower_role/tasks/main.yml
Labels: component:awx_collection, mergeit

#6313 Upgrade jest and babel-jest to latest (v25)
  awx/ui_next/package-lock.json
  awx/ui_next/package.json
  awx/ui_next/src/components/NotificationList/__snapshots__/NotificationListItem.test.jsx.snap
  awx/ui_next/src/components/ResourceAccessList/__snapshots__/DeleteRoleConfirmationModal.test.jsx.snap
  awx/ui_next/src/components/ResourceAccessList/__snapshots__/ResourceAccessListItem.test.jsx.snap
  awx/ui_next/src/screens/Inventory/InventoryDetail/InventoryDetail.test.jsx
Labels: component:ui_next, mergeit

#6319 Collection test refactor
  awx_collection/tests/integration/targets/tower_credential/tasks/main.yml
  awx_collection/tests/integration/targets/tower_credential_type/tasks/main.yml
  awx_collection/tests/integration/targets/tower_group/tasks/main.yml
  awx_collection/tests/integration/targets/tower_host/tasks/main.yml
  awx_collection/tests/integration/targets/tower_inventory/tasks/main.yml
  awx_collection/tests/integration/targets/tower_inventory_source/tasks/main.yml
  awx_collection/tests/integration/targets/tower_job_launch/tasks/main.yml
  awx_collection/tests/integration/targets/tower_job_template/tasks/main.yml
  awx_collection/tests/integration/targets/tower_label/tasks/main.yml
  awx_collection/tests/integration/targets/tower_notification/tasks/main.yml
  awx_collection/tests/integration/targets/tower_organization/tasks/main.yml
  awx_collection/tests/integration/targets/tower_project/tasks/main.yml
  awx_collection/tests/integration/targets/tower_role/tasks/main.yml
  awx_collection/tests/integration/targets/tower_team/tasks/main.yml
  awx_collection/tests/integration/targets/tower_user/tasks/main.yml
  awx_collection/tests/integration/targets/tower_workflow_template/tasks/main.yml
Labels: component:awx_collection, mergeit

#6318 Moves JT Form to using react hooks and custom hooks
  awx/ui_next/src/screens/Template/shared/JobTemplateForm.jsx
  awx/ui_next/src/screens/Template/shared/JobTemplateForm.test.jsx
Labels: mergeit

#6325 Automatically hack sys.path to make running tests easier
  Makefile
  awx_collection/README.md
  awx_collection/test/awx/conftest.py
Labels: component:awx_collection, mergeit

#6273 Print module standard out in test failure scenarios
  awx_collection/test/awx/conftest.py
Labels: component:awx_collection, mergeit

#5745 Clean up a few more cases where we checked the license for features.
  awx/main/access.py
Labels: mergeit

#6330 Fix flaky workflow test & set junit family
  awx/main/tests/unit/test_access.py
  awxkit/tox.ini
  pytest.ini
Labels: mergeit

#6331 Add nested project schedule detail breadcrumb
  awx/ui_next/src/screens/Project/Projects.jsx
Labels: component:ui_next, mergeit

#6323 Replace verify_ssl test that did not work right
  awx_collection/tests/integration/targets/tower_organization/tasks/main.yml
Labels: component:awx_collection, mergeit

#6341 Jobs not running with external PostgreSQL database after PR #6034
  awx/main/dispatch/__init__.py
Labels: mergeit, type:bug

#6327 remove python2 support from awxkit
  awxkit/awxkit/api/mixins/has_status.py
  awxkit/awxkit/api/pages/credentials.py
  awxkit/awxkit/api/pages/page.py
  awxkit/awxkit/cli/client.py
  awxkit/awxkit/cli/custom.py
  awxkit/awxkit/cli/format.py
  awxkit/awxkit/cli/options.py
  awxkit/awxkit/cli/resource.py
  awxkit/awxkit/cli/utils.py
  awxkit/awxkit/utils/__init__.py
  awxkit/awxkit/ws.py
  awxkit/requirements.txt
  awxkit/setup.py
  awxkit/test/cli/test_options.py
  awxkit/test/test_credentials.py
  awxkit/test/test_utils.py
  awxkit/test/test_ws.py
  awxkit/tox.ini
Labels: mergeit

#6290 change when we send job notifications to avoid a race condition
  awx/main/dispatch/worker/callback.py
  awx/main/models/events.py
  awx/main/tasks.py
Labels: mergeit

#6343 Fix sanity error
  awx_collection/test/awx/conftest.py
Labels: mergeit

#6347 Collection: Fix some tests that broke during the random name update
  awx_collection/tests/integration/targets/tower_role/tasks/main.yml
  awx_collection/tests/integration/targets/tower_workflow_template/tasks/main.yml
Labels: component:awx_collection, mergeit

#6295 Update module_utils Functionality
  awx_collection/plugins/module_utils/tower_api.py
  awx_collection/plugins/modules/tower_group.py
  awx_collection/test/awx/test_group.py
Labels: component:awx_collection, mergeit, state:in_progress, state:needs_review

#6166 Improve performance of cleanup_jobs
  awx/main/management/commands/cleanup_jobs.py
  awx/main/management/commands/deletion.py
  awx/main/tests/functional/commands/test_cleanup_jobs.py
Labels: component:api, mergeit, type:enhancement

#6354 remove BROKER_URL special password handling
  awx/conf/settings.py
Labels: mergeit

#6344 Redis cleanup1
  awx/main/dispatch/__init__.py
  awx/main/dispatch/control.py
  awx/main/dispatch/publish.py
  awx/main/managers.py
  awx/main/tests/functional/test_dispatch.py
Labels: mergeit

#6345 fix redis requirements mess
  docs/licenses/amqp.txt
  docs/licenses/gitdb.txt
  docs/licenses/kombu.txt
  docs/licenses/smmap.txt
  docs/licenses/vine.txt
  requirements/README.md
  requirements/requirements.in
  requirements/requirements.txt
Labels: mergeit

#6360 log when notifications fail to send
  awx/main/tasks.py
  awx/main/tests/unit/test_tasks.py
Labels: mergeit

#6335 Moves template.jsx over to a functional component.
  awx/ui_next/src/screens/Template/Template.jsx
  awx/ui_next/src/screens/Template/Template.test.jsx
Labels: component:ui_next, mergeit

#6363 Fix typo in japanese string
  awx/ui/po/ja.po
Labels: component:ui, mergeit, type:bug

#6356 Survey add/edit forms
  awx/ui_next/package-lock.json
  awx/ui_next/src/components/FormField/FormField.jsx
  awx/ui_next/src/components/RoutedTabs/RoutedTabs.jsx
  awx/ui_next/src/screens/Host/HostAdd/HostAdd.test.jsx
  awx/ui_next/src/screens/Template/Survey/SurveyList.jsx
  awx/ui_next/src/screens/Template/Survey/SurveyList.test.jsx
  awx/ui_next/src/screens/Template/Survey/SurveyListItem.jsx
  awx/ui_next/src/screens/Template/Survey/SurveyListItem.test.jsx
  awx/ui_next/src/screens/Template/Survey/SurveyQuestionAdd.jsx
  awx/ui_next/src/screens/Template/Survey/SurveyQuestionAdd.test.jsx
  awx/ui_next/src/screens/Template/Survey/SurveyQuestionEdit.jsx
  awx/ui_next/src/screens/Template/Survey/SurveyQuestionEdit.test.jsx
  awx/ui_next/src/screens/Template/Survey/SurveyQuestionForm.jsx
  awx/ui_next/src/screens/Template/Survey/SurveyQuestionForm.test.jsx
  awx/ui_next/src/screens/Template/Survey/SurveyToolbar.jsx
  awx/ui_next/src/screens/Template/Survey/SurveyToolbar.test.jsx
  awx/ui_next/src/screens/Template/Survey/index.js
  awx/ui_next/src/screens/Template/TemplateSurvey.jsx
  awx/ui_next/src/screens/Template/Templates.jsx
  awx/ui_next/src/util/validators.jsx
  awx/ui_next/src/util/validators.test.js
Labels: component:ui_next, mergeit, type:enhancement

#6350 correct form submission errors for credential form
  awx/ui_next/src/screens/Credential/CredentialAdd/CredentialAdd.jsx
  awx/ui_next/src/screens/Credential/CredentialEdit/CredentialEdit.jsx
  awx/ui_next/src/screens/Credential/shared/CredentialForm.jsx
Labels: component:ui_next, mergeit

#6329 Add associate modal to nested inventory host list
  awx/ui_next/src/api/models/Groups.js
  awx/ui_next/src/components/Lookup/shared/OptionsList.jsx
  awx/ui_next/src/screens/Inventory/InventoryGroupHosts/AssociateModal.jsx
  awx/ui_next/src/screens/Inventory/InventoryGroupHosts/AssociateModal.test.jsx
  awx/ui_next/src/screens/Inventory/InventoryGroupHosts/InventoryGroupHostList.jsx
  awx/ui_next/src/screens/Inventory/InventoryGroupHosts/InventoryGroupHostList.test.jsx
  awx/ui_next/src/util/useSelected.jsx
  awx/ui_next/src/util/useSelected.test.jsx
Labels: component:ui_next, mergeit

#6326 Copy edit of backward incompatible changes
  awx_collection/README.md
Labels: component:awx_collection, mergeit

#6336 Fix test errors running locally with Ansible devel
  awx_collection/test/awx/conftest.py
  awx_collection/test/awx/test_role.py
  awx_collection/test/awx/test_send_receive.py
  awx_collection/test/awx/test_workflow_template.py
Labels: component:awx_collection, mergeit, type:bug

#6358 Fix regression in tower_settings module
  awx_collection/plugins/modules/tower_settings.py
  awx_collection/test/awx/test_settings.py
Labels: component:awx_collection, mergeit

#6361 Tower label update
  awx_collection/plugins/modules/tower_label.py
  awx_collection/test/awx/test_label.py
  awx_collection/tests/integration/targets/tower_label/tasks/main.yml
Labels: component:awx_collection, mergeit, type:enhancement

#6378 fixup dev cluster bringup
  tools/docker-compose-cluster.yml
Labels: mergeit

#6377 serialize register_queue
  awx/main/management/commands/register_queue.py
Labels: mergeit

#6368 Fix job template form bugs r/t saving without an inventory
  awx/ui_next/src/screens/Template/Template.jsx
  awx/ui_next/src/screens/Template/shared/JobTemplateForm.jsx
Labels: component:ui_next, mergeit

#6370 Initial conversion of tower_role
  awx_collection/plugins/module_utils/tower_api.py
  awx_collection/plugins/modules/tower_role.py
  awx_collection/test/awx/test_role.py
  awx_collection/tests/integration/targets/tower_role/tasks/main.yml
Labels: component:awx_collection, mergeit

#6364 Preserve symlinks when copying a tree.
  awx/main/tasks.py
Labels: mergeit

#6381 Fix host event type and reference errors
  awx/ui_next/src/screens/Job/JobOutput/HostEventModal.jsx
Labels: component:ui_next, mergeit, type:bug

#5582 Don't refresh settings on websocket event
  awx/ui/client/src/shared/socket/socket.service.js
Labels: component:ui, mergeit, type:bug

#6389 update email option notification to select
  awx/ui/client/src/notifications/add/add.controller.js
  awx/ui/client/src/notifications/edit/edit.controller.js
  awx/ui/client/src/notifications/notificationTemplates.form.js
  awx/ui/client/src/shared/form-generator.js
Labels: mergeit

#6390 Fix bugs related to Job Template labels and tags
  awx/ui_next/src/components/FormActionGroup/FormActionGroup.jsx
  awx/ui_next/src/components/MultiSelect/TagMultiSelect.jsx
  awx/ui_next/src/screens/Template/JobTemplateAdd/JobTemplateAdd.jsx
  awx/ui_next/src/screens/Template/JobTemplateEdit/JobTemplateEdit.jsx
  awx/ui_next/src/screens/Template/shared/LabelSelect.jsx
Labels: component:ui_next, mergeit

#6348 Adds word wrap functionality
  awx/ui_next/src/components/CheckboxListItem/CheckboxListItem.jsx
  awx/ui_next/src/components/DataListCell/DataListCell.jsx
  awx/ui_next/src/components/DataListCell/index.js
  awx/ui_next/src/components/JobList/JobListItem.jsx
  awx/ui_next/src/components/NotificationList/NotificationListItem.jsx
  awx/ui_next/src/components/NotificationList/__snapshots__/NotificationListItem.test.jsx.snap
  awx/ui_next/src/components/PaginatedDataList/PaginatedDataListItem.jsx
  awx/ui_next/src/components/ResourceAccessList/ResourceAccessListItem.jsx
  awx/ui_next/src/components/ResourceAccessList/__snapshots__/ResourceAccessListItem.test.jsx.snap
  awx/ui_next/src/components/Schedule/ScheduleList/ScheduleListItem.jsx
  awx/ui_next/src/screens/Credential/CredentialList/CredentialListItem.jsx
  awx/ui_next/src/screens/Host/HostList/HostListItem.jsx
  awx/ui_next/src/screens/Inventory/InventoryGroupHosts/InventoryGroupHostListItem.jsx
  awx/ui_next/src/screens/Inventory/InventoryGroups/InventoryGroupItem.jsx
  awx/ui_next/src/screens/Inventory/InventoryHosts/InventoryHostItem.jsx
  awx/ui_next/src/screens/Inventory/InventoryList/InventoryListItem.jsx
  awx/ui_next/src/screens/Organization/OrganizationList/OrganizationListItem.jsx
  awx/ui_next/src/screens/Project/ProjectJobTemplatesList/ProjectJobTemplatesListItem.jsx
  awx/ui_next/src/screens/Project/ProjectList/ProjectListItem.jsx
  awx/ui_next/src/screens/Team/TeamList/TeamListItem.jsx
  awx/ui_next/src/screens/Template/Survey/SurveyListItem.jsx
  awx/ui_next/src/screens/Template/TemplateList/TemplateListItem.jsx
  awx/ui_next/src/screens/User/UserList/UserListItem.jsx
  awx/ui_next/src/screens/User/UserOrganizations/UserOrganizationListItem.jsx
Labels: component:ui_next, mergeit

#6394 update to the latest version of ansible-runner
  requirements/requirements.in
  requirements/requirements.txt
  requirements/requirements_ansible.txt
Labels: mergeit

#6291 Add Workflow Node Identifier
  Makefile
  awx/api/serializers.py
  awx/main/migrations/0112_v370_workflow_node_identifier.py
  awx/main/models/workflow.py
  awx/main/tests/unit/models/test_workflow_unit.py
  awx/main/utils/named_url_graph.py
  awx_collection/plugins/module_utils/tower_api.py
  awx_collection/plugins/modules/tower_workflow_job_template.py
  awx_collection/plugins/modules/tower_workflow_job_template_node.py
  awx_collection/plugins/modules/tower_workflow_template.py
  awx_collection/test/awx/conftest.py
  awx_collection/test/awx/test_workflow_job_template.py
  awx_collection/test/awx/test_workflow_job_template_node.py
  awx_collection/test/awx/test_workflow_template.py
  awx_collection/tests/integration/targets/tower_workflow_job_template/tasks/main.yml
  awxkit/awxkit/api/pages/workflow_job_template_nodes.py
  docs/named_url.md
  docs/workflow.md
Labels: component:api, component:awx_collection, mergeit, type:enhancement

#6271 Adds User Organization List
  awx/ui_next/src/api/models/Users.js
  awx/ui_next/src/screens/User/User.jsx
  awx/ui_next/src/screens/User/UserOrganizations/UserOrganizationListItem.test.jsx
  awx/ui_next/src/screens/User/UserOrganizations/UserOrganizations.jsx
  awx/ui_next/src/screens/User/UserOrganizations/UserOrganizations.test.jsx
  awx/ui_next/src/screens/User/UserOrganizations/UserOrganizationsList.jsx
  awx/ui_next/src/screens/User/UserOrganizations/UserOrganizationsList.test.jsx
Labels: component:ui_next, mergeit, type:enhancement

#6405 update Django to address CVE-2020-9402
  requirements/requirements.in
  requirements/requirements.txt
Labels: mergeit

#6404 pin a minimum pyyaml version to address (CVE-2017-18342)
  requirements/requirements.in
  requirements/requirements.txt
Labels: mergeit

#6369 Fix bug with association on creation
  awx_collection/plugins/module_utils/tower_api.py
  awx_collection/test/awx/test_group.py
  awx_collection/test/awx/test_workflow_job_template_node.py
Labels: component:awx_collection, mergeit, type:bug

#6334 Add netcat to the dev container
  tools/docker-compose/Dockerfile
Labels: component:installer, mergeit, type:enhancement

#6407 Hookup launch button to workflow visualizer
  awx/ui_next/src/components/LaunchButton/LaunchButton.jsx
  awx/ui_next/src/components/LaunchButton/LaunchButton.test.jsx
  awx/ui_next/src/screens/Template/TemplateList/TemplateList.jsx
  awx/ui_next/src/screens/Template/TemplateList/TemplateList.test.jsx
  awx/ui_next/src/screens/Template/WorkflowJobTemplateVisualizer/Visualizer.jsx
  awx/ui_next/src/screens/Template/WorkflowJobTemplateVisualizer/VisualizerToolbar.jsx
  awx/ui_next/src/screens/Template/WorkflowJobTemplateVisualizer/VisualizerToolbar.test.jsx
Labels: component:ui_next, mergeit

#6386 Awxkit api endpoints
  awx/api/serializers.py
  awxkit/awxkit/api/pages/credentials.py
  awxkit/awxkit/api/pages/inventory.py
  awxkit/awxkit/api/pages/job_templates.py
  awxkit/awxkit/api/pages/notification_templates.py
  awxkit/awxkit/api/pages/projects.py
  awxkit/awxkit/api/pages/teams.py
  awxkit/awxkit/api/pages/users.py
  awxkit/awxkit/api/pages/workflow_job_templates.py
  awxkit/awxkit/api/resources.py
Labels: component:api, mergeit, type:enhancement

#6403 Add a connection kwarg to Page.from_json
  awxkit/awxkit/api/pages/page.py
  awxkit/awxkit/cli/resource.py
Labels: component:api, mergeit, type:enhancement

#6408 remove a bunch of RabbitMQ references
  CONTRIBUTING.md
  INSTALL.md
  awx/main/management/commands/deprovision_instance.py
  awx/main/tests/unit/test_tasks.py
  awx/ui_next/src/screens/Host/data.hostFacts.json
  awx/ui_next/src/screens/Inventory/shared/data.hostFacts.json
  awx/ui_next/src/screens/Job/shared/data.job.json
  docs/ansible_runner_integration.md
  docs/clustering.md
  tools/docker-compose-cluster.yml
Labels: mergeit

#6409 Rename group-to-group field to align with API
  awx_collection/plugins/modules/tower_group.py
  awx_collection/test/awx/test_group.py
Labels: component:awx_collection, mergeit

#6410 update social-auth-core to address a GitHub API deprecation
  requirements/requirements.in
  requirements/requirements.txt
Labels: mergeit

#6399 Don't delete confirmed password from formik object
  awx/ui_next/src/screens/User/shared/UserForm.jsx
Labels: component:ui_next, mergeit, type:bug

#6416 Remove unnecessary project template add option
  awx/ui_next/src/screens/Project/ProjectJobTemplatesList/ProjectJobTemplatesList.jsx
Labels: component:ui_next, mergeit, type:bug

#6429 Hookup WF documentation button to visualizer toolbar
  awx/ui_next/src/screens/Template/WorkflowJobTemplateVisualizer/VisualizerToolbar.jsx
  awx/ui_next/src/screens/Template/WorkflowJobTemplateVisualizer/VisualizerToolbar.test.jsx
Labels: component:ui_next, mergeit

#6434 Disable launch button when there are zero nodes
  awx/ui_next/src/screens/Template/WorkflowJobTemplateVisualizer/VisualizerToolbar.jsx
Labels: component:ui_next, mergeit

#6388 set broadcast websockets secret
  installer/roles/kubernetes/tasks/main.yml
  installer/roles/kubernetes/templates/credentials.py.j2
  installer/roles/local_docker/tasks/main.yml
  installer/roles/local_docker/templates/credentials.py.j2
Labels: mergeit

#6441 fix busted shell_plus in the development environment
  awx/settings/development.py
Labels: mergeit

#6447 update to the latest version of ansible-runner
  requirements/requirements.in
  requirements/requirements.txt
Labels: mergeit

#6443 clarify some API documentation on summary_fields
  awx/api/metadata.py
Labels: mergeit

#6454 Add advice for creating bug reports
  .github/ISSUE_TEMPLATE.md
Labels: component:docs, mergeit

#6444 Adds aria-label to some buttons without text
  awx/ui_next/src/components/JobList/JobListItem.jsx
  awx/ui_next/src/components/PageHeaderToolbar/PageHeaderToolbar.jsx
  awx/ui_next/src/components/Schedule/ScheduleList/ScheduleListItem.jsx
  awx/ui_next/src/components/Sparkline/Sparkline.jsx
  awx/ui_next/src/screens/Credential/CredentialList/CredentialListItem.jsx
  awx/ui_next/src/screens/Host/HostList/HostListItem.jsx
  awx/ui_next/src/screens/Inventory/InventoryGroupHosts/InventoryGroupHostListItem.jsx
  awx/ui_next/src/screens/Inventory/InventoryGroups/InventoryGroupItem.jsx
  awx/ui_next/src/screens/Inventory/InventoryList/InventoryListItem.jsx
  awx/ui_next/src/screens/Job/JobOutput/JobOutput.test.jsx
  awx/ui_next/src/screens/Job/JobOutput/PageControls.jsx
  awx/ui_next/src/screens/Job/JobOutput/PageControls.test.jsx
  awx/ui_next/src/screens/Job/JobOutput/shared/OutputToolbar.jsx
  awx/ui_next/src/screens/Organization/OrganizationList/OrganizationListItem.jsx
  awx/ui_next/src/screens/Project/ProjectList/ProjectListItem.jsx
  awx/ui_next/src/screens/Team/TeamList/TeamListItem.jsx
  awx/ui_next/src/screens/Template/TemplateList/TemplateListItem.jsx
  awx/ui_next/src/screens/User/UserList/UserListItem.jsx
Labels: component:ui_next, mergeit

#6451 Optionally add the webhook_credential link to related
  awx/api/serializers.py
  awx/main/tests/unit/api/serializers/test_job_template_serializers.py
Labels: component:api, mergeit, type:enhancement

#6032 migrate event table primary keys from integer to bigint
  awx/main/dispatch/worker/base.py
  awx/main/migrations/0113_v370_event_bigint.py
  awx/main/models/__init__.py
  awx/main/models/events.py
  awx/main/tasks.py
  awx/settings/defaults.py
Labels: component:api, mergeit, type:bug, type:enhancement

#6315 Collections tools associations
  awx_collection/tools/generate.yml
  awx_collection/tools/templates/tower_module.j2
  awx_collection/tools/vars/associations.yml
  awx_collection/tools/vars/resolution.yml
Labels: component:awx_collection, mergeit, type:enhancement

#6438 Identify user-only object roles
  awx/api/serializers.py
Labels: component:api, mergeit

#6458 Limit disable-on-load to single notifications
  awx/ui_next/src/components/NotificationList/NotificationList.jsx
Labels: component:ui_next, mergeit, type:bug
