Repository ansible/awx, pull requests merged in 2020-07, with the labels that each got.

#7396 Adds Application edit functionality
  awx/ui_next/src/screens/Application/Application/Application.test.jsx
  awx/ui_next/src/screens/Application/ApplicationEdit/ApplicationEdit.jsx
  awx/ui_next/src/screens/Application/ApplicationEdit/ApplicationEdit.test.jsx
  awx/ui_next/src/screens/Application/Applications.jsx
  awx/ui_next/src/screens/Application/shared/ApplicationForm.test.jsx
Labels: component:ui_next, mergeit

#7484 Remove unused dependencies
  awx/ui_next/README.md
  awx/ui_next/package-lock.json
  awx/ui_next/package.json
Labels: component:ui_next, mergeit

#7499 Add strings to be translated
  awx/ui_next/src/screens/Application/Application/Application.jsx
  awx/ui_next/src/screens/Credential/Credential.jsx
  awx/ui_next/src/screens/Host/Host.jsx
  awx/ui_next/src/screens/Inventory/Inventory.jsx
  awx/ui_next/src/screens/Inventory/InventoryHost/InventoryHost.jsx
  awx/ui_next/src/screens/Inventory/InventorySource/InventorySource.jsx
  awx/ui_next/src/screens/Inventory/SmartInventory.jsx
  awx/ui_next/src/screens/Job/Job.jsx
  awx/ui_next/src/screens/Job/JobTypeRedirect.jsx
  awx/ui_next/src/screens/Organization/Organization.jsx
  awx/ui_next/src/screens/Project/Project.jsx
  awx/ui_next/src/screens/Team/Team.jsx
  awx/ui_next/src/screens/Template/Template.jsx
  awx/ui_next/src/screens/Template/WorkflowJobTemplate.jsx
  awx/ui_next/src/screens/User/User.jsx
Labels: component:ui_next, mergeit

#7519 Copy over some downstream changes
  installer/roles/kubernetes/defaults/main.yml
  installer/roles/kubernetes/tasks/restore.yml
  installer/roles/kubernetes/templates/deployment.yml.j2
  installer/roles/kubernetes/templates/management-pod.yml.j2
Labels: mergeit

#7502 Add extraction of strings to be translated as part of build process
  .gitignore
  Makefile
  awx/ui_next/.linguirc
Labels: component:ui_next, mergeit

#7501 Delete node_modules in project root
  Makefile
Labels: mergeit

#7525 don't allow users to specify $encrypted$ for encrypted credential fields
  awx/main/fields.py
  awx/main/tests/functional/api/test_credential.py
Labels: mergeit

#7432 Only pass either user or org on modules test
  awx_collection/tests/integration/targets/tower_credential/tasks/main.yml
Labels: component:awx_collection, mergeit, type:bug

#7553 Fix self-closing tags for jquery 3.5 compat
  awx/ui/client/features/credentials/add-edit-credentials.view.html
  awx/ui/client/features/credentials/input-source-lookup.partial.html
  awx/ui/client/lib/components/input/text.partial.html
  awx/ui/client/lib/components/input/textarea-secret.partial.html
  awx/ui/client/src/scheduler/schedulerDatePicker.partial.html
  awx/ui/client/src/scheduler/schedulerForm.partial.html
Labels: component:ui, mergeit, type:bug

#7552 Allow anyone to start awx and awx_task [#7545]
  installer/roles/image_build/tasks/main.yml
Labels: component:installer, mergeit, type:bug

#7444 Adds edit icon to the OrganizationTeams list
  awx/ui_next/src/screens/Organization/OrganizationTeams/OrganizationTeamList.jsx
  awx/ui_next/src/screens/Organization/OrganizationTeams/OrganizationTeamList.test.jsx
  awx/ui_next/src/screens/Organization/OrganizationTeams/OrganizationTeamListItem.jsx
  awx/ui_next/src/screens/Organization/OrganizationTeams/OrgnizationTeamListItem.test.jsx
  awx/ui_next/src/screens/Organization/OrganizationTeams/index.js
Labels: component:ui_next, mergeit

#7540 Add Websocket support to Projects List
  awx/ui_next/src/components/JobList/useWsJobs.js
  awx/ui_next/src/components/JobList/useWsJobs.test.jsx
  awx/ui_next/src/screens/Project/ProjectList/ProjectList.jsx
  awx/ui_next/src/screens/Project/ProjectList/useWsProjects.js
  awx/ui_next/src/screens/Project/ProjectList/useWsProjects.test.jsx
  awx/ui_next/src/util/useThrottle.js
Labels: component:ui_next, mergeit, state:needs_test

#7537 Fix custom credential field validation
  awx/ui/client/features/credentials/add-edit-credentials.controller.js
  awx/ui/client/features/credentials/add-edit-credentials.view.html
  awx/ui/client/lib/components/input/base.controller.js
  awx/ui/client/lib/models/Credential.js
Labels: component:ui, mergeit, state:needs_test, type:bug

#7568 Update to ansible/angular-scheduler#v0.4.4
  awx/ui/package-lock.json
  awx/ui/package.json
Labels: component:ui, mergeit, type:bug

#7529 Add stub files for Instance Groups
  awx/ui_next/src/screens/InstanceGroup/InstanceGroup.jsx
  awx/ui_next/src/screens/InstanceGroup/InstanceGroupAdd/InstanceGroupAdd.jsx
  awx/ui_next/src/screens/InstanceGroup/InstanceGroupAdd/index.js
  awx/ui_next/src/screens/InstanceGroup/InstanceGroupDetails/InstanceGroupDetails.jsx
  awx/ui_next/src/screens/InstanceGroup/InstanceGroupDetails/index.js
  awx/ui_next/src/screens/InstanceGroup/InstanceGroupEdit/InstanceGroupEdit.jsx
  awx/ui_next/src/screens/InstanceGroup/InstanceGroupEdit/index.js
  awx/ui_next/src/screens/InstanceGroup/InstanceGroupList/InstanceGroupList.jsx
  awx/ui_next/src/screens/InstanceGroup/InstanceGroupList/index.js
  awx/ui_next/src/screens/InstanceGroup/InstanceGroups.jsx
  awx/ui_next/src/screens/InstanceGroup/InstanceGroups.test.jsx
Labels: component:ui_next, mergeit

#7578 Raise job length for testing job wait
  awx_collection/tests/integration/targets/tower_job_wait/tasks/main.yml
Labels: mergeit, type:bug

#7555 Adds User TokenAdd Functionality
  awx/ui_next/src/api/index.js
  awx/ui_next/src/api/models/Tokens.js
  awx/ui_next/src/api/models/Users.js
  awx/ui_next/src/components/Lookup/ApplicationLookup.jsx
  awx/ui_next/src/components/Lookup/ApplicationLookup.test.jsx
  awx/ui_next/src/components/Lookup/index.js
  awx/ui_next/src/screens/User/User.jsx
  awx/ui_next/src/screens/User/UserTokenAdd/UserTokenAdd.jsx
  awx/ui_next/src/screens/User/UserTokenAdd/UserTokenAdd.test.jsx
  awx/ui_next/src/screens/User/UserTokenAdd/index.js
  awx/ui_next/src/screens/User/UserTokenList/UserTokenListItem.jsx
  awx/ui_next/src/screens/User/UserTokenList/UserTokenListItem.test.jsx
  awx/ui_next/src/screens/User/UserTokens/UserTokens.jsx
  awx/ui_next/src/screens/User/UserTokens/index.js
  awx/ui_next/src/screens/User/Users.jsx
  awx/ui_next/src/screens/User/shared/UserTokenForm.jsx
  awx/ui_next/src/screens/User/shared/UserTokenForm.test.jsx
  awx/ui_next/src/screens/User/shared/index.js
Labels: component:ui_next, mergeit, type:feature

#7576 show user capabilities for instance groups
  awx/api/serializers.py
Labels: mergeit

#7584 use jinja2.sandbox for credential type injectors
  awx/main/fields.py
  awx/main/models/credential/__init__.py
Labels: mergeit

#7489 Add edit credential types
  awx/ui_next/src/components/FormField/FormSubmitError.jsx
  awx/ui_next/src/screens/CredentialType/CredentialType.jsx
  awx/ui_next/src/screens/CredentialType/CredentialTypeDetails/CredentialTypeDetails.jsx
  awx/ui_next/src/screens/CredentialType/CredentialTypeEdit/CredentialTypeEdit.jsx
  awx/ui_next/src/screens/CredentialType/CredentialTypeEdit/CredentialTypeEdit.test.jsx
  awx/ui_next/src/screens/CredentialType/CredentialTypeList/CredentialTypeList.jsx
  awx/ui_next/src/screens/CredentialType/shared/CredentialTypeForm.jsx
  awx/ui_next/src/util/yaml.js
Labels: component:ui_next, mergeit, state:needs_test

#7592 Include instance_id in host edit request
  awx/ui/client/src/inventories-hosts/inventories/related/hosts/edit/host-edit.controller.js
Labels: component:ui, mergeit

#7585 Safely enable HTML in Custom Login Info
  awx/ui/client/src/login/loginModal/loginModal.controller.js
  awx/ui/client/src/login/loginModal/loginModal.partial.html
  awx/ui/client/src/login/loginModal/loginModalNotice.block.less
Labels: component:ui, mergeit, type:enhancement

#7575 Adding inventory variable to set "extra_hosts" in generated compose file
  installer/inventory
  installer/roles/local_docker/templates/docker-compose.yml.j2
Labels: component:installer, mergeit, type:enhancement

#7604 Update help_text for Custom Login Info to show support for HTML
  awx/ui/conf.py
Labels: component:docs, component:ui, mergeit

#7605 Add artifacts field of jobs to the allowed list for notifications
  awx/main/models/notifications.py
  awx/main/tests/functional/models/test_notifications.py
Labels: mergeit

#7615 fixed broken UI links
  awx/ui/client/src/inventories-hosts/inventories/related/sources/sources.form.js
Labels: component:ui, mergeit, type:bug

#7598 Add Websocket support to inventories list
  awx/ui_next/src/components/JobList/useWsJobs.js
  awx/ui_next/src/components/SyncStatusIndicator/SyncStatusIndicator.jsx
  awx/ui_next/src/components/SyncStatusIndicator/index.js
  awx/ui_next/src/screens/Inventory/InventoryList/InventoryList.jsx
  awx/ui_next/src/screens/Inventory/InventoryList/InventoryList.test.jsx
  awx/ui_next/src/screens/Inventory/InventoryList/InventoryListItem.jsx
  awx/ui_next/src/screens/Inventory/InventoryList/useWsInventories.js
  awx/ui_next/src/screens/Inventory/InventoryList/useWsInventories.test.jsx
  awx/ui_next/src/screens/Project/ProjectList/useWsProjects.js
  awx/ui_next/src/util/useWebsocket.js
Labels: component:ui_next, mergeit, type:feature

#7611 add job type to Host summary_fields.recent_jobs
  awx/api/serializers.py
  awx/main/models/unified_jobs.py
  awx/main/tests/functional/test_jobs.py
Labels: component:api, mergeit

#7286 Adding tower_api and tower_get_id lookup plugins
  awx_collection/plugins/doc_fragments/auth_plugin.py
  awx_collection/plugins/inventory/tower.py
  awx_collection/plugins/lookup/tower_api.py
  awx_collection/plugins/modules/tower_meta.py
  awx_collection/tests/integration/targets/tower_lookup_api_plugin/tasks/main.yml
  awx_collection/tests/integration/targets/tower_schedule_rrule/tasks/main.yml
  awx_collection/tools/roles/template_galaxy/tasks/main.yml
Labels: component:awx_collection, mergeit, type:enhancement

#7618 Fix most of this week's npm warnings
  awx/ui_next/package-lock.json
Labels: component:ui_next, mergeit

#7631 Use summary job_type on host list
  awx/ui_next/src/screens/Host/HostList/HostListItem.jsx
Labels: mergeit, state:needs_test

#7628 Improve nav behavior
  awx/ui_next/src/components/AppContainer/NavExpandableGroup.jsx
Labels: component:ui_next, mergeit, type:bug

#7627 Show grant and client type validation errors
  awx/ui_next/src/screens/Application/shared/ApplicationForm.jsx
Labels: component:ui_next, mergeit, type:bug

#7559 Removes unneeded select all checkbox in Survey List
  awx/ui_next/src/screens/Template/Survey/SurveyList.jsx
  awx/ui_next/src/screens/Template/Survey/SurveyList.test.jsx
Labels: component:ui_next, mergeit, state:needs_test

#7629 add the ability to specify K8S/OCP credentials on a Job Template
  awx/api/serializers.py
  awx/api/views/__init__.py
  awx/main/models/credential/injectors.py
  awx/main/tests/functional/api/test_credential_type.py
  awx/main/tests/functional/api/test_job_runtime_params.py
  awx/main/tests/unit/test_tasks.py
  awx/ui/client/lib/components/tag/_index.less
  awx/ui/client/src/templates/job_templates/multi-credential/multi-credential-modal.directive.js
  awx/ui/client/src/templates/job_templates/multi-credential/multi-credential-modal.partial.html
  awx/ui/client/src/templates/job_templates/multi-credential/multi-credential.partial.html
  awx/ui/client/src/templates/prompt/prompt.controller.js
  awx/ui_next/src/api/models/CredentialTypes.js
  docs/licenses/ruamel.ordereddict.txt
  requirements/requirements.txt
  requirements/requirements_ansible.in
  requirements/requirements_ansible.txt
Labels: mergeit

#7641 Remove the NodePort type for the web svc.
  installer/roles/kubernetes/templates/deployment.yml.j2
Labels: component:api, component:installer, component:ui, mergeit, type:enhancement

#7635 Exposes created attribute via API for User django ORM
  awx/api/filters.py
  awx/main/models/__init__.py
  awx/main/tests/functional/api/test_user.py
Labels: component:api, mergeit, type:enhancement

#7652 Check for required node version before build or install
  awx/ui_next/.npmrc
  awx/ui_next/package.json
Labels: component:ui_next, mergeit, type:bug

#7620 Inventory sources websockets
  awx/ui_next/src/screens/Inventory/InventorySources/InventorySourceList.jsx
  awx/ui_next/src/screens/Inventory/InventorySources/InventorySourceList.test.jsx
  awx/ui_next/src/screens/Inventory/InventorySources/useWsInventorySources.js
  awx/ui_next/src/screens/Inventory/InventorySources/useWsInventorySources.test.jsx
Labels: component:ui_next, mergeit

#7613 Add websocket support to TemplateList
  awx/ui_next/src/screens/Template/TemplateList/TemplateList.jsx
  awx/ui_next/src/screens/Template/TemplateList/TemplateList.test.jsx
  awx/ui_next/src/screens/Template/TemplateList/useWsTemplates.js
  awx/ui_next/src/screens/Template/TemplateList/useWsTemplates.test.jsx
Labels: component:ui_next, mergeit, type:enhancement

#7697 Small update CredentialTypeList
  awx/ui_next/src/screens/CredentialType/CredentialTypeList/CredentialTypeList.jsx
Labels: component:ui_next, mergeit

#7702 Fix broken offline builds
  requirements/requirements_ansible.txt
Labels: mergeit

#7696 Installer: remove quote filter from docker_registry_password
  installer/roles/image_push/tasks/main.yml
Labels: mergeit, type:bug

#7698 Use default path for pgdata volume in docker-compose template
  installer/roles/local_docker/templates/docker-compose.yml.j2
Labels: component:installer, mergeit, type:bug

#7671 update pf to 09 2020 release
  awx/ui_next/package-lock.json
  awx/ui_next/package.json
  awx/ui_next/src/components/PaginatedDataList/__snapshots__/ToolbarDeleteButton.test.jsx.snap
  awx/ui_next/src/components/ResourceAccessList/__snapshots__/DeleteRoleConfirmationModal.test.jsx.snap
  awx/ui_next/src/components/ResourceAccessList/__snapshots__/ResourceAccessListItem.test.jsx.snap
  awx/ui_next/src/screens/Job/JobOutput/shared/HostStatusBar.test.jsx
Labels: component:ui_next, dependencies, mergeit

#7713 Fixes bug where help icon showed up beneath the form label
  awx/ui_next/src/components/FormField/FormField.jsx
  awx/ui_next/src/components/HostForm/HostForm.jsx
  awx/ui_next/src/components/LaunchPrompt/steps/OtherPromptsStep.jsx
  awx/ui_next/src/components/LaunchPrompt/steps/SurveyStep.jsx
  awx/ui_next/src/components/Lookup/CredentialLookup.jsx
  awx/ui_next/src/components/Lookup/InstanceGroupsLookup.jsx
  awx/ui_next/src/components/Lookup/ProjectLookup.jsx
  awx/ui_next/src/screens/Application/shared/ApplicationForm.jsx
  awx/ui_next/src/screens/Credential/shared/CredentialFormFields/BecomeMethodField.jsx
  awx/ui_next/src/screens/Credential/shared/CredentialFormFields/CredentialField.jsx
  awx/ui_next/src/screens/Credential/shared/CredentialFormFields/CredentialPlugins/CredentialPluginField.jsx
  awx/ui_next/src/screens/Inventory/shared/InventorySourceForm.jsx
  awx/ui_next/src/screens/Inventory/shared/InventorySourceSubForms/SCMSubForm.jsx
  awx/ui_next/src/screens/Inventory/shared/InventorySourceSubForms/SharedFields.jsx
  awx/ui_next/src/screens/Project/shared/ProjectForm.jsx
  awx/ui_next/src/screens/Project/shared/ProjectSubForms/ManualSubForm.jsx
  awx/ui_next/src/screens/Template/Survey/SurveyQuestionForm.jsx
  awx/ui_next/src/screens/Template/shared/JobTemplateForm.jsx
  awx/ui_next/src/screens/Template/shared/WebhookSubForm.jsx
  awx/ui_next/src/screens/Template/shared/WorkflowJobTemplateForm.jsx
Labels: component:ui_next, mergeit

#7643 Implement per-update cache for roles and collections
  awx/main/models/projects.py
  awx/main/tasks.py
  awx/main/tests/functional/api/test_project.py
  awx/main/tests/functional/conftest.py
  awx/main/tests/functional/models/test_inventory.py
  awx/main/tests/functional/models/test_project.py
  awx/main/tests/functional/test_projects.py
  awx/main/tests/functional/test_tasks.py
  awx/main/tests/unit/test_tasks.py
  awx/playbooks/project_update.yml
  docs/collections.md
Labels: component:api, mergeit, state:needs_docs, type:enhancement

#7596 Set React to Strict Mode
  awx/ui_next/src/index.jsx
  awx/ui_next/src/index.test.jsx
Labels: component:ui_next, mergeit, state:needs_test

#7726 Update helm urls in install guide
  INSTALL.md
Labels: component:docs, component:installer, mergeit

#7633 Add feature list instance groups
  awx/ui_next/src/components/PaginatedDataList/ToolbarDeleteButton.jsx
  awx/ui_next/src/components/PaginatedDataList/__snapshots__/ToolbarDeleteButton.test.jsx.snap
  awx/ui_next/src/screens/InstanceGroup/InstanceGroupList/InstanceGroupList.jsx
  awx/ui_next/src/screens/InstanceGroup/InstanceGroupList/InstanceGroupList.test.jsx
  awx/ui_next/src/screens/InstanceGroup/InstanceGroupList/InstanceGroupListItem.jsx
  awx/ui_next/src/screens/InstanceGroup/InstanceGroupList/InstanceGroupListItem.test.jsx
Labels: component:ui_next, mergeit

#7736 Make Some Doc Edits in the rrule Collections Module
  awx_collection/plugins/lookup/tower_schedule_rrule.py
  awx_collection/test/awx/test_schedule.py
Labels: component:awx_collection, mergeit

#7707 Update wording to equal mock up
  awx/ui_next/src/screens/CredentialType/CredentialTypes.jsx
  awx/ui_next/src/screens/Template/TemplateList/TemplateList.jsx
Labels: component:ui_next, mergeit, state:needs_test

#7762 Add helpful dialog profilesql
  awx/main/management/commands/profile_sql.py
Labels: component:api, mergeit, type:enhancement

#7753 Use quotations when marking strings for translation
  awx/ui/client/src/inventories-hosts/inventories/related/sources/sources.form.js
Labels: component:ui, mergeit, type:bug

#7748 Delete portal mode
  awx/ui_next/src/routeConfig.js
  awx/ui_next/src/screens/Portal/Portal.jsx
  awx/ui_next/src/screens/Portal/Portal.test.jsx
  awx/ui_next/src/screens/Portal/index.js
Labels: component:ui_next, mergeit

#7765 Convert InventoryGroupsList to use useRequest and useSelected hooks
  awx/ui_next/src/screens/Inventory/InventoryGroups/InventoryGroupsList.jsx
Labels: component:ui_next, mergeit, state:needs_test

#7755 Converts InventorySourcesList to use useRequest in preparation for advanced search
  awx/ui_next/src/screens/Template/WorkflowJobTemplateVisualizer/Modals/NodeModals/NodeTypeStep/InventorySourcesList.jsx
Labels: component:ui_next, mergeit

#7759 Update ProjectJobTemplatesList to use useSelected, useRequest, useDeleteItems hooks
  awx/ui_next/src/screens/Project/ProjectJobTemplatesList/ProjectJobTemplatesList.jsx
Labels: component:ui_next, mergeit

#7743 Converts UserList to functional component
  awx/ui_next/src/screens/User/UserList/UserList.jsx
  awx/ui_next/src/screens/User/UserList/UserList.test.jsx
Labels: component:ui_next, mergeit

#7754 Converts JobTemplatesList to use useRequest in preparation for advanced search
  awx/ui_next/src/screens/Template/WorkflowJobTemplateVisualizer/Modals/NodeModals/NodeTypeStep/JobTemplatesList.jsx
Labels: component:ui_next, mergeit

#7761 Converts OrganizationTeamList to use useRequest in preparation for advanced search
  awx/ui_next/src/screens/Organization/OrganizationTeams/OrganizationTeamList.jsx
Labels: component:ui_next, mergeit

#7752 Converts ProjectsList to use useRequest in preparation for advanced search
  awx/ui_next/src/screens/Template/WorkflowJobTemplateVisualizer/Modals/NodeModals/NodeTypeStep/ProjectsList.jsx
Labels: component:ui_next, mergeit

#7745 Converts WorkflowJobTemplatesList to use useRequest in preparation for advanced search
  awx/ui_next/src/screens/Template/WorkflowJobTemplateVisualizer/Modals/NodeModals/NodeTypeStep/WorkflowJobTemplatesList.jsx
Labels: component:ui_next, mergeit

#7770 Handle not-provided falsy values in tower_inventory_source
  awx_collection/plugins/modules/tower_inventory_source.py
  awx_collection/test/awx/test_inventory_source.py
Labels: component:awx_collection, mergeit

#7733 Update delete button variant to secondary
  awx/ui_next/src/components/DeleteButton/DeleteButton.jsx
  awx/ui_next/src/components/PaginatedDataList/ToolbarDeleteButton.jsx
  awx/ui_next/src/components/PaginatedDataList/__snapshots__/ToolbarDeleteButton.test.jsx.snap
Labels: component:ui_next, mergeit

#7738 Test console cleanup
  awx/ui_next/src/screens/Credential/shared/CredentialForm.test.jsx
  awx/ui_next/src/screens/Credential/shared/CredentialFormFields/BecomeMethodField.jsx
  awx/ui_next/src/screens/Credential/shared/CredentialFormFields/CredentialField.jsx
  awx/ui_next/src/screens/Credential/shared/CredentialFormFields/CredentialPlugins/CredentialPluginField.jsx
  awx/ui_next/src/screens/Credential/shared/CredentialFormFields/GceFileUploadField.jsx
  awx/ui_next/src/screens/Inventory/InventoryAdd/InventoryAdd.test.jsx
  awx/ui_next/src/screens/Inventory/InventoryEdit/InventoryEdit.test.jsx
  awx/ui_next/src/screens/Template/JobTemplateAdd/JobTemplateAdd.test.jsx
  awx/ui_next/src/screens/Template/shared/WorkflowJobTemplateForm.jsx
  awx/ui_next/src/setupTests.js
Labels: component:ui_next, mergeit, state:needs_test

#7764 Add kubernetes_web_svc_type variable to installer/inventory
  installer/inventory
  installer/roles/kubernetes/defaults/main.yml
  installer/roles/kubernetes/templates/deployment.yml.j2
Labels: component:installer, mergeit, type:bug

#7732 Adds Teams Access List and renames Tabs and files under teams
  awx/ui_next/src/api/models/Teams.js
  awx/ui_next/src/screens/Team/Team.jsx
  awx/ui_next/src/screens/Team/TeamAccess/index.js
  awx/ui_next/src/screens/Team/TeamRoles/TeamRoleListItem.jsx
  awx/ui_next/src/screens/Team/TeamRoles/TeamRoleListItem.test.jsx
  awx/ui_next/src/screens/Team/TeamRoles/TeamRolesList.jsx
  awx/ui_next/src/screens/Team/TeamRoles/TeamRolesList.test.jsx
  awx/ui_next/src/screens/Team/TeamRoles/index.js
Labels: component:ui_next, mergeit

#7774 update the bug report and feature templates w/ additional instructions
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: mergeit

#7772 Converts ResourceAccessList to functional component
  awx/ui_next/src/components/ResourceAccessList/ResourceAccessList.jsx
  awx/ui_next/src/components/ResourceAccessList/ResourceAccessList.test.jsx
Labels: component:ui_next, mergeit, state:needs_review

#7750 Allow to use an existing PVC for postgresql install with Helm
  INSTALL.md
  installer/inventory
  installer/roles/kubernetes/templates/postgresql-values.yml.j2
Labels: component:installer, mergeit, type:enhancement

#7784 make these issue template sentences comments
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: mergeit

#7614 Add pagination/item count to DataListToolbar
  awx/ui_next/src/components/DataListToolbar/DataListToolbar.jsx
  awx/ui_next/src/components/ListHeader/ListHeader.jsx
  awx/ui_next/src/components/PaginatedDataList/PaginatedDataList.jsx
  awx/ui_next/src/components/PaginatedDataList/PaginatedDataList.test.jsx
Labels: component:ui_next, mergeit, type:enhancement

#7788 fix a typo in an f-string
  awx/main/dispatch/control.py
Labels: mergeit

#7787 Fix collection test inventory
  awx_collection/tests/integration/targets/demo_data/tasks/main.yml
Labels: mergeit

#7782 only support ansible-galaxy collection in 2.9+
  awx/playbooks/project_update.yml
Labels: mergeit

#7634 Fix requirements updater.sh "sourcing" snippet
  requirements/updater.sh
Labels: mergeit

#7786 Updates OrganizationLookup to use useRequest
  awx/ui_next/src/components/Lookup/OrganizationLookup.jsx
  awx/ui_next/src/screens/Credential/CredentialAdd/CredentialAdd.test.jsx
Labels: component:ui_next, mergeit, state:needs_test

#7785 Converts NotificationList to functional component and now uses useRequest
  awx/ui_next/src/components/NotificationList/NotificationList.jsx
  awx/ui_next/src/components/NotificationList/NotificationList.test.jsx
Labels: component:ui_next, mergeit, state:needs_test
