Repository ansible/awx, pull requests merged in 2020-06, with the labels that each got.

#7196 Changelog entry for label removal issue
  CHANGELOG.md
Labels: mergeit, type:bug

#7205 Bump http-proxy to >1.18.1
  awx/ui_next/package-lock.json
Labels: component:ui_next, mergeit

#7200 properly quote conjur URLs that contain spaces
  awx/main/credential_plugins/conjur.py
Labels: mergeit

#7214 update the changelog for a conjur credential plugin bug
  CHANGELOG.md
Labels: mergeit

#7186 Relocate route config, remove route render props, refactor top-level routes
  awx/ui_next/src/App.jsx
  awx/ui_next/src/App.test.jsx
  awx/ui_next/src/index.jsx
  awx/ui_next/src/routeConfig.js
Labels: component:ui_next, mergeit, state:needs_test

#7166 Add section about issues to be translated
  awx/ui_next/CONTRIBUTING.md
Labels: component:ui_next, mergeit

#7081 JT form loading UX
  awx/ui_next/src/components/Lookup/InstanceGroupsLookup.jsx
  awx/ui_next/src/components/Lookup/InventoryLookup.jsx
  awx/ui_next/src/components/Lookup/Lookup.jsx
  awx/ui_next/src/components/Lookup/Lookup.test.jsx
  awx/ui_next/src/components/Lookup/MultiCredentialsLookup.jsx
  awx/ui_next/src/components/Lookup/MultiCredentialsLookup.test.jsx
  awx/ui_next/src/components/Lookup/ProjectLookup.jsx
  awx/ui_next/src/screens/Template/shared/LabelSelect.jsx
  awx/ui_next/src/screens/Template/shared/PlaybookSelect.jsx
Labels: component:ui_next, mergeit

#7125 Adds basic credential plugin support to relevant fields in the static credential forms
  awx/ui_next/src/api/index.js
  awx/ui_next/src/api/models/CredentialInputSources.js
  awx/ui_next/src/api/models/Credentials.js
  awx/ui_next/src/components/FormField/PasswordField.jsx
  awx/ui_next/src/components/FormField/PasswordField.test.jsx
  awx/ui_next/src/components/FormField/PasswordInput.jsx
  awx/ui_next/src/components/FormField/PasswordInput.test.jsx
  awx/ui_next/src/components/FormField/index.js
  awx/ui_next/src/screens/Credential/CredentialAdd/CredentialAdd.jsx
  awx/ui_next/src/screens/Credential/CredentialEdit/CredentialEdit.jsx
  awx/ui_next/src/screens/Credential/CredentialEdit/CredentialEdit.test.jsx
  awx/ui_next/src/screens/Credential/shared/CredentialForm.jsx
  awx/ui_next/src/screens/Credential/shared/CredentialPlugins/CredentialPluginField.jsx
  awx/ui_next/src/screens/Credential/shared/CredentialPlugins/CredentialPluginField.test.jsx
  awx/ui_next/src/screens/Credential/shared/CredentialPlugins/CredentialPluginPrompt/CredentialPluginPrompt.jsx
  awx/ui_next/src/screens/Credential/shared/CredentialPlugins/CredentialPluginPrompt/CredentialPluginPrompt.test.jsx
  awx/ui_next/src/screens/Credential/shared/CredentialPlugins/CredentialPluginPrompt/CredentialsStep.jsx
  awx/ui_next/src/screens/Credential/shared/CredentialPlugins/CredentialPluginPrompt/MetadataStep.jsx
  awx/ui_next/src/screens/Credential/shared/CredentialPlugins/CredentialPluginPrompt/index.js
  awx/ui_next/src/screens/Credential/shared/CredentialPlugins/CredentialPluginSelected.jsx
  awx/ui_next/src/screens/Credential/shared/CredentialPlugins/CredentialPluginSelected.test.jsx
  awx/ui_next/src/screens/Credential/shared/CredentialPlugins/index.js
  awx/ui_next/src/screens/Credential/shared/CredentialSubForms/GoogleComputeEngineSubForm.jsx
  awx/ui_next/src/screens/Credential/shared/CredentialSubForms/SharedFields.jsx
  awx/ui_next/src/screens/Credential/shared/data.azureVaultCredential.json
  awx/ui_next/src/screens/Credential/shared/data.cyberArkCredential.json
  awx/ui_next/src/screens/Credential/shared/data.hashiCorpCredential.json
Labels: component:ui_next, mergeit

#7204 Add basic functional tests for labels
  awx/main/tests/functional/test_labels.py
Labels: component:api, mergeit, type:bug

#7224 Now respecting the HAS_YAML variable
  awx_collection/plugins/module_utils/tower_api.py
Labels: component:awx_collection, mergeit, type:bug

#7222 Fixing fail_json error
  awx_collection/plugins/module_utils/tower_api.py
Labels: component:awx_collection, mergeit, state:needs_review, type:bug

#7226 Make edits to auth portion of Collection readme
  awx_collection/README.md
Labels: component:awx_collection, mergeit

#7219 fix bug with config file [general] section
  awx_collection/plugins/module_utils/tower_api.py
Labels: component:awx_collection, mergeit, type:bug

#7183 Adds disassociate functionality and an empty state for Sys Admin
  awx/ui_next/src/api/index.js
  awx/ui_next/src/api/models/Roles.js
  awx/ui_next/src/screens/Team/TeamAccess/TeamAccessList.jsx
  awx/ui_next/src/screens/Team/TeamAccess/TeamAccessList.test.jsx
  awx/ui_next/src/screens/Team/TeamAccess/TeamAccessListItem.jsx
  awx/ui_next/src/screens/Team/TeamAccess/TeamAccessListItem.test.jsx
  awx/ui_next/src/screens/User/UserAccess/UserAccessList.jsx
  awx/ui_next/src/screens/User/UserAccess/UserAccessList.test.jsx
  awx/ui_next/src/screens/User/UserAccess/UserAccessListItem.jsx
  awx/ui_next/src/screens/User/UserAccess/UserAccessListItem.test.jsx
Labels: component:ui_next, mergeit, type:enhancement

#7202 Adds inventory sources notifications list
  awx/ui_next/src/api/models/InventorySources.js
  awx/ui_next/src/components/NotificationList/NotificationList.test.jsx
  awx/ui_next/src/components/NotificationList/NotificationListItem.jsx
  awx/ui_next/src/components/NotificationList/NotificationListItem.test.jsx
  awx/ui_next/src/components/NotificationList/__snapshots__/NotificationListItem.test.jsx.snap
  awx/ui_next/src/screens/Inventory/InventorySource/InventorySource.jsx
  awx/ui_next/src/screens/Inventory/InventorySource/InventorySource.test.jsx
  awx/ui_next/src/screens/Inventory/InventorySources/InventorySources.jsx
Labels: component:ui_next, mergeit, type:enhancement

#7228 Move to one container image rather than two mostly-identical ones
  CHANGELOG.md
  INSTALL.md
  installer/inventory
  installer/roles/image_build/files/launch_awx.sh
  installer/roles/image_build/files/supervisor.conf
  installer/roles/image_build/files/supervisor_task.conf
  installer/roles/image_build/tasks/main.yml
  installer/roles/image_build/templates/Dockerfile.j2
  installer/roles/image_build/templates/Dockerfile.task.j2
  installer/roles/image_build/templates/launch_awx_task.sh.j2
  installer/roles/image_push/tasks/main.yml
  installer/roles/kubernetes/defaults/main.yml
  installer/roles/kubernetes/tasks/main.yml
  installer/roles/kubernetes/templates/deployment.yml.j2
  installer/roles/kubernetes/templates/launch_awx.yml.j2
  installer/roles/kubernetes/templates/supervisor.yml.j2
  installer/roles/local_docker/defaults/main.yml
  installer/roles/local_docker/tasks/set_image.yml
  installer/roles/local_docker/templates/docker-compose.yml.j2
  tools/docker-compose/supervisor.conf
Labels: component:installer, mergeit, type:enhancement

#7223 Add AppContainer and move bootstrapping to App component
  awx/ui_next/src/App.jsx
  awx/ui_next/src/App.test.jsx
  awx/ui_next/src/RootProvider.jsx
  awx/ui_next/src/api/models/Config.js
  awx/ui_next/src/components/AppContainer/AppContainer.jsx
  awx/ui_next/src/components/AppContainer/AppContainer.test.jsx
  awx/ui_next/src/components/AppContainer/BrandLogo.jsx
  awx/ui_next/src/components/AppContainer/BrandLogo.test.jsx
  awx/ui_next/src/components/AppContainer/NavExpandableGroup.jsx
  awx/ui_next/src/components/AppContainer/NavExpandableGroup.test.jsx
  awx/ui_next/src/components/AppContainer/PageHeaderToolbar.jsx
  awx/ui_next/src/components/AppContainer/PageHeaderToolbar.test.jsx
  awx/ui_next/src/components/AppContainer/index.jsx
  awx/ui_next/src/components/BrandLogo/index.js
  awx/ui_next/src/components/NavExpandableGroup/index.js
  awx/ui_next/src/components/PageHeaderToolbar/index.js
  awx/ui_next/src/index.jsx
  awx/ui_next/src/index.test.jsx
Labels: component:ui_next, mergeit

#7244 Remove unneeded auth props
  awx/ui_next/src/App.jsx
Labels: component:ui_next, mergeit

#7208 Add error feedback in Preview Step
  awx/ui_next/src/components/LaunchPrompt/steps/PreviewStep.jsx
  awx/ui_next/src/components/LaunchPrompt/steps/PreviewStep.test.jsx
  awx/ui_next/src/components/LaunchPrompt/steps/useCredentialsStep.jsx
  awx/ui_next/src/components/LaunchPrompt/steps/useInventoryStep.jsx
  awx/ui_next/src/components/LaunchPrompt/steps/useOtherPromptsStep.jsx
  awx/ui_next/src/components/LaunchPrompt/steps/useSurveyStep.jsx
  awx/ui_next/src/components/LaunchPrompt/useSteps.js
Labels: component:ui_next, mergeit

#7249 URL encode '/' to '%2F' for conjur credential plugin
  awx/main/credential_plugins/conjur.py
Labels: component:api, mergeit, type:bug

#7242 Modify JobTemplateForm to use formik `setValue`
  awx/ui_next/src/screens/Template/shared/JobTemplateForm.jsx
  awx/ui_next/src/screens/Template/shared/JobTemplateForm.test.jsx
Labels: component:ui_next, mergeit

#7184 Remove dev env futzing of supervisord.conf permissions
  installer/roles/image_build/templates/Dockerfile.j2
  tools/docker-compose-cluster.yml
  tools/docker-compose.yml
  tools/docker-compose/bootstrap_development.sh
Labels: mergeit

#7262 remove LGPL source for dependencies we've since removed
  docs/licenses/amqp-2.5.2.tar.gz
  docs/licenses/baron-0.6.6.tar.gz
  docs/licenses/redbaron-0.6.3.tar.gz
  docs/licenses/suds-0.4.tar.gz
Labels: mergeit

#7229 Comply with updated Ansible sanity test rules
  awx_collection/plugins/doc_fragments/auth.py
  awx_collection/plugins/inventory/tower.py
  awx_collection/plugins/lookup/tower_schedule_rrule.py
  awx_collection/plugins/modules/tower_credential.py
  awx_collection/plugins/modules/tower_credential_type.py
  awx_collection/plugins/modules/tower_group.py
  awx_collection/plugins/modules/tower_host.py
  awx_collection/plugins/modules/tower_inventory.py
  awx_collection/plugins/modules/tower_inventory_source.py
  awx_collection/plugins/modules/tower_job_cancel.py
  awx_collection/plugins/modules/tower_job_launch.py
  awx_collection/plugins/modules/tower_job_list.py
  awx_collection/plugins/modules/tower_job_template.py
  awx_collection/plugins/modules/tower_job_wait.py
  awx_collection/plugins/modules/tower_label.py
  awx_collection/plugins/modules/tower_license.py
  awx_collection/plugins/modules/tower_notification.py
  awx_collection/plugins/modules/tower_organization.py
  awx_collection/plugins/modules/tower_project.py
  awx_collection/plugins/modules/tower_receive.py
  awx_collection/plugins/modules/tower_role.py
  awx_collection/plugins/modules/tower_schedule.py
  awx_collection/plugins/modules/tower_send.py
  awx_collection/plugins/modules/tower_settings.py
  awx_collection/plugins/modules/tower_team.py
  awx_collection/plugins/modules/tower_user.py
  awx_collection/plugins/modules/tower_workflow_job_template.py
  awx_collection/plugins/modules/tower_workflow_job_template_node.py
  awx_collection/plugins/modules/tower_workflow_launch.py
  awx_collection/plugins/modules/tower_workflow_template.py
  awx_collection/tests/sanity/ignore-2.10.txt
  awx_collection/tools/roles/generate/templates/tower_module.j2
  awx_collection/tools/roles/template_galaxy/tasks/main.yml
Labels: component:awx_collection, mergeit, type:bug

#7271 Bump foreman collection to 0.8.1
  requirements/collections_requirements.yml
Labels: mergeit

#7239 Adds ux for unsynced projects
  awx/ui_next/src/components/ClipboardCopyButton/ClipboardCopyButton.jsx
  awx/ui_next/src/components/ClipboardCopyButton/ClipboardCopyButton.test.jsx
  awx/ui_next/src/screens/Project/ProjectList/ProjectListItem.jsx
  awx/ui_next/src/screens/Project/ProjectList/ProjectListItem.test.jsx
Labels: component:ui_next, mergeit

#7261 Add queue / instance group registration to heartbeat for k8s installs
  awx/main/management/commands/register_queue.py
  awx/main/managers.py
  installer/roles/image_build/templates/launch_awx_task.sh.j2
  tools/docker-compose.yml
Labels: mergeit

#7245 tower_job_template to use organizations
  awx_collection/plugins/modules/tower_job_template.py
Labels: component:awx_collection, mergeit, type:enhancement

#7116 Initial cut at tower_token module
  awx_collection/plugins/doc_fragments/auth.py
  awx_collection/plugins/module_utils/tower_api.py
  awx_collection/plugins/modules/tower_token.py
  awx_collection/test/awx/test_token.py
  awx_collection/tests/integration/targets/tower_token/tasks/main.yml
Labels: component:awx_collection, mergeit, state:in_progress, type:enhancement, type:feature

#7257 Force worker processes to have a different signal handler from the parent
  awx/main/dispatch/worker/base.py
  awx/main/scheduler/task_manager.py
Labels: component:api, mergeit, type:bug

#7280 Send content-type with mattermost notifications, fixes #7264
  awx/main/notifications/mattermost_backend.py
Labels: mergeit

#6780 Adds SAML Attribute Mapping to Teams and Orgs
  awx/sso/fields.py
  awx/sso/pipeline.py
  awx/sso/tests/functional/test_pipeline.py
  awx/sso/tests/unit/test_fields.py
Labels: component:api, mergeit, type:enhancement

#7290 Manually bumps websocket-extensions to 0.1.14 (awx/ui_next)
  awx/ui_next/package-lock.json
Labels: component:ui_next, mergeit

#7284 Adds routing stubs for Applications
  awx/ui_next/src/routeConfig.js
  awx/ui_next/src/screens/Application/Application/Application.jsx
  awx/ui_next/src/screens/Application/Application/index.js
  awx/ui_next/src/screens/Application/ApplicationAdd/ApplicationAdd.jsx
  awx/ui_next/src/screens/Application/ApplicationAdd/index.js
  awx/ui_next/src/screens/Application/ApplicationDetails/ApplicationDetails.jsx
  awx/ui_next/src/screens/Application/ApplicationDetails/index.js
  awx/ui_next/src/screens/Application/ApplicationEdit/ApplicationEdit.jsx
  awx/ui_next/src/screens/Application/ApplicationEdit/index.js
  awx/ui_next/src/screens/Application/Applications.jsx
  awx/ui_next/src/screens/Application/Applications.test.jsx
  awx/ui_next/src/screens/Application/ApplicationsList/ApplicationsList.jsx
  awx/ui_next/src/screens/Application/ApplicationsList/index.js
Labels: component:ui_next, mergeit, type:enhancement

#7270 Prevent exception for Non value
  awx_collection/plugins/modules/tower_settings.py
  awx_collection/tests/integration/targets/tower_settings/tasks/main.yml
Labels: component:awx_collection, mergeit, type:bug

#7292 don't block on log aggregator socket.send() calls
  awx/main/utils/handlers.py
Labels: mergeit

#7291 Manually bumps websocket-extensions to 0.1.14 (awx/ui)
  awx/ui/package-lock.json
Labels: component:ui, mergeit

#7293 fix lint failures
  awx_collection/plugins/modules/tower_token.py
Labels: component:awx_collection, mergeit, type:bug

#7283 Make all_parents_must_converge settable when creating node
  awx/api/serializers.py
  awx/main/tests/functional/api/test_workflow_node.py
Labels: component:api, mergeit, type:bug

#7240 remove memcache entirely, add in some django redis to cover it's absence
  CHANGELOG.md
  CONTRIBUTING.md
  awx/settings/defaults.py
  docs/clustering.md
  docs/licenses/django-redis.txt
  docs/licenses/python-memcached.txt
  installer/roles/kubernetes/defaults/main.yml
  installer/roles/kubernetes/templates/deployment.yml.j2
  installer/roles/local_docker/defaults/main.yml
  installer/roles/local_docker/tasks/compose.yml
  installer/roles/local_docker/templates/docker-compose.yml.j2
  requirements/requirements.in
  requirements/requirements.txt
  tools/docker-compose-cluster.yml
  tools/docker-compose.yml
Labels: component:api, mergeit

#7302 remove TCP ports for redis (it only listens on a unix domain socket)
  CONTRIBUTING.md
  tools/docker-compose-cluster.yml
  tools/docker-compose.yml
Labels: mergeit

#7296 Bump version to 12.0.0
  CHANGELOG.md
  VERSION
  awxkit/VERSION
Labels: mergeit

#7176 Add support Prompt on Launch for Workflow Job Template
  awx/ui_next/src/screens/Template/WorkflowJobTemplateEdit/WorkflowJobTemplateEdit.jsx
  awx/ui_next/src/screens/Template/shared/WorkflowJobTemplateForm.jsx
  awx/ui_next/src/screens/Template/shared/WorkflowJobTemplateForm.test.jsx
Labels: component:ui_next, mergeit, state:needs_test

#7188 Reshape security context for AWX containers
  installer/roles/kubernetes/defaults/main.yml
  installer/roles/kubernetes/templates/deployment.yml.j2
Labels: mergeit, type:bug

#7304 Adds lists and list items and delete functionality
  awx/ui_next/src/api/index.js
  awx/ui_next/src/api/models/Applications.js
  awx/ui_next/src/screens/Application/ApplicationsList/ApplicationList.test.jsx
  awx/ui_next/src/screens/Application/ApplicationsList/ApplicationListItem.jsx
  awx/ui_next/src/screens/Application/ApplicationsList/ApplicationListItem.test.jsx
  awx/ui_next/src/screens/Application/ApplicationsList/ApplicationsList.jsx
  awx/ui_next/src/types.js
Labels: component:ui_next, mergeit, state:needs_test

#7321 Instance id fallback
  awx/main/management/commands/inventory_import.py
  awx/main/tasks.py
  awx/settings/defaults.py
Labels: mergeit

#7343 Make tests pass with current versions of things
  Makefile
  awx/conf/tests/unit/test_registry.py
  awx/conf/tests/unit/test_settings.py
  awx/main/tests/docs/test_swagger_generation.py
  awx/main/tests/functional/test_inventory_source_injectors.py
  awx/main/tests/unit/test_fields.py
  awx/main/tests/unit/test_tasks.py
  installer/roles/image_build/templates/Dockerfile.j2
  pytest.ini
  requirements/requirements.txt
  requirements/requirements_dev.txt
Labels: mergeit

#6938 This allows for using different docker logging drivers
  installer/inventory
  installer/roles/local_docker/templates/docker-compose.yml.j2
Labels: component:installer, mergeit

#7328 Add tower_credential_input_source to awx_collection
  awx_collection/plugins/module_utils/tower_api.py
  awx_collection/plugins/modules/tower_credential_input_source.py
  awx_collection/test/awx/test_credential_input_source.py
  awx_collection/tests/integration/targets/tower_credential_input_source/tasks/main.yml
Labels: component:awx_collection, mergeit, type:enhancement

#7352 fix a regression in how job host summaries are generated
  awx/main/models/events.py
  awx/main/tests/functional/models/test_events.py
Labels: mergeit

#7337 UI translation strings for release_3.7.1 branch
  awx/locale/fr/LC_MESSAGES/django.po
  awx/locale/ja/LC_MESSAGES/django.po
  awx/locale/zh/LC_MESSAGES/django.po
  awx/ui/po/fr.po
  awx/ui/po/ja.po
  awx/ui/po/zh.po
Labels: component:api, component:ui, mergeit, type:enhancement

#7258 Dynamically render credential subform fields
  awx/ui_next/src/components/FieldWithPrompt/FieldWithPrompt.jsx
  awx/ui_next/src/screens/Credential/CredentialAdd/CredentialAdd.jsx
  awx/ui_next/src/screens/Credential/CredentialAdd/CredentialAdd.test.jsx
  awx/ui_next/src/screens/Credential/CredentialEdit/CredentialEdit.jsx
  awx/ui_next/src/screens/Credential/CredentialEdit/CredentialEdit.test.jsx
  awx/ui_next/src/screens/Credential/shared/CredentialForm.jsx
  awx/ui_next/src/screens/Credential/shared/CredentialForm.test.jsx
  awx/ui_next/src/screens/Credential/shared/CredentialFormFields/BecomeMethodField.jsx
  awx/ui_next/src/screens/Credential/shared/CredentialFormFields/CredentialField.jsx
  awx/ui_next/src/screens/Credential/shared/CredentialFormFields/CredentialPlugins/CredentialPluginField.jsx
  awx/ui_next/src/screens/Credential/shared/CredentialFormFields/CredentialPlugins/CredentialPluginField.test.jsx
  awx/ui_next/src/screens/Credential/shared/CredentialFormFields/CredentialPlugins/CredentialPluginPrompt/CredentialPluginPrompt.jsx
  awx/ui_next/src/screens/Credential/shared/CredentialFormFields/CredentialPlugins/CredentialPluginPrompt/CredentialPluginPrompt.test.jsx
  awx/ui_next/src/screens/Credential/shared/CredentialFormFields/CredentialPlugins/CredentialPluginPrompt/CredentialsStep.jsx
  awx/ui_next/src/screens/Credential/shared/CredentialFormFields/CredentialPlugins/CredentialPluginPrompt/MetadataStep.jsx
  awx/ui_next/src/screens/Credential/shared/CredentialFormFields/CredentialPlugins/CredentialPluginPrompt/index.js
  awx/ui_next/src/screens/Credential/shared/CredentialFormFields/CredentialPlugins/CredentialPluginSelected.jsx
  awx/ui_next/src/screens/Credential/shared/CredentialFormFields/CredentialPlugins/CredentialPluginSelected.test.jsx
  awx/ui_next/src/screens/Credential/shared/CredentialFormFields/CredentialPlugins/index.js
  awx/ui_next/src/screens/Credential/shared/CredentialFormFields/GceFileUploadField.jsx
  awx/ui_next/src/screens/Credential/shared/CredentialFormFields/index.js
  awx/ui_next/src/screens/Credential/shared/CredentialPlugins/CredentialPluginField.jsx
  awx/ui_next/src/screens/Credential/shared/CredentialSubForms/GoogleComputeEngineSubForm.jsx
  awx/ui_next/src/screens/Credential/shared/CredentialSubForms/ManualSubForm.jsx
  awx/ui_next/src/screens/Credential/shared/CredentialSubForms/SharedFields.jsx
  awx/ui_next/src/screens/Credential/shared/CredentialSubForms/SourceControlSubForm.jsx
  awx/ui_next/src/screens/Credential/shared/CredentialSubForms/index.js
  awx/ui_next/src/screens/Credential/shared/TypeInputsSubForm.jsx
  awx/ui_next/src/screens/Credential/shared/data.credentialTypes.json
  awx/ui_next/src/types.js
Labels: component:ui_next, mergeit, state:needs_test

#7317 Force containers in k8s to run under root group
  installer/roles/kubernetes/templates/configmap.yml.j2
  installer/roles/kubernetes/templates/deployment.yml.j2
Labels: mergeit

#7359 Remove local port binding for postgres in dev env
  installer/roles/image_build/templates/Dockerfile.j2
  tools/docker-compose.yml
Labels: mergeit

#7287 Hook up all inventory source subforms
  awx/api/serializers.py
  awx/ui_next/src/api/index.js
  awx/ui_next/src/api/models/InventoryScripts.js
  awx/ui_next/src/components/Lookup/CredentialLookup.jsx
  awx/ui_next/src/components/Lookup/InventoryScriptLookup.jsx
  awx/ui_next/src/components/MultiSelect/TagMultiSelect.jsx
  awx/ui_next/src/screens/Inventory/InventorySourceAdd/InventorySourceAdd.jsx
  awx/ui_next/src/screens/Inventory/InventorySourceAdd/InventorySourceAdd.test.jsx
  awx/ui_next/src/screens/Inventory/InventorySourceEdit/InventorySourceEdit.jsx
  awx/ui_next/src/screens/Inventory/shared/InventorySourceForm.jsx
  awx/ui_next/src/screens/Inventory/shared/InventorySourceSubForms/AzureSubForm.jsx
  awx/ui_next/src/screens/Inventory/shared/InventorySourceSubForms/AzureSubForm.test.jsx
  awx/ui_next/src/screens/Inventory/shared/InventorySourceSubForms/CloudFormsSubForm.jsx
  awx/ui_next/src/screens/Inventory/shared/InventorySourceSubForms/CloudFormsSubForm.test.jsx
  awx/ui_next/src/screens/Inventory/shared/InventorySourceSubForms/CustomScriptSubForm.jsx
  awx/ui_next/src/screens/Inventory/shared/InventorySourceSubForms/CustomScriptSubForm.test.jsx
  awx/ui_next/src/screens/Inventory/shared/InventorySourceSubForms/EC2SubForm.jsx
  awx/ui_next/src/screens/Inventory/shared/InventorySourceSubForms/EC2SubForm.test.jsx
  awx/ui_next/src/screens/Inventory/shared/InventorySourceSubForms/GCESubForm.jsx
  awx/ui_next/src/screens/Inventory/shared/InventorySourceSubForms/GCESubForm.test.jsx
  awx/ui_next/src/screens/Inventory/shared/InventorySourceSubForms/OpenStackSubForm.jsx
  awx/ui_next/src/screens/Inventory/shared/InventorySourceSubForms/OpenStackSubForm.test.jsx
  awx/ui_next/src/screens/Inventory/shared/InventorySourceSubForms/SCMSubForm.jsx
  awx/ui_next/src/screens/Inventory/shared/InventorySourceSubForms/SCMSubForm.test.jsx
  awx/ui_next/src/screens/Inventory/shared/InventorySourceSubForms/SatelliteSubForm.jsx
  awx/ui_next/src/screens/Inventory/shared/InventorySourceSubForms/SatelliteSubForm.test.jsx
  awx/ui_next/src/screens/Inventory/shared/InventorySourceSubForms/SharedFields.jsx
  awx/ui_next/src/screens/Inventory/shared/InventorySourceSubForms/TowerSubForm.jsx
  awx/ui_next/src/screens/Inventory/shared/InventorySourceSubForms/TowerSubForm.test.jsx
  awx/ui_next/src/screens/Inventory/shared/InventorySourceSubForms/VMwareSubForm.jsx
  awx/ui_next/src/screens/Inventory/shared/InventorySourceSubForms/VMwareSubForm.test.jsx
  awx/ui_next/src/screens/Inventory/shared/InventorySourceSubForms/VirtualizationSubForm.jsx
  awx/ui_next/src/screens/Inventory/shared/InventorySourceSubForms/VirtualizationSubForm.test.jsx
  awx/ui_next/src/screens/Inventory/shared/InventorySourceSubForms/index.js
  awx/ui_next/src/types.js
  awx/ui_next/src/util/strings.js
Labels: component:api, component:ui_next, mergeit, type:feature

#7360 [foreman] add backwards support for ssl_verify in foreman plugin
  awx/main/models/inventory.py
  awx/main/tests/data/inventory/plugins/satellite6/files/foreman.yml
  awx/main/tests/unit/models/test_inventory.py
Labels: component:api, mergeit, type:bug

#7372 Support PVCs that were created w/ WaitForFirstConsumer
  installer/roles/kubernetes/tasks/openshift.yml
Labels: mergeit

#7351 Add section related to custom hooks
  awx/ui_next/CONTRIBUTING.md
Labels: component:ui_next, mergeit

#6911 Remove vendored inventory scripts
  awx/main/constants.py
  awx/main/migrations/0117_v400_remove_cloudforms_inventory.py
  awx/main/migrations/_inventory_source.py
  awx/main/models/base.py
  awx/main/models/inventory.py
  awx/main/tasks.py
  awx/main/tests/data/inventory/scripts/azure_rm/env.json
  awx/main/tests/data/inventory/scripts/azure_rm/files/file_reference
  awx/main/tests/data/inventory/scripts/cloudforms/env.json
  awx/main/tests/data/inventory/scripts/cloudforms/files/cache_dir
  awx/main/tests/data/inventory/scripts/cloudforms/files/file_reference
  awx/main/tests/data/inventory/scripts/ec2/env.json
  awx/main/tests/data/inventory/scripts/ec2/files/cache_dir
  awx/main/tests/data/inventory/scripts/ec2/files/file_reference
  awx/main/tests/data/inventory/scripts/gce/env.json
  awx/main/tests/data/inventory/scripts/gce/files/file_reference
  awx/main/tests/data/inventory/scripts/gce/files/file_reference_0
  awx/main/tests/data/inventory/scripts/openstack/env.json
  awx/main/tests/data/inventory/scripts/openstack/files/cache_dir
  awx/main/tests/data/inventory/scripts/openstack/files/file_reference
  awx/main/tests/data/inventory/scripts/rhv/env.json
  awx/main/tests/data/inventory/scripts/rhv/files/file_reference
  awx/main/tests/data/inventory/scripts/satellite6/env.json
  awx/main/tests/data/inventory/scripts/satellite6/files/file_reference
  awx/main/tests/data/inventory/scripts/tower/env.json
  awx/main/tests/data/inventory/scripts/vmware/env.json
  awx/main/tests/data/inventory/scripts/vmware/files/file_reference
  awx/main/tests/functional/models/test_inventory.py
  awx/main/tests/functional/test_inventory_source_injectors.py
  awx/main/tests/functional/test_inventory_source_migration.py
  awx/main/tests/unit/test_tasks.py
  awx/plugins/inventory/azure_rm.ini.example
  awx/plugins/inventory/azure_rm.py
  awx/plugins/inventory/cloudforms.ini.example
  awx/plugins/inventory/cloudforms.py
  awx/plugins/inventory/ec2.ini.example
  awx/plugins/inventory/ec2.py
  awx/plugins/inventory/foreman.ini.example
  awx/plugins/inventory/foreman.py
  awx/plugins/inventory/gce.py
  awx/plugins/inventory/openstack.yml
  awx/plugins/inventory/openstack_inventory.py
  awx/plugins/inventory/ovirt4.py
  awx/plugins/inventory/tower.py
  awx/plugins/inventory/vmware_inventory.py
  awx/settings/defaults.py
  awx/ui_next/src/screens/Template/WorkflowJobTemplateVisualizer/Modals/NodeModals/NodeTypeStep/InventorySourcesList.jsx
  awx_collection/plugins/modules/tower_inventory_source.py
Labels: component:api, mergeit, state:needs_review

#7378 Fix some minor issues in the AWX collection tests
  awx_collection/tests/integration/targets/tower_inventory/tasks/main.yml
  awx_collection/tests/integration/targets/tower_role/tasks/main.yml
Labels: component:awx_collection, mergeit, type:bug

#7383 awxkit dropped py2 support awhile ago; stop running tests in py2
  Makefile
Labels: mergeit

#7358 removing memchache mentions in comments
  awx/api/generics.py
  awx/conf/settings.py
  awx/conf/tests/unit/test_settings.py
  awx/main/db/profiled_pg/base.py
  awx/main/dispatch/pool.py
  awx/main/management/commands/regenerate_secret_key.py
  awx/main/management/commands/run_dispatcher.py
  awx/main/tests/conftest.py
  awx/settings/development.py
  docs/tasks.md
  tools/memcached/.dir_placeholder
Labels: component:api, component:docs, mergeit, state:needs_review

#7357 UI dependency upgrades
  awx/ui/client/src/shared/form-generator.js
  awx/ui/client/src/shared/list-generator/list-generator.factory.js
  awx/ui/client/src/templates/job_templates/job-template.form.js
  awx/ui/client/src/templates/workflows.form.js
  awx/ui/package-lock.json
  awx/ui/package.json
Labels: component:ui, mergeit

#7389 move tmux to dev dependencies
  installer/roles/image_build/templates/Dockerfile.j2
Labels: mergeit

#7341 7235 applications add
  awx/ui_next/src/screens/Application/ApplicationAdd/ApplicationAdd.jsx
  awx/ui_next/src/screens/Application/ApplicationAdd/ApplicationAdd.test.jsx
  awx/ui_next/src/screens/Application/shared/ApplicationForm.jsx
  awx/ui_next/src/screens/Application/shared/ApplicationForm.test.jsx
Labels: component:ui_next, mergeit, type:enhancement

#6125 Import export
  awxkit/awxkit/api/pages/api.py
  awxkit/awxkit/api/pages/credentials.py
  awxkit/awxkit/api/pages/inventory.py
  awxkit/awxkit/api/pages/job_templates.py
  awxkit/awxkit/api/pages/labels.py
  awxkit/awxkit/api/pages/notification_templates.py
  awxkit/awxkit/api/pages/organizations.py
  awxkit/awxkit/api/pages/page.py
  awxkit/awxkit/api/pages/projects.py
  awxkit/awxkit/api/pages/roles.py
  awxkit/awxkit/api/pages/schedules.py
  awxkit/awxkit/api/pages/teams.py
  awxkit/awxkit/api/pages/users.py
  awxkit/awxkit/api/pages/workflow_job_template_nodes.py
  awxkit/awxkit/api/pages/workflow_job_templates.py
  awxkit/awxkit/api/utils.py
  awxkit/awxkit/cli/docs/source/examples.rst
  awxkit/awxkit/cli/resource.py
  awxkit/awxkit/exceptions.py
Labels: component:cli, mergeit, type:enhancement

#7390 UI translation strings for AWX 12.0.0+ for es and nl
  awx/locale/es/LC_MESSAGES/django.po
  awx/locale/nl/LC_MESSAGES/django.po
  awx/ui/po/es.po
  awx/ui/po/nl.po
Labels: component:api, component:installer, component:ui, mergeit, type:enhancement

#7369 Add Credential Type List and Delete
  awx/ui_next/src/screens/Application/ApplicationsList/ApplicationList.test.jsx
  awx/ui_next/src/screens/CredentialType/CredentialTypeList/CredentialTypeList.jsx
  awx/ui_next/src/screens/CredentialType/CredentialTypeList/CredentialTypeList.test.jsx
  awx/ui_next/src/screens/CredentialType/CredentialTypeList/CredentialTypeListItem.jsx
  awx/ui_next/src/screens/CredentialType/CredentialTypeList/CredentialTypeListItem.test.jsx
Labels: component:ui_next, mergeit

#7381 Enforce single owner field when serializing creds
  awx/api/serializers.py
  awx/main/tests/functional/api/test_credential.py
Labels: component:api, mergeit, type:bug

#7392 unpin collections used for inventory plugins
  requirements/collections_requirements.yml
Labels: component:api, mergeit, type:enhancement

#7379 Bump AWX version, after notable inventory deprecation
  CHANGELOG.md
  VERSION
  awxkit/VERSION
Labels: component:api, component:docs, mergeit, type:enhancement

#7418 properly write rsyslog configuration as 0640
  awx/main/utils/external_logging.py
Labels: mergeit

#7416 Don't send cred user with org
  awx/ui/client/features/credentials/add-edit-credentials.controller.js
  awx/ui_next/src/screens/Credential/CredentialAdd/CredentialAdd.jsx
  awx/ui_next/src/screens/Credential/CredentialAdd/CredentialAdd.test.jsx
  awx/ui_next/src/screens/Credential/CredentialEdit/CredentialEdit.jsx
  awx/ui_next/src/screens/Credential/CredentialEdit/CredentialEdit.test.jsx
Labels: component:ui, component:ui_next, mergeit, type:bug

#7420 Update awxkit credential creation
  awxkit/awxkit/api/pages/credentials.py
Labels: mergeit, type:enhancement

#7424 minor CHANGELOG verbiage tweak
  CHANGELOG.md
Labels: mergeit

#7250 Remove style overrides from Lookup component
  awx/ui_next/src/components/Lookup/Lookup.jsx
  awx/ui_next/src/components/Lookup/MultiCredentialsLookup.test.jsx
Labels: component:ui_next, mergeit

#7425 Don't traceback on KeyboardInterrupt
  awxkit/awxkit/cli/__init__.py
Labels: mergeit, type:bug

#7427 update instructions and metadata for awxkit/cli installs
  INSTALL.md
  awxkit/setup.py
Labels: mergeit

#7355 Adds application details view
  awx/ui_next/src/screens/Application/Application/Application.jsx
  awx/ui_next/src/screens/Application/Application/Application.test.jsx
  awx/ui_next/src/screens/Application/ApplicationDetails/ApplicationDetails.jsx
  awx/ui_next/src/screens/Application/ApplicationDetails/ApplicationDetails.test.jsx
  awx/ui_next/src/screens/Application/Applications.jsx
Labels: component:ui_next, mergeit, type:enhancement

#6690 Modifying tower credential type to include an oauth otken
  awx/main/models/credential/__init__.py
  awx/main/tests/data/inventory/plugins/tower/env.json
  awx/main/tests/functional/test_inventory_source_injectors.py
Labels: component:api, component:awx_collection, component:ui, mergeit, type:enhancement

#7431 add a tool for discovering which tasks/hosts are slow for a JT
  awx/main/management/commands/bottleneck.py
Labels: mergeit

#7115 UI next integration
  .gitignore
  MANIFEST.in
  Makefile
  awx/settings/defaults.py
  awx/ui_next/public/static/media/pfbg_2000.jpg
  awx/ui_next/public/static/media/pfbg_576.jpg
  awx/ui_next/public/static/media/pfbg_576@2x.jpg
  awx/ui_next/public/static/media/pfbg_768.jpg
  awx/ui_next/public/static/media/pfbg_768@2x.jpg
  awx/ui_next/src/App.jsx
  awx/ui_next/src/components/AppContainer/AppContainer.test.jsx
  awx/ui_next/src/components/AppContainer/NavExpandableGroup.jsx
  awx/ui_next/urls.py
  awx/urls.py
  tools/docker-compose/bootstrap_development.sh
Labels: component:ui_next, mergeit

#7119 added change so that groups and host names cannot share the same name
  awx/api/serializers.py
  awx/main/tests/functional/api/test_inventory.py
Labels: component:api, mergeit, type:bug

#7461 Update INSTALL.md
  INSTALL.md
Labels: component:docs, mergeit

#7462 Update ISSUES.md
  ISSUES.md
Labels: component:docs, mergeit

#7375 Use consistent layout for subforms in job/template forms
  awx/ui_next/README.md
  awx/ui_next/src/screens/Template/JobTemplateAdd/JobTemplateAdd.jsx
  awx/ui_next/src/screens/Template/JobTemplateAdd/JobTemplateAdd.test.jsx
  awx/ui_next/src/screens/Template/JobTemplateEdit/JobTemplateEdit.jsx
  awx/ui_next/src/screens/Template/JobTemplateEdit/JobTemplateEdit.test.jsx
  awx/ui_next/src/screens/Template/shared/JobTemplateForm.jsx
  awx/ui_next/src/screens/Template/shared/WebhookSubForm.jsx
  awx/ui_next/src/screens/Template/shared/WebhookSubForm.test.jsx
  awx/ui_next/src/screens/Template/shared/WorkflowJobTemplateForm.jsx
  awx/ui_next/src/screens/Template/shared/WorkflowJobTemplateForm.test.jsx
Labels: component:ui_next, mergeit, type:bug

#7426 Add feature to add Credential Type
  awx/ui_next/src/screens/Credential/CredentialAdd/CredentialAdd.test.jsx
  awx/ui_next/src/screens/CredentialType/CredentialTypeAdd/CredentialTypeAdd.jsx
  awx/ui_next/src/screens/CredentialType/CredentialTypeAdd/CredentialTypeAdd.test.jsx
  awx/ui_next/src/screens/CredentialType/shared/CredentialTypeForm.jsx
  awx/ui_next/src/screens/CredentialType/shared/CredentialTypeForm.test.jsx
  awx/ui_next/src/screens/CredentialType/shared/data.json
  awx/ui_next/src/screens/CredentialType/shared/index.js
  awx/ui_next/src/screens/Host/HostAdd/HostAdd.jsx
  awx/ui_next/src/util/yaml.js
  awx/ui_next/src/util/yaml.test.js
Labels: component:ui_next, mergeit, state:needs_test, type:feature

#7452 Add Crendential Type Details
  awx/ui_next/src/screens/CredentialType/CredentialType.jsx
  awx/ui_next/src/screens/CredentialType/CredentialType.test.jsx
  awx/ui_next/src/screens/CredentialType/CredentialTypeDetails/CredentialTypeDetails.jsx
  awx/ui_next/src/screens/CredentialType/CredentialTypeDetails/CredentialTypeDetails.test.jsx
  awx/ui_next/src/screens/CredentialType/CredentialTypeList/CredentialTypeList.jsx
  awx/ui_next/src/screens/CredentialType/CredentialTypeList/CredentialTypeListItem.jsx
  awx/ui_next/src/screens/CredentialType/CredentialTypes.jsx
Labels: component:ui_next, mergeit, type:feature

#7469 Use a proxy config that works
  awx/ui_next/Dockerfile
  awx/ui_next/README.md
  awx/ui_next/package.json
  awx/ui_next/src/setupProxy.js
Labels: component:ui_next, mergeit

#7478 Fix unescaped README code block
  awx/ui_next/README.md
Labels: mergeit

#7342 Jobs List websockets
  .gitignore
  awx/ui_next/package-lock.json
  awx/ui_next/package.json
  awx/ui_next/src/components/JobList/JobList.jsx
  awx/ui_next/src/components/JobList/JobList.test.jsx
  awx/ui_next/src/components/JobList/JobListItem.jsx
  awx/ui_next/src/components/JobList/sortJobs.js
  awx/ui_next/src/components/JobList/useThrottle.js
  awx/ui_next/src/components/JobList/useWsJobs.js
  awx/ui_next/src/components/JobList/useWsJobs.test.jsx
Labels: component:ui_next, mergeit, type:enhancement, type:feature

#7436 Adds Tokens List
  awx/ui_next/src/api/models/Users.js
  awx/ui_next/src/screens/User/User.jsx
  awx/ui_next/src/screens/User/User.test.jsx
  awx/ui_next/src/screens/User/UserTokenList/UserTokenList.jsx
  awx/ui_next/src/screens/User/UserTokenList/UserTokenList.test.jsx
  awx/ui_next/src/screens/User/UserTokenList/UserTokenListItem.jsx
  awx/ui_next/src/screens/User/UserTokenList/UserTokenListItem.test.jsx
  awx/ui_next/src/screens/User/UserTokenList/index.js
  awx/ui_next/src/screens/User/UserTokens/UserTokens.jsx
  awx/ui_next/src/screens/User/UserTokens/index.js
  awx/ui_next/src/screens/User/Users.jsx
Labels: component:ui_next, mergeit, type:enhancement

#7485 replace certain terms with more inclusive language
  awx/api/filters.py
  awx/api/generics.py
  awx/api/serializers.py
  awx/conf/migrations/0007_v380_rename_more_settings.py
  awx/main/access.py
  awx/main/conf.py
  awx/main/constants.py
  awx/main/fields.py
  awx/main/models/base.py
  awx/main/models/inventory.py
  awx/main/models/notifications.py
  awx/main/models/workflow.py
  awx/main/tasks.py
  awx/main/tests/functional/api/test_generic.py
  awx/main/tests/functional/api/test_inventory.py
  awx/main/tests/unit/test_tasks.py
  awx/main/utils/common.py
  awx/main/utils/filters.py
  awx/main/utils/safe_yaml.py
  awx/settings/defaults.py
  awx/settings/development.py
  awx/ui/client/src/credential-types/edit/edit.controller.js
  awx/ui/client/src/inventory-scripts/edit/edit.controller.js
  awx/ui/client/src/notifications/edit/edit.controller.js
  awx/ui/client/src/organizations/edit/organizations-edit.controller.js
  awx/ui/client/src/projects/add/projects-add.controller.js
  awx/ui/client/src/projects/edit/projects-edit.controller.js
  awx/ui/client/src/projects/factories/get-project-path.factory.js
  awx/ui/client/src/templates/job_templates/add-job-template/job-template-add.controller.js
  awx/ui/client/src/templates/job_templates/edit-job-template/job-template-edit.controller.js
  awx/ui/client/src/templates/job_templates/factories/hash-setup.factory.js
  awx/ui/client/src/users/edit/users-edit.controller.js
  awx/ui/test/e2e/tests/smoke.js
  docs/debugging.md
  docs/prompting.md
  docs/resource_copy.md
Labels: mergeit

#7479 correction inventory endpoint tower_workflow_job_template_node.py
  awx_collection/plugins/modules/tower_workflow_job_template_node.py
Labels: component:awx_collection, mergeit, type:bug

#7457 Add smart inventory detail view
  awx/ui_next/src/components/Lookup/InventoryScriptLookup.jsx
  awx/ui_next/src/screens/Host/HostDetail/HostDetail.jsx
  awx/ui_next/src/screens/Host/HostDetail/HostDetail.test.jsx
  awx/ui_next/src/screens/Inventory/Inventories.jsx
  awx/ui_next/src/screens/Inventory/Inventory.jsx
  awx/ui_next/src/screens/Inventory/InventoryHostDetail/InventoryHostDetail.jsx
  awx/ui_next/src/screens/Inventory/InventoryHostDetail/InventoryHostDetail.test.jsx
  awx/ui_next/src/screens/Inventory/SmartInventory.jsx
  awx/ui_next/src/screens/Inventory/SmartInventory.test.jsx
  awx/ui_next/src/screens/Inventory/SmartInventoryDetail/SmartInventoryDetail.jsx
  awx/ui_next/src/screens/Inventory/SmartInventoryDetail/SmartInventoryDetail.test.jsx
  awx/ui_next/src/screens/Inventory/shared/data.smart_inventory.json
Labels: component:ui_next, mergeit, type:feature
