Repository ansible/awx, pull requests merged in 2020-11, with the labels that each got.

#8492 Remove Type from ScheduleList Sort
  awx/ui_next/src/components/Schedule/ScheduleList/ScheduleList.jsx
Labels: component:ui_next, mergeit

#8491 Remove activity from inventory details page
  awx/ui_next/src/screens/Inventory/InventoryDetail/InventoryDetail.jsx
  awx/ui_next/src/screens/Inventory/InventoryDetail/InventoryDetail.test.jsx
Labels: component:ui_next, mergeit

#8516 Don't write a tower_version file in awx
  awx/asgi.py
  awx/wsgi.py
  installer/roles/image_build/templates/Dockerfile.j2
Labels: mergeit

#8529 allow deleting NotificationTemplates w/ old pending notifications
  awx/api/views/__init__.py
Labels: mergeit

#8487 [feature] Keep pod_spec_override-provided pod labels
  awx/main/scheduler/kubernetes.py
Labels: mergeit, type:bug

#8526 Convert WorkflowJobTemplate.jsx to functional component
  awx/ui_next/src/screens/Template/WorkflowJobTemplate.jsx
  awx/ui_next/src/screens/Template/WorkflowJobTemplate.test.jsx
  awx/ui_next/src/screens/Template/shared/data.workflow_job_template.json
Labels: component:ui_next, mergeit, state:needs_review

#8508 Add Source Vars to all inventory source types
  awx/ui_next/src/screens/Inventory/shared/InventorySourceSubForms/AzureSubForm.jsx
  awx/ui_next/src/screens/Inventory/shared/InventorySourceSubForms/CloudFormsSubForm.jsx
  awx/ui_next/src/screens/Inventory/shared/InventorySourceSubForms/EC2SubForm.jsx
  awx/ui_next/src/screens/Inventory/shared/InventorySourceSubForms/GCESubForm.jsx
  awx/ui_next/src/screens/Inventory/shared/InventorySourceSubForms/GCESubForm.test.jsx
  awx/ui_next/src/screens/Inventory/shared/InventorySourceSubForms/OpenStackSubForm.jsx
  awx/ui_next/src/screens/Inventory/shared/InventorySourceSubForms/SatelliteSubForm.jsx
  awx/ui_next/src/screens/Inventory/shared/InventorySourceSubForms/SharedFields.jsx
  awx/ui_next/src/screens/Inventory/shared/InventorySourceSubForms/TowerSubForm.jsx
  awx/ui_next/src/screens/Inventory/shared/InventorySourceSubForms/TowerSubForm.test.jsx
  awx/ui_next/src/screens/Inventory/shared/InventorySourceSubForms/VMwareSubForm.jsx
  awx/ui_next/src/screens/Inventory/shared/InventorySourceSubForms/VirtualizationSubForm.jsx
  awx/ui_next/src/screens/Inventory/shared/InventorySourceSubForms/VirtualizationSubForm.test.jsx
Labels: component:ui_next, mergeit, type:feature

#8510 Host filter lookup fix
  awx/ui_next/src/components/DataListToolbar/DataListToolbar.jsx
  awx/ui_next/src/components/Lookup/HostFilterLookup.jsx
  awx/ui_next/src/screens/Inventory/shared/SmartInventoryForm.test.jsx
Labels: component:ui_next, mergeit, priority:high, type:bug

#8446 Hide max hosts field on org form
  awx/ui_next/src/screens/Organization/OrganizationAdd/OrganizationAdd.jsx
  awx/ui_next/src/screens/Organization/OrganizationDetail/OrganizationDetail.jsx
  awx/ui_next/src/screens/Organization/OrganizationEdit/OrganizationEdit.jsx
  awx/ui_next/src/screens/Organization/shared/OrganizationForm.jsx
Labels: component:ui_next, mergeit, state:needs_devel, type:feature

#8531 Fixes broken select
  awx/ui_next/src/screens/Credential/shared/CredentialFormFields/BecomeMethodField.jsx
  awx/ui_next/src/screens/Credential/shared/CredentialFormFields/BecomeMethodField.test.jsx
Labels: component:ui_next, mergeit, type:bug

#8549 Delete cloudforms
  awx/ui_next/src/screens/Credential/shared/data.credentialTypes.json
  awx/ui_next/src/screens/Inventory/InventorySourceAdd/InventorySourceAdd.test.jsx
  awx/ui_next/src/screens/Inventory/InventorySourceDetail/InventorySourceDetail.test.jsx
  awx/ui_next/src/screens/Inventory/InventorySourceEdit/InventorySourceEdit.test.jsx
  awx/ui_next/src/screens/Inventory/shared/InventorySourceForm.jsx
  awx/ui_next/src/screens/Inventory/shared/InventorySourceForm.test.jsx
  awx/ui_next/src/screens/Inventory/shared/InventorySourceSubForms/CloudFormsSubForm.jsx
  awx/ui_next/src/screens/Inventory/shared/InventorySourceSubForms/CloudFormsSubForm.test.jsx
  awx/ui_next/src/screens/Inventory/shared/InventorySourceSubForms/index.js
Labels: component:ui_next, mergeit, state:needs_test

#8483 Supports Associating Related Inventory Group
  awx/ui_next/src/api/models/Groups.js
  awx/ui_next/src/screens/Inventory/Inventories.jsx
  awx/ui_next/src/screens/Inventory/InventoryGroup/InventoryGroup.jsx
  awx/ui_next/src/screens/Inventory/InventoryRelatedGroupAdd/InventoryRelatedGroupAdd.jsx
  awx/ui_next/src/screens/Inventory/InventoryRelatedGroupAdd/InventoryRelatedGroupAdd.test.jsx
  awx/ui_next/src/screens/Inventory/InventoryRelatedGroupAdd/index.js
  awx/ui_next/src/screens/Inventory/InventoryRelatedGroups/InventoryRelatedGroupList.jsx
  awx/ui_next/src/screens/Inventory/InventoryRelatedGroups/InventoryRelatedGroupList.test.jsx
  awx/ui_next/src/screens/Inventory/InventoryRelatedGroups/InventoryRelatedGroups.jsx
  awx/ui_next/src/screens/Inventory/InventoryRelatedGroups/index.js
  awx/ui_next/src/screens/Inventory/shared/InventoryGroupForm.jsx
  awx/ui_next/src/screens/Inventory/shared/InventoryGroupForm.test.jsx
Labels: component:ui_next, mergeit, type:feature

#8540 Fix notification list to notification list item detail link
  awx/ui_next/src/components/NotificationList/NotificationList.jsx
  awx/ui_next/src/screens/NotificationTemplate/NotificationTemplate.jsx
Labels: component:ui_next, mergeit, type:bug

#8528 Adds Organization to Inventory List item
  awx/ui_next/src/screens/Inventory/InventoryList/InventoryListItem.jsx
  awx/ui_next/src/screens/Inventory/InventoryList/InventoryListItem.test.jsx
Labels: component:ui_next, mergeit, type:bug

#8545 Mark `Host Config Key` as a required field
  awx/ui_next/src/screens/Template/JobTemplateEdit/JobTemplateEdit.test.jsx
  awx/ui_next/src/screens/Template/shared/JobTemplateForm.jsx
  awx/ui_next/src/screens/Template/shared/JobTemplateForm.test.jsx
Labels: component:ui_next, mergeit

#8559 Merge in some downstream bug fixes
  awx/api/serializers.py
  awx/main/migrations/0117_v400_remove_cloudforms_inventory.py
  awx/main/migrations/_inventory_source.py
  awx/main/models/credential/__init__.py
  awx/main/tests/functional/api/test_credential.py
  awx/main/tests/functional/api/test_rbac_displays.py
  awx/main/tests/functional/test_credential.py
  awx/main/tests/functional/test_inventory_source_migration.py
  awx/ui/client/features/credentials/add-edit-credentials.controller.js
  awx/ui/client/src/login/authenticationServices/pendo.service.js
  awx_collection/plugins/modules/tower_export.py
  awx_collection/plugins/modules/tower_import.py
Labels: mergeit

#8520 Toggles WFJT survey on and off
  awx/ui_next/src/screens/Template/TemplateSurvey.jsx
  awx/ui_next/src/screens/Template/TemplateSurvey.test.jsx
Labels: component:ui_next, mergeit, state:needs_test, type:bug

#8567 avoid breaking upgrades from certain AWX versions
  awx/main/migrations/0122_really_remove_cloudforms_inventory.py
Labels: mergeit

#8503 Fixes toolbar buttons in Advanced Search mode
  awx/ui_next/src/components/DataListToolbar/DataListToolbar.jsx
  awx/ui_next/src/components/PaginatedDataList/ToolbarAddButton.jsx
  awx/ui_next/src/components/UserAndTeamAccessAdd/UserAndTeamAccessAdd.jsx
  awx/ui_next/src/components/UserAndTeamAccessAdd/UserAndTeamAccessAdd.test.jsx
  awx/ui_next/src/screens/Inventory/InventoryGroupDetail/InventoryGroupDetail.jsx
  awx/ui_next/src/screens/Inventory/InventoryGroupDetail/InventoryGroupDetail.test.jsx
  awx/ui_next/src/screens/Inventory/InventoryGroups/InventoryGroupsList.jsx
  awx/ui_next/src/screens/Inventory/InventoryGroups/InventoryGroupsList.test.jsx
  awx/ui_next/src/screens/Inventory/shared/InventoryGroupsDeleteModal.jsx
  awx/ui_next/src/screens/Inventory/shared/InventoryGroupsDeleteModal.test.jsx
  awx/ui_next/src/screens/Project/ProjectAdd/ProjectAdd.test.jsx
  awx/ui_next/src/screens/Team/TeamRoles/TeamRolesList.jsx
  awx/ui_next/src/screens/User/UserRoles/UserRolesList.jsx
  awx/ui_next/src/screens/User/UserRoles/UserRolesList.test.jsx
Labels: component:ui_next, mergeit, type:bug

#8570 removed unused analytics metrics
  awx/main/analytics/collectors.py
  awx/main/analytics/metrics.py
  awx/main/tests/functional/analytics/test_counts.py
  awx/main/tests/functional/analytics/test_projects_by_scm_type.py
Labels: mergeit

#8413 Tower_role Improvements, Approvals and use of Lists
  awx_collection/plugins/modules/tower_role.py
  awx_collection/test/awx/test_role.py
  awx_collection/tests/integration/targets/tower_role/tasks/main.yml
Labels: component:awx_collection, mergeit, type:enhancement

#8566 Adds asterisk to required survey questions in preview modal
  awx/ui_next/src/screens/Template/Survey/SurveyPreviewModal.jsx
  awx/ui_next/src/screens/Template/Survey/SurveyPreviewModal.test.jsx
Labels: component:ui_next, mergeit

#8575 more downstream changes
  awx/main/utils/licensing.py
  awx/ui/client/src/license/license.partial.html
  awx_collection/plugins/modules/tower_credential.py
  awx_collection/test/awx/test_inventory_source.py
  awx_collection/tests/integration/targets/tower_credential/tasks/main.yml
Labels: mergeit

#8463 Add feature to associate teams to users
  awx/ui_next/src/components/AssociateModal/AssociateModal.jsx
  awx/ui_next/src/screens/User/User.jsx
  awx/ui_next/src/screens/User/UserTeams/UserTeamList.jsx
  awx/ui_next/src/screens/User/UserTeams/UserTeamList.test.jsx
  awx/ui_next/src/screens/User/UserTeams/UserTeamListItem.jsx
  awx/ui_next/src/screens/User/UserTeams/UserTeamListItem.test.jsx
Labels: component:ui_next, mergeit, type:feature

#8519 Remove groups/hosts when deleting inventory sources
  awx/ui_next/src/screens/Inventory/InventorySources/InventorySourceList.jsx
  awx/ui_next/src/screens/Inventory/InventorySources/InventorySourceList.test.jsx
Labels: component:ui_next, mergeit

#8582 Revert portions of 40a10dcc5f00d60284aa507b418b5e758094d437
  awx/main/analytics/collectors.py
  awx/main/tests/functional/analytics/test_counts.py
Labels: mergeit

#8552 Add helm installation (#8551)
  installer/roles/image_build/templates/Dockerfile.j2
Labels: component:installer, mergeit, type:enhancement

#8563 Updates PF dependency
  awx/ui_next/package-lock.json
  awx/ui_next/package.json
  awx/ui_next/src/components/AppContainer/NavExpandableGroup.jsx
  awx/ui_next/src/components/DataListToolbar/DataListToolbar.test.jsx
  awx/ui_next/src/components/MultiSelect/TagMultiSelect.test.jsx
  awx/ui_next/src/components/NotificationList/__snapshots__/NotificationListItem.test.jsx.snap
  awx/ui_next/src/components/PaginatedDataList/__snapshots__/ToolbarDeleteButton.test.jsx.snap
  awx/ui_next/src/components/ResourceAccessList/__snapshots__/DeleteRoleConfirmationModal.test.jsx.snap
  awx/ui_next/src/components/ResourceAccessList/__snapshots__/ResourceAccessListItem.test.jsx.snap
  awx/ui_next/src/screens/Inventory/InventoryGroupAdd/InventoryGroupAdd.test.jsx
  awx/ui_next/src/screens/Inventory/InventoryRelatedGroupAdd/InventoryRelatedGroupAdd.test.jsx
  awx/ui_next/src/screens/Inventory/shared/InventoryGroupForm.test.jsx
  awx/ui_next/src/screens/Template/Survey/SurveyQuestionForm.test.jsx
  awx/ui_next/src/screens/Template/shared/LabelSelect.test.jsx
Labels: component:ui_next, dependencies, mergeit, state:needs_review

#8482 Fix inconsistent screen title bars
  awx/ui_next/src/screens/Dashboard/Dashboard.jsx
  awx/ui_next/src/screens/ManagementJob/ManagementJobs.jsx
  awx/ui_next/src/screens/ManagementJob/ManagementJobs.test.jsx
Labels: component:ui_next, mergeit, state:needs_test

#8615 Fix the navbar
  awx/ui_next/src/components/AppContainer/NavExpandableGroup.jsx
Labels: component:ui_next, mergeit, type:bug

#8617 Avoid invalid group characters in default inventory script factory
  awxkit/awxkit/api/pages/inventory.py
Labels: component:cli, mergeit

#8622 Fix nav console error
  awx/ui_next/src/components/AppContainer/NavExpandableGroup.jsx
Labels: component:ui_next, mergeit

#8587 Add updates related to smart inventories
  awx/ui_next/src/components/Lookup/HostFilterLookup.jsx
  awx/ui_next/src/components/Lookup/HostListItem.jsx
  awx/ui_next/src/components/Lookup/HostListItem.test.jsx
  awx/ui_next/src/screens/Inventory/shared/SmartInventoryForm.jsx
  awx/ui_next/src/screens/Inventory/shared/SmartInventoryForm.test.jsx
Labels: component:ui_next, mergeit

#8626 Add minor update to strings
  awx/ui_next/src/screens/Dashboard/shared/DashboardTemplateList.jsx
  awx/ui_next/src/screens/InstanceGroup/InstanceGroupList/InstanceGroupList.jsx
  awx/ui_next/src/screens/Inventory/InventoryGroupHosts/InventoryGroupHostList.jsx
  awx/ui_next/src/screens/Inventory/InventoryList/InventoryList.jsx
  awx/ui_next/src/screens/Inventory/InventoryRelatedGroups/InventoryRelatedGroupList.jsx
  awx/ui_next/src/screens/Template/TemplateList/TemplateList.jsx
Labels: component:ui_next, mergeit, state:needs_test, type:bug

#8643 Inventory Lookup on WFJT Form should not be required
  awx/ui_next/src/screens/Template/shared/WorkflowJobTemplateForm.jsx
  awx/ui_next/src/screens/Template/shared/WorkflowJobTemplateForm.test.jsx
Labels: component:ui_next, mergeit, state:needs_test, type:bug

#8588 Update usage of useDeleteItems
  awx/ui_next/src/components/JobList/JobList.jsx
  awx/ui_next/src/components/ResourceAccessList/ResourceAccessList.jsx
  awx/ui_next/src/screens/Application/ApplicationDetails/ApplicationDetails.jsx
  awx/ui_next/src/screens/Application/ApplicationDetails/ApplicationDetails.test.jsx
  awx/ui_next/src/screens/Application/ApplicationTokens/ApplicationTokenList.jsx
  awx/ui_next/src/screens/Application/ApplicationsList/ApplicationsList.jsx
  awx/ui_next/src/screens/Credential/CredentialList/CredentialList.jsx
  awx/ui_next/src/screens/CredentialType/CredentialTypeList/CredentialTypeList.jsx
  awx/ui_next/src/screens/Dashboard/shared/DashboardTemplateList.jsx
  awx/ui_next/src/screens/Host/HostGroups/HostGroupsList.jsx
  awx/ui_next/src/screens/Host/HostList/HostList.jsx
  awx/ui_next/src/screens/InstanceGroup/InstanceGroupList/InstanceGroupList.jsx
  awx/ui_next/src/screens/InstanceGroup/Instances/InstanceList.jsx
  awx/ui_next/src/screens/Inventory/InventoryGroupHosts/InventoryGroupHostList.jsx
  awx/ui_next/src/screens/Inventory/InventoryHostGroups/InventoryHostGroupsList.jsx
  awx/ui_next/src/screens/Inventory/InventoryHosts/InventoryHostList.jsx
  awx/ui_next/src/screens/Inventory/InventoryList/InventoryList.jsx
  awx/ui_next/src/screens/Inventory/InventorySources/InventorySourceList.jsx
  awx/ui_next/src/screens/NotificationTemplate/NotificationTemplateList/NotificationTemplateList.jsx
  awx/ui_next/src/screens/Organization/OrganizationList/OrganizationList.jsx
  awx/ui_next/src/screens/Project/ProjectJobTemplatesList/ProjectJobTemplatesList.jsx
  awx/ui_next/src/screens/Project/ProjectList/ProjectList.jsx
  awx/ui_next/src/screens/Team/TeamList/TeamList.jsx
  awx/ui_next/src/screens/Template/TemplateList/TemplateList.jsx
  awx/ui_next/src/screens/User/UserList/UserList.jsx
  awx/ui_next/src/screens/User/UserTeams/UserTeamList.jsx
  awx/ui_next/src/screens/User/UserTokenList/UserTokenList.jsx
Labels: component:ui_next, mergeit

#8651 Clean up some old sourve var settings in unit tests
  awx/main/tests/unit/test_tasks.py
Labels: mergeit

#8612 Allow deletion of workflow approval template
  awx/main/models/workflow.py
Labels: component:api, mergeit, type:bug

#8668 Remove *-next make targets
  Makefile
Labels: mergeit

#8679 Apply more rigor to asserting text in stdout
  awxkit/awxkit/api/pages/unified_jobs.py
Labels: component:api, mergeit, type:bug

#8671 Avoid copies made from failed updates
  awx/main/tasks.py
Labels: mergeit

#8682 Only display inventory file for scm sources
  awx/ui_next/src/screens/Inventory/InventorySourceDetail/InventorySourceDetail.jsx
Labels: component:ui_next, mergeit, type:bug

#8375 Adds workflow approval list and details
  awx/ui_next/src/api/index.js
  awx/ui_next/src/api/models/WorkflowApprovals.js
  awx/ui_next/src/components/PaginatedDataList/ToolbarDeleteButton.jsx
  awx/ui_next/src/components/PaginatedDataList/__snapshots__/ToolbarDeleteButton.test.jsx.snap
  awx/ui_next/src/routeConfig.js
  awx/ui_next/src/screens/NotificationTemplate/NotificationTemplateList/NotificationTemplateList.jsx
  awx/ui_next/src/screens/WorkflowApproval/WorkflowApproval.jsx
  awx/ui_next/src/screens/WorkflowApproval/WorkflowApproval.test.jsx
  awx/ui_next/src/screens/WorkflowApproval/WorkflowApprovalDetail/WorkflowApprovalDetail.jsx
  awx/ui_next/src/screens/WorkflowApproval/WorkflowApprovalDetail/WorkflowApprovalDetail.test.jsx
  awx/ui_next/src/screens/WorkflowApproval/WorkflowApprovalDetail/index.js
  awx/ui_next/src/screens/WorkflowApproval/WorkflowApprovalList/WorkflowApprovalList.jsx
  awx/ui_next/src/screens/WorkflowApproval/WorkflowApprovalList/WorkflowApprovalList.test.jsx
  awx/ui_next/src/screens/WorkflowApproval/WorkflowApprovalList/WorkflowApprovalListApproveButton.jsx
  awx/ui_next/src/screens/WorkflowApproval/WorkflowApprovalList/WorkflowApprovalListApproveButton.test.jsx
  awx/ui_next/src/screens/WorkflowApproval/WorkflowApprovalList/WorkflowApprovalListDenyButton.jsx
  awx/ui_next/src/screens/WorkflowApproval/WorkflowApprovalList/WorkflowApprovalListDenyButton.test.jsx
  awx/ui_next/src/screens/WorkflowApproval/WorkflowApprovalList/WorkflowApprovalListItem.jsx
  awx/ui_next/src/screens/WorkflowApproval/WorkflowApprovalList/WorkflowApprovalListItem.test.jsx
  awx/ui_next/src/screens/WorkflowApproval/WorkflowApprovalList/index.js
  awx/ui_next/src/screens/WorkflowApproval/WorkflowApprovalList/useWsWorkflowApprovals.js
  awx/ui_next/src/screens/WorkflowApproval/WorkflowApprovalList/useWsWorkflowApprovals.test.jsx
  awx/ui_next/src/screens/WorkflowApproval/WorkflowApprovals.jsx
  awx/ui_next/src/screens/WorkflowApproval/WorkflowApprovals.test.jsx
  awx/ui_next/src/screens/WorkflowApproval/data.workflowApprovals.json
  awx/ui_next/src/screens/WorkflowApproval/index.js
  awx/ui_next/src/screens/WorkflowApproval/shared/WorkflowApprovalStatus.jsx
  awx/ui_next/src/screens/WorkflowApproval/shared/WorkflowApprovalStatus.test.jsx
  awx/ui_next/src/types.js
  awx/ui_next/src/util/dates.jsx
  awx/ui_next/src/util/dates.test.jsx
  awx/ui_next/src/util/useThrottle.js
Labels: component:ui_next, mergeit, type:feature

#8628 Hide sync icon for smart inventory rows in Inventory List
  awx/ui_next/src/screens/Inventory/InventoryList/InventoryListItem.jsx
  awx/ui_next/src/screens/Inventory/InventoryList/InventoryListItem.test.jsx
Labels: component:ui_next, mergeit, type:bug

#8659 Hide edit/delete buttons on group details view for users that don't have permissions
  awx/ui_next/src/screens/Inventory/InventoryGroupDetail/InventoryGroupDetail.jsx
  awx/ui_next/src/screens/Inventory/InventoryGroupDetail/InventoryGroupDetail.test.jsx
Labels: component:ui_next, mergeit

#8655 Display machine credential in job details when present
  awx/ui_next/src/screens/Job/JobDetail/JobDetail.jsx
  awx/ui_next/src/screens/Job/JobDetail/JobDetail.test.jsx
Labels: component:ui_next, mergeit

#8672 Allow combining multiple subscriptions if they are in a manifest.
  awx/main/utils/licensing.py
Labels: mergeit

#8594 Mark organization as a required field for Galaxy crendentials
  awx/ui_next/src/screens/Credential/shared/CredentialForm.jsx
  awx/ui_next/src/screens/Credential/shared/CredentialForm.test.jsx
  awx/ui_next/src/screens/Credential/shared/data.credentialTypes.json
  awx/ui_next/src/screens/Credential/shared/data.galaxyCredential.json
Labels: component:ui_next, mergeit, type:bug

#8700 Add Git-LFS to build image
  installer/roles/image_build/templates/Dockerfile.j2
Labels: component:installer, mergeit, type:bug

#8323 Refactor to hook in programmatic use of inventory import saving-to-DB code
  awx/main/exceptions.py
  awx/main/management/commands/inventory_import.py
  awx/main/tasks.py
  awx/main/tests/functional/commands/test_inventory_import.py
  awx/main/tests/functional/test_inventory_source_injectors.py
  awx/main/tests/unit/commands/test_inventory_import.py
  awx/main/tests/unit/test_tasks.py
  awx/main/utils/formatters.py
  awx/main/utils/handlers.py
Labels: component:api, component:ui_next, mergeit, type:enhancement
