Repository ansible/awx, pull requests merged in 2020-10, with the labels that each got.

#8304 Remove self-closing tags from webhook cred lookup
  awx/ui/client/src/templates/job_templates/add-job-template/job-template-add.controller.js
  awx/ui/client/src/templates/job_templates/edit-job-template/job-template-edit.controller.js
  awx/ui/client/src/templates/workflows/add-workflow/workflow-add.controller.js
  awx/ui/client/src/templates/workflows/edit-workflow/workflow-edit.controller.js
Labels: component:ui, mergeit, type:bug

#8299 Force logout and clear before social auth login
  awx/ui/client/src/login/loginModal/thirdPartySignOn/thirdPartySignOn.controller.js
Labels: component:api, component:ui, mergeit, type:bug

#8307 fix a bug that prevents deletion of workflow approval records
  awx/main/models/workflow.py
Labels: mergeit

#8308 correct error message when calling tower_AWXKit collections module and venv doesn't have it
  awx_collection/plugins/module_utils/tower_awxkit.py
Labels: component:awx_collection, mergeit

#8313 fix a display bug in notification bodies with unicode characters
  awx/main/models/notifications.py
  awx/main/tests/functional/models/test_notifications.py
Labels: mergeit

#8282 Fix inventory file dropdown placeholder value
  awx/ui_next/src/screens/Inventory/shared/InventorySourceForm.jsx
  awx/ui_next/src/screens/Inventory/shared/InventorySourceSubForms/SCMSubForm.jsx
Labels: component:ui_next, mergeit, type:bug

#8315 Address dependency warning
  awx/ui_next/package-lock.json
Labels: component:ui_next, mergeit, state:needs_test

#8298 Add accessibility labels to job status/cloud sync icons
  awx/ui_next/src/components/StatusIcon/StatusIcon.jsx
  awx/ui_next/src/components/SyncStatusIndicator/SyncStatusIndicator.jsx
  awx/ui_next/src/screens/Job/JobDetail/JobDetail.test.jsx
  awx/ui_next/src/screens/Job/JobOutput/HostEventModal.test.jsx
Labels: a11y, component:ui_next, mergeit

#8235 Restructures Job Template POL and renames useSteps
  awx/ui_next/src/components/LaunchPrompt/LaunchPrompt.jsx
  awx/ui_next/src/components/LaunchPrompt/LaunchPrompt.test.jsx
  awx/ui_next/src/components/LaunchPrompt/getSurveyValues.js
  awx/ui_next/src/components/LaunchPrompt/steps/OtherPromptsStep.jsx
  awx/ui_next/src/components/LaunchPrompt/steps/PreviewStep.jsx
  awx/ui_next/src/components/LaunchPrompt/steps/PreviewStep.test.jsx
  awx/ui_next/src/components/LaunchPrompt/steps/SurveyStep.jsx
  awx/ui_next/src/components/LaunchPrompt/steps/useCredentialsStep.jsx
  awx/ui_next/src/components/LaunchPrompt/steps/useInventoryStep.jsx
  awx/ui_next/src/components/LaunchPrompt/steps/useOtherPromptsStep.jsx
  awx/ui_next/src/components/LaunchPrompt/steps/usePreviewStep.jsx
  awx/ui_next/src/components/LaunchPrompt/steps/useSurveyStep.jsx
  awx/ui_next/src/components/LaunchPrompt/useLaunchSteps.js
  awx/ui_next/src/components/LaunchPrompt/useSteps.js
Labels: component:ui_next, mergeit, type:feature

#8325 UI translation strings for devel branch
  awx/locale/django.pot
  awx/locale/en-us/LC_MESSAGES/django.po
  awx/locale/ja/LC_MESSAGES/django.po
  awx/ui/po/ansible-tower-ui.pot
  awx/ui/po/ja.po
Labels: component:api, component:ui, mergeit, type:enhancement

#8243 Adds Ad Hoc Commands To Remaining Lists
  awx/ui_next/src/api/models/Groups.js
  awx/ui_next/src/components/AdHocCommands/AdHocCommands.jsx
  awx/ui_next/src/components/AdHocCommands/AdHocCommands.test.jsx
  awx/ui_next/src/components/AdHocCommands/AdHocCommandsWizard.jsx
  awx/ui_next/src/components/AdHocCommands/AdHocCommandsWizard.test.jsx
  awx/ui_next/src/components/AdHocCommands/AdHocCredentialStep.jsx
  awx/ui_next/src/components/AdHocCommands/AdHocDetailsStep.jsx
  awx/ui_next/src/components/AdHocCommands/AdHocDetailsStep.test.jsx
  awx/ui_next/src/screens/Inventory/InventoryGroupHosts/InventoryGroupHostList.jsx
  awx/ui_next/src/screens/Inventory/InventoryGroupHosts/InventoryGroupHostList.test.jsx
  awx/ui_next/src/screens/Inventory/InventoryGroups/InventoryGroupsList.jsx
  awx/ui_next/src/screens/Inventory/InventoryGroups/InventoryGroupsList.test.jsx
  awx/ui_next/src/screens/Inventory/InventoryHostGroups/InventoryHostGroupsList.jsx
  awx/ui_next/src/screens/Inventory/InventoryHostGroups/InventoryHostGroupsList.test.jsx
  awx/ui_next/src/screens/Inventory/InventoryHosts/InventoryHostList.jsx
  awx/ui_next/src/screens/Inventory/InventoryHosts/InventoryHostList.test.jsx
  awx/ui_next/src/screens/Inventory/SmartInventoryHosts/SmartInventoryHostList.jsx
  awx/ui_next/src/screens/Inventory/SmartInventoryHosts/SmartInventoryHostList.test.jsx
Labels: component:ui_next, mergeit, state:in_progress, type:feature

#8342 Fixes invalid text location
  awx/ui_next/src/screens/Template/shared/JobTemplateForm.jsx
Labels: component:ui_next, mergeit

#8306 fixing quotes to not fail smart quotes sanity test
  awx_collection/TESTING.md
Labels: component:awx_collection, mergeit

#8352 Mark missing words for translation
  awx/ui_next/src/components/AdHocCommands/AdHocDetailsStep.jsx
  awx/ui_next/src/components/PromptDetail/PromptJobTemplateDetail.jsx
  awx/ui_next/src/components/Schedule/ScheduleDetail/ScheduleDetail.jsx
  awx/ui_next/src/screens/Template/JobTemplateDetail/JobTemplateDetail.jsx
Labels: component:ui_next, mergeit

#8353 Zedr wfjt inventories
  awx/api/serializers.py
  awxkit/awxkit/api/pages/api.py
Labels: component:api, mergeit, type:bug

#8326 Fix 500 when required LDAP group parameters aren't set.
  awx/sso/fields.py
Labels: component:api, mergeit, type:bug

#8324 Add organization when creating/editing an execution environments
  awx/ui_next/src/components/Lookup/OrganizationLookup.jsx
  awx/ui_next/src/screens/ExecutionEnvironment/ExecutionEnvironmentAdd/ExecutionEnvironmentAdd.jsx
  awx/ui_next/src/screens/ExecutionEnvironment/ExecutionEnvironmentAdd/ExecutionEnvironmentAdd.test.jsx
  awx/ui_next/src/screens/ExecutionEnvironment/ExecutionEnvironmentEdit/ExecutionEnvironmentEdit.jsx
  awx/ui_next/src/screens/ExecutionEnvironment/ExecutionEnvironmentEdit/ExecutionEnvironmentEdit.test.jsx
  awx/ui_next/src/screens/ExecutionEnvironment/shared/ExecutionEnvironmentForm.jsx
  awx/ui_next/src/screens/ExecutionEnvironment/shared/ExecutionEnvironmentForm.test.jsx
Labels: component:ui_next, mergeit

#8370 fix a confusing error message when extra vars aren't valid JSON/YAML
  awxkit/awxkit/cli/options.py
Labels: mergeit

#8376 Clarify behavioral changes from content syncing behavior in 15.0.0+
  CHANGELOG.md
Labels: mergeit

#8382 clarify the instructions for building CLI docs
  INSTALL.md
Labels: mergeit

#8319 Added Groups/Hosts/Sources count to inventory list rows #7674
  awx/ui_next/src/screens/Inventory/InventoryList/InventoryListItem.jsx
Labels: component:ui_next, mergeit, state:needs_devel

#8369 Add general updates for User screen
  awx/ui_next/src/screens/User/UserDetail/UserDetail.jsx
  awx/ui_next/src/screens/User/UserDetail/UserDetail.test.jsx
  awx/ui_next/src/screens/User/UserList/UserListItem.jsx
  awx/ui_next/src/screens/User/UserList/UserListItem.test.jsx
  awx/ui_next/src/screens/User/data.user.json
  awx/ui_next/src/screens/User/shared/UserForm.jsx
  awx/ui_next/src/screens/User/shared/UserForm.test.jsx
Labels: component:ui_next, mergeit

#8337 Add execution environment list to Organizations
  awx/ui_next/src/api/models/Organizations.js
  awx/ui_next/src/screens/Organization/Organization.jsx
  awx/ui_next/src/screens/Organization/Organization.test.jsx
  awx/ui_next/src/screens/Organization/OrganizationExecEnvList/OrganizationExecEnvList.jsx
  awx/ui_next/src/screens/Organization/OrganizationExecEnvList/OrganizationExecEnvList.test.jsx
  awx/ui_next/src/screens/Organization/OrganizationExecEnvList/OrganizationExecEnvListItem.jsx
  awx/ui_next/src/screens/Organization/OrganizationExecEnvList/OrganizationExecEnvListItem.test.jsx
  awx/ui_next/src/screens/Organization/OrganizationExecEnvList/index.js
  awx/ui_next/src/screens/Organization/Organizations.jsx
Labels: component:ui_next, mergeit

#8351 Update AddDropDownButton to show down caret
  awx/ui_next/src/components/AddDropDownButton/AddDropDownButton.jsx
  awx/ui_next/src/components/PaginatedDataList/ToolbarAddButton.jsx
  awx/ui_next/src/components/PaginatedDataList/ToolbarAddButton.test.jsx
Labels: component:ui_next, mergeit

#8392 Upgrade angular to 1.8.1
  awx/ui/package-lock.json
  awx/ui/package.json
Labels: component:ui, mergeit, state:needs_review

#8386 Fixing resetting of variables and adding unit test for condition
  awx_collection/plugins/modules/tower_job_template.py
  awx_collection/test/awx/test_job_template.py
Labels: component:awx_collection, mergeit, state:needs_review

#8393 Remove mathjs as a dependency
  awx/ui/package-lock.json
  awx/ui/package.json
  docs/licenses/ui/complex.js.txt
  docs/licenses/ui/decimal.js.txt
  docs/licenses/ui/escape-latex.txt
  docs/licenses/ui/fraction.js.txt
  docs/licenses/ui/javascript-natural-sort.txt
  docs/licenses/ui/mathjs.txt
  docs/licenses/ui/seed-random.txt
  docs/licenses/ui/tiny-emitter.txt
  docs/licenses/ui/typed-function.txt
Labels: component:ui, mergeit

#8397 Fixing get_one calls in tower_inventory_source_update
  awx_collection/plugins/modules/tower_inventory_source_update.py
Labels: component:awx_collection, mergeit

#8398 Fixing stack trace from an error not having a detail
  awx_collection/plugins/module_utils/tower_api.py
Labels: component:awx_collection, mergeit

#8230 Add username to tooltip
  awx/ui_next/src/components/PaginatedDataList/ToolbarDeleteButton.jsx
  awx/ui_next/src/components/PaginatedDataList/ToolbarDeleteButton.test.jsx
Labels: component:ui_next, mergeit

#8408 Point installer to community.general.docker_image
  INSTALL.md
Labels: component:installer, mergeit, type:bug

#8312 related #4540 updating project_update.yml to accept yaml extension
  awx/playbooks/project_update.yml
Labels: component:api, mergeit, type:bug

#8403 Improve general performance for a variety of high-load job launch use cases
  awx/main/models/ha.py
  awx/main/models/unified_jobs.py
  awx/main/scheduler/task_manager.py
  awx/main/tests/unit/models/test_ha.py
Labels: mergeit

#8416 make workflow approval creation return an HTTP 201, not 200 OK
  awx/api/views/__init__.py
  awx/main/tests/functional/api/test_workflow_node.py
Labels: mergeit

#8415 bump version to 15.0.1
  CHANGELOG.md
  VERSION
  awxkit/VERSION
Labels: mergeit

#8417 Add Kubernetes Deployment support for annotations
  installer/roles/kubernetes/templates/deployment.yml.j2
Labels: component:installer, mergeit, type:enhancement

#8404 Fix issues with prop types that were causing errors to be logged during tests
  awx/ui_next/src/components/AdHocCommands/AdHocCommandsWizard.jsx
  awx/ui_next/src/components/AdHocCommands/AdHocDetailsStep.jsx
  awx/ui_next/src/screens/Inventory/InventoryHosts/InventoryHostList.jsx
  awx/ui_next/src/screens/Template/shared/JobTemplateForm.jsx
Labels: component:ui_next, mergeit

#8281 Add Galaxy Credentials field to organizations form
  awx/ui_next/src/api/models/Organizations.js
  awx/ui_next/src/components/Lookup/CredentialLookup.jsx
  awx/ui_next/src/screens/Organization/Organization.jsx
  awx/ui_next/src/screens/Organization/Organization.test.jsx
  awx/ui_next/src/screens/Organization/OrganizationAdd/OrganizationAdd.jsx
  awx/ui_next/src/screens/Organization/OrganizationAdd/OrganizationAdd.test.jsx
  awx/ui_next/src/screens/Organization/OrganizationDetail/OrganizationDetail.jsx
  awx/ui_next/src/screens/Organization/OrganizationEdit/OrganizationEdit.jsx
  awx/ui_next/src/screens/Organization/Organizations.jsx
  awx/ui_next/src/screens/Organization/shared/OrganizationForm.jsx
  awx/ui_next/src/screens/Organization/shared/OrganizationForm.test.jsx
Labels: component:ui_next, mergeit, state:needs_test

#8162 Update labels to display isolated and controller instance groups
  awx/ui_next/src/screens/InstanceGroup/InstanceGroupDetails/InstanceGroupDetails.jsx
  awx/ui_next/src/screens/InstanceGroup/InstanceGroupList/InstanceGroupListItem.jsx
Labels: component:ui_next, mergeit, state:needs_test, type:feature

#8346 Merge FieldTooltip and DetailPopover into single Popover component
  awx/ui_next/src/components/AdHocCommands/AdHocCommandsWizard.test.jsx
  awx/ui_next/src/components/AdHocCommands/AdHocCredentialStep.jsx
  awx/ui_next/src/components/AdHocCommands/AdHocDetailsStep.jsx
  awx/ui_next/src/components/CodeMirrorInput/CodeMirrorField.jsx
  awx/ui_next/src/components/CodeMirrorInput/VariablesDetail.jsx
  awx/ui_next/src/components/CodeMirrorInput/VariablesField.jsx
  awx/ui_next/src/components/CodeMirrorInput/VariablesField.test.jsx
  awx/ui_next/src/components/DetailList/CodeDetail.jsx
  awx/ui_next/src/components/DetailList/Detail.jsx
  awx/ui_next/src/components/DetailPopover/DetailPopover.jsx
  awx/ui_next/src/components/DetailPopover/index.js
  awx/ui_next/src/components/FieldWithPrompt/FieldWithPrompt.jsx
  awx/ui_next/src/components/FieldWithPrompt/FieldWithPrompt.test.jsx
  awx/ui_next/src/components/FormField/ArrayTextField.jsx
  awx/ui_next/src/components/FormField/CheckboxField.jsx
  awx/ui_next/src/components/FormField/FieldTooltip.jsx
  awx/ui_next/src/components/FormField/FormField.jsx
  awx/ui_next/src/components/FormField/PasswordField.jsx
  awx/ui_next/src/components/FormField/index.js
  awx/ui_next/src/components/HostForm/HostForm.jsx
  awx/ui_next/src/components/LaunchPrompt/steps/OtherPromptsStep.jsx
  awx/ui_next/src/components/LaunchPrompt/steps/SurveyStep.jsx
  awx/ui_next/src/components/Lookup/CredentialLookup.jsx
  awx/ui_next/src/components/Lookup/InstanceGroupsLookup.jsx
  awx/ui_next/src/components/Lookup/ProjectLookup.jsx
  awx/ui_next/src/components/Popover/Popover.jsx
  awx/ui_next/src/components/Popover/index.js
  awx/ui_next/src/screens/Application/shared/ApplicationForm.jsx
  awx/ui_next/src/screens/Credential/shared/CredentialFormFields/BecomeMethodField.jsx
  awx/ui_next/src/screens/Credential/shared/CredentialFormFields/CredentialField.jsx
  awx/ui_next/src/screens/Credential/shared/CredentialPlugins/CredentialPluginField.jsx
  awx/ui_next/src/screens/Credential/shared/CredentialPlugins/CredentialPluginPrompt/MetadataStep.jsx
  awx/ui_next/src/screens/Credential/shared/ExternalTestModal.jsx
  awx/ui_next/src/screens/Inventory/InventorySourceDetail/InventorySourceDetail.jsx
  awx/ui_next/src/screens/Inventory/shared/InventorySourceForm.jsx
  awx/ui_next/src/screens/Inventory/shared/InventorySourceSubForms/SCMSubForm.jsx
  awx/ui_next/src/screens/Inventory/shared/InventorySourceSubForms/SharedFields.jsx
  awx/ui_next/src/screens/Project/shared/ProjectForm.jsx
  awx/ui_next/src/screens/Project/shared/ProjectSubForms/ManualSubForm.jsx
  awx/ui_next/src/screens/Setting/shared/SettingDetail.jsx
  awx/ui_next/src/screens/Template/Survey/SurveyQuestionForm.jsx
  awx/ui_next/src/screens/Template/shared/JobTemplateForm.jsx
  awx/ui_next/src/screens/Template/shared/WebhookSubForm.jsx
  awx/ui_next/src/screens/Template/shared/WorkflowJobTemplateForm.jsx
  awx/ui_next/src/screens/User/shared/UserTokenForm.jsx
Labels: a11y, component:ui_next, mergeit, state:needs_test, type:bug

#8339 Refactor FormSubmitError for easier testing, better error display
  awx/ui_next/src/components/FormField/FormSubmitError.jsx
  awx/ui_next/src/components/FormField/FormSubmitError.test.jsx
  awx/ui_next/src/components/FormField/sortErrorMessages.js
  awx/ui_next/src/components/FormField/sortErrorMessages.test.js
Labels: component:ui_next, mergeit, state:needs_test, type:bug

#7281 Updates credential details to support plugin and prompt fields
  awx/ui_next/src/api/models/Credentials.js
  awx/ui_next/src/screens/Credential/CredentialDetail/CredentialDetail.jsx
  awx/ui_next/src/screens/Credential/CredentialDetail/CredentialDetail.test.jsx
  awx/ui_next/src/screens/Credential/CredentialEdit/CredentialEdit.jsx
  awx/ui_next/src/screens/Credential/shared/data.credentials.json
Labels: component:ui_next, mergeit, state:needs_test, type:feature

#8348 Rename inventory_source param to name in tower_inventory_source_update
  awx_collection/plugins/modules/tower_inventory_source_update.py
  awx_collection/tests/integration/targets/tower_inventory_source_update/tasks/main.yml
Labels: component:awx_collection, mergeit, type:enhancement

#8364 Workflow approval
  awx_collection/plugins/module_utils/tower_api.py
  awx_collection/plugins/modules/tower_workflow_job_template_node.py
  awx_collection/test/awx/test_completeness.py
  awx_collection/test/awx/test_workflow_job_template_node.py
  awx_collection/tests/integration/targets/tower_workflow_job_template/tasks/main.yml
Labels: component:awx_collection, mergeit, type:enhancement

#8263 8238 add related groups
  awx/ui_next/src/api/models/Groups.js
  awx/ui_next/src/components/AdHocCommands/AdHocCommands.jsx
  awx/ui_next/src/components/AdHocCommands/AdHocCommands.test.jsx
  awx/ui_next/src/components/AdHocCommands/AdHocCommandsWizard.jsx
  awx/ui_next/src/components/AdHocCommands/AdHocDetailsStep.jsx
  awx/ui_next/src/components/DisassociateButton/DisassociateButton.jsx
  awx/ui_next/src/screens/Inventory/InventoryGroup/InventoryGroup.jsx
  awx/ui_next/src/screens/Inventory/InventoryGroupHosts/AddHostDropdown.jsx
  awx/ui_next/src/screens/Inventory/InventoryGroupHosts/InventoryGroupHostList.jsx
  awx/ui_next/src/screens/Inventory/InventoryGroupHosts/InventoryGroupHostList.test.jsx
  awx/ui_next/src/screens/Inventory/InventoryGroups/InventoryGroupsList.jsx
  awx/ui_next/src/screens/Inventory/InventoryGroups/InventoryGroupsList.test.jsx
  awx/ui_next/src/screens/Inventory/InventoryHostGroups/InventoryHostGroupsList.jsx
  awx/ui_next/src/screens/Inventory/InventoryHostGroups/InventoryHostGroupsList.test.jsx
  awx/ui_next/src/screens/Inventory/InventoryHosts/InventoryHostList.jsx
  awx/ui_next/src/screens/Inventory/InventoryHosts/InventoryHostList.test.jsx
  awx/ui_next/src/screens/Inventory/InventoryRelatedGroups/InventoryRelatedGroupList.jsx
  awx/ui_next/src/screens/Inventory/InventoryRelatedGroups/InventoryRelatedGroupList.test.jsx
  awx/ui_next/src/screens/Inventory/InventoryRelatedGroups/InventoryRelatedGroupListItem.jsx
  awx/ui_next/src/screens/Inventory/InventoryRelatedGroups/InventoryRelatedGroupListItem.test.jsx
  awx/ui_next/src/screens/Inventory/InventoryRelatedGroups/index.js
  awx/ui_next/src/screens/Inventory/SmartInventoryHosts/SmartInventoryHostList.jsx
  awx/ui_next/src/screens/Inventory/SmartInventoryHosts/SmartInventoryHostList.test.jsx
  awx/ui_next/src/screens/Inventory/shared/AddDropdown.jsx
  awx/ui_next/src/screens/Inventory/shared/AddDropdown.test.jsx
  awx/ui_next/src/screens/Inventory/shared/data.relatedGroups.json
Labels: component:ui_next, mergeit, state:needs_test, type:feature

#8424 Autofix dependencies
  awx/ui_next/package-lock.json
  awx/ui_next/package.json
Labels: component:ui_next, mergeit, state:needs_test

#7976 add missing creds types to tower_credential module
  awx_collection/plugins/modules/tower_credential.py
Labels: component:awx_collection, mergeit, type:bug

#8434 Add support for Kubernetes Pod annotations
  installer/roles/kubernetes/templates/deployment.yml.j2
Labels: component:installer, mergeit, type:enhancement

#8436 Improve handling of 0 and negative thresholds in the profile_sql command
  awx/main/management/commands/profile_sql.py
  awx/main/tasks.py
Labels: component:api, mergeit, type:bug

#8438 Update Doc String for tower_credential Module "Kind" Choices
  awx_collection/plugins/modules/tower_credential.py
Labels: component:awx_collection, mergeit

#8431 Move to rhel8 PG10 container for persistent PG
  installer/roles/kubernetes/tasks/backup.yml
  installer/roles/kubernetes/tasks/main.yml
  installer/roles/kubernetes/tasks/restore.yml
  installer/roles/kubernetes/templates/postgresql-persistent.yml.j2
Labels: mergeit

#8442 Revert "Kind" Choice from 'satellite' to 'satellite6'
  awx_collection/plugins/modules/tower_credential.py
Labels: component:awx_collection, mergeit

#8441 Rename users and access tabs
  awx/ui_next/src/screens/User/User.jsx
  awx/ui_next/src/screens/User/UserAccess/index.js
  awx/ui_next/src/screens/User/UserRoles/UserRolesList.jsx
  awx/ui_next/src/screens/User/UserRoles/UserRolesList.test.jsx
  awx/ui_next/src/screens/User/UserRoles/UserRolesListItem.jsx
  awx/ui_next/src/screens/User/UserRoles/UserRolesListItem.test.jsx
  awx/ui_next/src/screens/User/UserRoles/index.js
  awx/ui_next/src/screens/User/Users.jsx
Labels: component:ui_next, mergeit

#8433 Expose the SCM Branch name in the playbook environment
  awx/main/models/jobs.py
Labels: component:api, mergeit, type:enhancement

#8449 allow labelling docker web container
  installer/roles/local_docker/templates/docker-compose.yml.j2
Labels: component:installer, mergeit, type:enhancement

#8457 merge in some downstream bug fixes
  awx/main/management/commands/check_migrations.py
  awx/main/management/commands/graph_jobs.py
  awx/main/scheduler/task_manager.py
  awx/settings/development.py
  awx/settings/production.py
  awx/ui/client/src/license/license.partial.html
  awx/ui/po/ansible-tower-ui.pot
  awx/ui/po/es.po
  awx/ui/po/fr.po
  awx/ui/po/ja.po
  awx/ui/po/nl.po
  awx/ui/po/zh.po
  awxkit/awxkit/cli/custom.py
  docs/debugging.md
  docs/licenses/asciichartpy.txt
  requirements/requirements.in
  requirements/requirements.txt
Labels: mergeit

#8345 add support for wait of project_updates jobs, inventory_update, and w…
  awx_collection/plugins/modules/tower_job_wait.py
  awx_collection/tests/integration/targets/tower_job_wait/tasks/main.yml
Labels: component:awx_collection, mergeit, type:enhancement

#8419 Fix integer/float errors in survey
  awx/ui_next/src/components/LaunchPrompt/steps/SurveyStep.jsx
  awx/ui_next/src/screens/Template/Survey/SurveyQuestionForm.jsx
  awx/ui_next/src/util/validators.jsx
  awx/ui_next/src/util/validators.test.js
Labels: component:ui_next, mergeit, qe:hit, state:needs_devel, type:bug

#8394 centralize reusable profiling code
  awx/main/dispatch/worker/callback.py
  awx/main/middleware.py
  awx/main/utils/profiling.py
  docs/debugging.md
Labels: mergeit

#8447 related #7665 added 400 if user attempts an edit to local_path in a SCM project
  awx/api/serializers.py
  awx/main/tests/functional/api/test_project.py
Labels: component:api, mergeit, type:bug

#8462 cast create_preload_data to boolean with `create_preload_data | bool` in launch_awx_task.sh.j2
  installer/roles/image_build/templates/launch_awx_task.sh.j2
Labels: component:installer, mergeit, type:bug

#8430 Merges 2 tool bar add buttons that use dropdowns
  awx/ui_next/src/api/models/WorkflowJobTemplates.js
  awx/ui_next/src/components/AddDropDownButton/AddDropDownButton.jsx
  awx/ui_next/src/components/AddDropDownButton/AddDropDownButton.test.jsx
  awx/ui_next/src/components/DataListToolbar/DataListToolbar.test.jsx
  awx/ui_next/src/screens/Dashboard/shared/DashboardTemplateList.jsx
  awx/ui_next/src/screens/InstanceGroup/InstanceGroupList/InstanceGroupList.jsx
  awx/ui_next/src/screens/Inventory/InventoryGroupHosts/InventoryGroupHostList.jsx
  awx/ui_next/src/screens/Inventory/InventoryGroupHosts/InventoryGroupHostList.test.jsx
  awx/ui_next/src/screens/Inventory/InventoryGroups/InventoryGroupsList.test.jsx
  awx/ui_next/src/screens/Inventory/InventoryList/InventoryList.jsx
  awx/ui_next/src/screens/Inventory/InventoryRelatedGroups/InventoryRelatedGroupList.jsx
  awx/ui_next/src/screens/Inventory/shared/AddDropdown.jsx
  awx/ui_next/src/screens/Inventory/shared/AddDropdown.test.jsx
  awx/ui_next/src/screens/Template/TemplateList/TemplateList.jsx
Labels: component:ui_next, mergeit

#8466 update inventory sync failure count to look at correct data
  awx/ui_next/src/screens/Dashboard/Dashboard.jsx
Labels: component:ui_next, mergeit, qe:hit, state:needs_test

#8471 fix a minor bug introduced in Project save validation
  awx/api/serializers.py
Labels: mergeit

#8479 fix malformed user details link in toolbar
  awx/ui_next/src/components/AppContainer/PageHeaderToolbar.jsx
Labels: mergeit, state:needs_test

#8476 fix issue where adding a search tag could cause an error
  awx/ui_next/src/components/Search/Search.jsx
Labels: component:ui_next, mergeit, qe:regression, type:bug

#8489 Update Logic for workflow node creation/deletion
  awx_collection/plugins/modules/tower_workflow_job_template_node.py
  awx_collection/tests/integration/targets/tower_workflow_job_template/tasks/main.yml
Labels: component:awx_collection, mergeit, type:bug

#8468 Fix username as a required field
  awx/ui_next/src/screens/User/shared/UserForm.jsx
  awx/ui_next/src/screens/User/shared/UserForm.test.jsx
Labels: component:ui_next, mergeit

#8509 Abolish Daylight Savings Time
  awx/main/tests/functional/api/test_schedules.py
Labels: mergeit

#8496 Add empty child group to inventory groups before adding it to the parent group
  awx_collection/plugins/inventory/tower.py
Labels: component:api, component:awx_collection, mergeit, type:bug

#8506 merge in some downstream changes
  .gitignore
  Makefile
  awx/api/generics.py
  awx/api/urls/urls.py
  awx/api/views/__init__.py
  awx/api/views/root.py
  awx/conf/license.py
  awx/conf/migrations/0008_subscriptions.py
  awx/conf/migrations/_subscriptions.py
  awx/conf/models.py
  awx/main/analytics/collectors.py
  awx/main/analytics/core.py
  awx/main/analytics/metrics.py
  awx/main/conf.py
  awx/main/management/commands/check_license.py
  awx/main/management/commands/inventory_import.py
  awx/main/notifications/webhook_backend.py
  awx/main/tasks.py
  awx/main/tests/functional/api/test_settings.py
  awx/main/tests/functional/core/test_licenses.py
  awx/main/tests/functional/test_licenses.py
  awx/main/tests/unit/test_tasks.py
  awx/main/utils/common.py
  awx/main/utils/licensing.py
  awx/ui/client/src/configuration/forms/settings-form.route.js
  awx/ui/client/src/inventories-hosts/inventories/related/sources/add/sources-add.controller.js
  awx/ui/client/src/inventories-hosts/inventories/related/sources/edit/sources-edit.controller.js
  awx/ui/client/src/inventories-hosts/inventories/related/sources/sources.form.js
  awx/ui/client/src/license/checkLicense.factory.js
  awx/ui/client/src/license/license.controller.js
  awx/ui/client/src/license/license.partial.html
  awx/ui/client/src/license/license.route.js
  awx/ui/client/src/shared/config/config.service.js
  awx/ui/test/spec/license/license.controller-test.js
  awx_collection/plugins/modules/tower_instance_group.py
  awx_collection/plugins/modules/tower_license.py
  awx_collection/tools/roles/template_galaxy/tasks/main.yml
  awxkit/awxkit/api/pages/api.py
  awxkit/awxkit/api/pages/config.py
  awxkit/awxkit/api/pages/inventory.py
  awxkit/awxkit/api/resources.py
  requirements/updater.sh
Labels: mergeit
