Repository ansible/awx, pull requests merged in 2023-11, with the labels that each got.

#14620 Re-do for PR #14595 to fix CI issues.
  docs/docsite/rst/administration/authentication_timeout.rst
  docs/docsite/rst/administration/clustering.rst
  docs/docsite/rst/administration/configure_awx.rst
  docs/docsite/rst/administration/containers_instance_groups.rst
  docs/docsite/rst/administration/ent_auth.rst
  docs/docsite/rst/administration/instances.rst
  docs/docsite/rst/common/logos_branding.rst
Labels: component:docs

#14623 Fix wsrelay connection in ipv6 environments
  awx/main/wsrelay.py
Labels: component:api

#14577 Update insights.rst
  docs/docsite/rst/userguide/insights.rst
Labels: component:docs, community, Hacktoberfest

#14604 Fix: #14523 Add alt-text codeblock to Images for workflow_template.rst
  docs/docsite/rst/userguide/workflow_templates.rst
Labels: component:docs, community, Hacktoberfest

#14639 Added alt text for settings-menu.rst
  docs/docsite/rst/common/settings-menu.rst
Labels: component:docs

#14607 Docs: Include REST API reference content from swagger.json
  docs/docsite/conf.py
  docs/docsite/rst/rest_api/_swagger/awx-rest-api.css
  docs/docsite/rst/rest_api/_swagger/download-json.py
  docs/docsite/rst/rest_api/api_ref.rst
  docs/docsite/rst/rest_api/index.rst
  tox.ini
Labels: component:docs, community

#14651 Setting credential_type as required
  awx_collection/plugins/modules/credential.py
  awx_collection/tests/integration/targets/credential/tasks/main.yml
Labels: component:awx_collection, community

#14647 Replaced with larger graphic.
  docs/docsite/rst/common/images/instances_list_view.png
Labels: component:docs

#14648 Correctly handle case where unpartitioned table does not exist
  awx/api/views/__init__.py
Labels: component:api

#14584 Set subscription type as developer for developer subscriptions.
  awx/main/utils/licensing.py
Labels: component:api, needs_triage, community

#14665 issue #14653 heading does not render correctly
  docs/docsite/rst/userguide/workflow_templates.rst
Labels: component:docs, community

#14646 Adding the possibility to decode base64 decoded strings to Delinea's Devops Secret Vault (DSV)
  awx/main/credential_plugins/dsv.py
Labels: component:api, community

#14659 Added missing pointers to release notes
  docs/docsite/rst/release_notes/relnotes.rst
Labels: component:docs

#14668 Remove unused methods we attach to user model
  awx/main/access.py
  awx/main/models/__init__.py
  awx/main/tests/functional/test_rbac_user.py
Labels: component:api

#14492 Update RBAC docs, remove unused get_permissions
  awx/main/models/__init__.py
  awx/main/models/mixins.py
  docs/rbac.md
Labels: component:api, component:docs

#14669 Upgrade doc requirements
  docs/docsite/requirements.txt
  tox.ini
Labels: component:docs, dependencies, community

#14663 allow pytest --migrations to succeed
  .github/workflows/ci.yml
  Makefile
  awx/main/migrations/0006_v320_release.py
  awx/main/migrations/0050_v340_drop_celery_tables.py
  awx/main/migrations/0113_v370_event_bigint.py
  awx/main/migrations/0144_event_partitions.py
  awx/main/migrations/0185_move_JSONBlob_to_JSONField.py
  awx/main/migrations/0186_drop_django_taggit.py
  awx/main/migrations/_sqlite_helper.py
  awx/main/tests/functional/test_migrations.py
  requirements/requirements_dev.txt
Labels: component:api, dependencies
