Repository ansible/awx, pull requests merged in 2023-01, with the labels that each got.

#12961 Result_traceback should not include job stdout
  awx/main/tasks/receptor.py
Labels: component:api

#13372 Fix for Save button not responding on Job Settings page
  awx/ui/src/screens/Setting/Jobs/JobsEdit/JobsEdit.js
  awx/ui/src/screens/Setting/Jobs/JobsEdit/JobsEdit.test.js
  awx/ui/src/screens/Setting/shared/SharedFields.js
Labels: component:ui

#13400 [bulk job launch] move urls around to match bulk host create PR
  awx/api/serializers.py
  awx/api/urls/urls.py
  awx/api/views/__init__.py
  awx/api/views/root.py
Labels: component:api

#13194 Adds support for exact name searching against related fields to the ui
  awx/ui/src/components/Search/AdvancedSearch.test.js
  awx/ui/src/components/Search/RelatedLookupTypeInput.js
Labels: component:ui

#13403 Fix console color logs
  awx/main/utils/handlers.py
Labels: component:api

#13075 Fix gap between API-loaded job events and WS-streamed events
  awx/ui/src/screens/Job/JobOutput/JobOutput.js
Labels: component:ui

#13410 [bulk job launch feature] Move view around and inherit from right view to get OPTIONS
  awx/api/serializers.py
  awx/api/templates/api/bulk_job_launch_view.md
  awx/api/templates/api/bulk_view.md
  awx/api/urls/urls.py
  awx/api/views/__init__.py
  awx/api/views/bulk.py
Labels: component:api

#13342 Fixing bug in LDAP reconcile loop
  awx/sso/backends.py
Labels: component:api

#13351 add logging to situation in which project lock file is locked
  awx/main/tasks/jobs.py
Labels: component:api, community

#13367 Conditionally query /health_check endpoint for execution node only.
  awx/ui/src/screens/InstanceGroup/InstanceDetails/InstanceDetails.js
Labels: component:ui

#13374 added fix for preserve existing children issue.
  awx_collection/plugins/modules/group.py
Labels: component:awx_collection

#13262 Prepopulates job template form with related resource
  awx/ui/src/components/RelatedTemplateList/RelatedTemplateList.js
  awx/ui/src/components/RelatedTemplateList/relatedTemplateHelpers.js
  awx/ui/src/screens/Credential/Credential.js
  awx/ui/src/screens/Credential/Credential.test.js
  awx/ui/src/screens/Inventory/Inventory.js
  awx/ui/src/screens/Project/Project.js
  awx/ui/src/screens/Template/JobTemplateAdd/JobTemplateAdd.js
  awx/ui/src/screens/Template/JobTemplateAdd/JobTemplateAdd.test.js
  awx/ui/src/screens/Template/shared/JobTemplateForm.js
Labels: component:ui

#12832 Allow metrics collection for anonymous users via settings
  awx/api/conf.py
  awx/api/views/metrics.py
  awx/settings/defaults.py
Labels: component:api, community

#13444 Update to include pip install command and PyPI link. related #13179
  awxkit/README.md
Labels: component:cli, community

#13433 Retry HashiCorp Vault requests on HTTP 412
  awx/main/credential_plugins/hashivault.py
Labels: component:api, community

#13303 [constructed-inventory] Constructed inventory as alternative to smart inventory
  awx/api/serializers.py
  awx/api/urls/inventory.py
  awx/api/views/inventory.py
  awx/main/migrations/0175_constructed_inventory.py
  awx/main/models/inventory.py
  awx/main/tasks/jobs.py
  awx/main/tests/functional/models/test_inventory.py
  awx/settings/defaults.py
Labels: component:api

#13398 Workaround for events with NUL char, touch up error loop
  awx/main/dispatch/worker/callback.py
  awx/main/tests/functional/commands/test_callback_receiver.py
Labels: component:api

#13449 [constructed-inventory] pushing limit to inventory sources
  awx/main/migrations/0175_constructed_inventory.py
  awx/main/models/inventory.py
  awx/main/tasks/jobs.py
Labels: component:api

#12721 Handles workflow node schema inventory
  awx_collection/plugins/modules/workflow_job_template.py
Labels: component:awx_collection, community

#13456 added 'limit' to InventorySourceSerializer
  awx/api/serializers.py
Labels: component:api

#13210 Deprecate tower modules
  awx_collection/meta/runtime.yml
  awx_collection/plugins/modules/tower_ad_hoc_command.py
  awx_collection/plugins/modules/tower_ad_hoc_command_cancel.py
  awx_collection/plugins/modules/tower_ad_hoc_command_wait.py
  awx_collection/plugins/modules/tower_application.py
  awx_collection/plugins/modules/tower_controller_meta.py
  awx_collection/plugins/modules/tower_credential.py
  awx_collection/plugins/modules/tower_credential_input_source.py
  awx_collection/plugins/modules/tower_credential_type.py
  awx_collection/plugins/modules/tower_execution_environment.py
  awx_collection/plugins/modules/tower_export.py
  awx_collection/plugins/modules/tower_group.py
  awx_collection/plugins/modules/tower_host.py
  awx_collection/plugins/modules/tower_import.py
  awx_collection/plugins/modules/tower_instance_group.py
  awx_collection/plugins/modules/tower_inventory.py
  awx_collection/plugins/modules/tower_inventory_source.py
  awx_collection/plugins/modules/tower_inventory_source_update.py
  awx_collection/plugins/modules/tower_job_cancel.py
  awx_collection/plugins/modules/tower_job_launch.py
  awx_collection/plugins/modules/tower_job_list.py
  awx_collection/plugins/modules/tower_job_template.py
  awx_collection/plugins/modules/tower_job_wait.py
  awx_collection/plugins/modules/tower_label.py
  awx_collection/plugins/modules/tower_license.py
  awx_collection/plugins/modules/tower_notification_template.py
  awx_collection/plugins/modules/tower_organization.py
  awx_collection/plugins/modules/tower_project.py
  awx_collection/plugins/modules/tower_project_update.py
  awx_collection/plugins/modules/tower_role.py
  awx_collection/plugins/modules/tower_schedule.py
  awx_collection/plugins/modules/tower_settings.py
  awx_collection/plugins/modules/tower_team.py
  awx_collection/plugins/modules/tower_token.py
  awx_collection/plugins/modules/tower_user.py
  awx_collection/plugins/modules/tower_workflow_approval.py
  awx_collection/plugins/modules/tower_workflow_job_template.py
  awx_collection/plugins/modules/tower_workflow_job_template_node.py
  awx_collection/plugins/modules/tower_workflow_launch.py
  awx_collection/plugins/modules/tower_workflow_node_wait.py
  awx_collection/plugins/modules/workflow_job_template.py
  awx_collection/plugins/modules/workflow_job_template_node.py
  awx_collection/tools/roles/template_galaxy/templates/README.md.j2
Labels: component:awx_collection

#13458 [bulk job launch feature]add some helpers functions in validate and some other minor fixes
  awx/api/serializers.py
  awx/main/access.py
Labels: component:api, community

#13464 move limit field from InventorySource to InventorySourceOption serializer
  awx/api/serializers.py
Labels: component:api

#13424 Loglevel Adjustments
  awx/main/management/commands/run_heartbeet.py
  awx/main/management/commands/run_wsrelay.py
  awx/main/wsrelay.py
Labels: component:api

#13463 [constructed-inventory] Add views and serializers for special constructed inventory endpoints
  awx/api/serializers.py
  awx/api/urls/inventory.py
  awx/api/urls/urls.py
  awx/api/views/inventory.py
  awx/api/views/root.py
  awx/main/tests/functional/api/test_inventory.py
Labels: component:api

#13470 [constructed-inventory] adding limit to inventory_source collection module
  awx_collection/plugins/modules/inventory_source.py
Labels: component:awx_collection

#13430 Fix bug in LDAP adapter where the remove flag was not being respected for org/team membership when False
  awx/sso/backends.py
Labels: component:api, community, community pull request

#13474 [constructed-inventory] Use control plane EE for constructed inventory and hack temporary image
  awx/main/models/inventory.py
  awx/settings/defaults.py
  awxkit/awxkit/api/pages/inventory.py
  awxkit/awxkit/api/resources.py
Labels: component:api, component:cli

#13487 [constructed-inventory] Add constructed inventory docs and do minor field updates
  awx/api/serializers.py
  awx/main/models/inventory.py
  docs/deprecated/inventory_refresh.md
  docs/inventory/constructed_inventory.md
Labels: component:api, component:docs

#13450 Re-add workflow approval bulk actions to workflow approvals list
  awx/ui/src/screens/WorkflowApproval/WorkflowApprovalList/WorkflowApprovalList.js
  awx/ui/src/screens/WorkflowApproval/WorkflowApprovalList/WorkflowApprovalListApproveButton.js
  awx/ui/src/screens/WorkflowApproval/WorkflowApprovalList/WorkflowApprovalListApproveButton.test.js
  awx/ui/src/screens/WorkflowApproval/WorkflowApprovalList/WorkflowApprovalListDenyButton.js
  awx/ui/src/screens/WorkflowApproval/WorkflowApprovalList/WorkflowApprovalListDenyButton.test.js
Labels: component:ui

#13490 Update "one or more" fields in SAML documentation.
  docs/auth/saml.md
Labels: component:docs

#13483 add '--order_by' option to awx CLI
  awxkit/awxkit/cli/options.py
Labels: component:cli, community

#13379 Fix verbosity parameter choices for ad_hoc_command module
  awx_collection/plugins/modules/ad_hoc_command.py
Labels: component:awx_collection, community

#13489 adding new management command to allow failsafe enabling of local auth
  awx/main/management/commands/enable_local_authentication.py
Labels: component:api

#13473 Fix syntax bug that came from fixing sanity tests
  awx_collection/plugins/lookup/schedule_rruleset.py
Labels: component:awx_collection

#13455 Fixes #13439 Add exception handling for `/api` on url
  awx/main/credential_plugins/conjur.py
Labels: component:api, community
