Repository ansible/awx, pull requests merged in 2023-10, with the labels that each got.

#14055 DROP unnecessary unpartioned event tables
  awx/main/management/commands/cleanup_jobs.py
Labels: component:api

#14441 Fixed wrong arguments order in DomainPasswordGrantAuthorizer
  awx/main/credential_plugins/tss.py
Labels: component:api, community

#14491 Updated Forum terminology and removed mailing list
  docs/docsite/rst/contributor/index.rst
  docs/docsite/rst/contributor/intro.rst
  docs/docsite/rst/contributor/report_issues.rst
  docs/docsite/rst/contributor/work_items.rst
  docs/docsite/rst/release_notes/index.rst
Labels: component:docs

#14507 Fix : #14490 Fixed the required spelling errors
  docs/docsite/rst/userguide/credentials.rst
  docs/docsite/rst/userguide/glossary.rst
  docs/docsite/rst/userguide/inventories.rst
  docs/docsite/rst/userguide/notifications.rst
  docs/docsite/rst/userguide/project-sign.rst
Labels: component:docs, community, Hacktoberfest

#14399 Fix #12815 Direct links to AWX do not reroute the user after authentication
  awx/ui/src/contexts/Session.js
  awx/ui/src/screens/Login/Login.js
Labels: component:ui, community

#14519 Fix collection test flake due to successful canceled command
  awx_collection/tests/integration/targets/ad_hoc_command_wait/tasks/main.yml
Labels: component:awx_collection

#14542 Update setting_up.rst
  docs/docsite/rst/contributor/setting_up.rst
Labels: component:docs, community

#14526 Fix: #14499 Added alt text to images for Userguide: applications_auth.rst
  docs/docsite/rst/userguide/applications_auth.rst
Labels: component:docs, community, Hacktoberfest

#14543 Set ip_address to empty string
  awx/main/managers.py
Labels: component:api

#14527 Fix: #14500 Added alt text to images for Userguide: credential_plugins.rst
  docs/docsite/rst/userguide/credential_plugins.rst
Labels: component:docs, community, Hacktoberfest

#14537 docs: Update workflows.rst
  docs/docsite/rst/userguide/workflows.rst
Labels: component:docs, community, Hacktoberfest

#14530 Fix: #14510 Add alt-text codeblock to Images for Userguide: jobs.rst
  docs/docsite/rst/userguide/jobs.rst
Labels: component:docs, community, Hacktoberfest

#14562 ee_reference.rst: refert to Builder's definition docs instead of duplicating its content
  docs/docsite/rst/userguide/ee_reference.rst
Labels: component:docs, community

#14488 Execution environment image should not be required
  awx_collection/plugins/modules/execution_environment.py
Labels: component:awx_collection, community

#14557 Cleaning SOS report passwords
  tools/sosreport/controller.py
Labels: community

#14362 Upgrade client library for dsv since tss already landed
  awx/main/credential_plugins/dsv.py
  awx/main/tests/functional/test_credential_plugins.py
  licenses/dataclasses.txt
  requirements/requirements.in
  requirements/requirements.txt
Labels: component:api, dependencies

#14412 Add customizable batch_size for cleanup_activitystream and cleanup_jobs
  awx/main/management/commands/cleanup_activitystream.py
  awx/main/management/commands/cleanup_jobs.py
  awx/main/tasks/jobs.py
Labels: component:api, community

#14561 Fix CVE-2023-43665
  requirements/README.md
  requirements/requirements.in
  requirements/requirements.txt
Labels: dependencies

#14556 Added alt-text for images in organizations.rst
  docs/docsite/rst/userguide/organizations.rst
Labels: component:docs, community, Hacktoberfest

#14555 Added alt-text for images in notifications.rst
  docs/docsite/rst/userguide/notifications.rst
Labels: component:docs, community, Hacktoberfest

#14572 AAP-16926 Delete unpartitioned tables in a separate transaction
  awx/main/management/commands/cleanup_jobs.py
Labels: component:api

#14545 added alt-text in project-sign.rst
  docs/docsite/rst/userguide/project-sign.rst
Labels: component:docs, community, Hacktoberfest

#14540 docs: Update security.rst
  docs/docsite/rst/userguide/security.rst
Labels: component:docs, community, Hacktoberfest

#14538 docs: Update users.rst
  docs/docsite/rst/userguide/users.rst
Labels: component:docs, community, Hacktoberfest

#14541 Adding alt text for image
  docs/docsite/rst/userguide/job_branching.rst
Labels: component:docs, community, Hacktoberfest

#14587 [DOCS] EE guide: fix a ref to Get started with EE
  docs/docsite/rst/userguide/execution_environments.rst
Labels: component:docs, community

#14592 Corrected missing text replacement directives
  docs/docsite/rst/userguide/users.rst
Labels: component:docs

#14544 added alt-text in projects.rst
  docs/docsite/rst/userguide/projects.rst
Labels: component:docs, community, Hacktoberfest

#14548 Add alt text for image directives in job_templates.rst
  docs/docsite/rst/userguide/job_templates.rst
Labels: component:docs, community, Hacktoberfest

#14593 Remove specific version for receptorctl
  requirements/requirements.in
  requirements/requirements.txt
Labels: dependencies

#14549 Add alt text for image directives in job_capacity.rst & job_slices.rst
  docs/docsite/rst/userguide/job_capacity.rst
  docs/docsite/rst/userguide/job_slices.rst
Labels: component:docs, community, Hacktoberfest

#14550 Add alt text for image directives in credentials.rst
  docs/docsite/rst/userguide/credentials.rst
Labels: component:docs, community, Hacktoberfest

#14568 Format constructed inventory hint example as valid YAML
  awx/ui/src/screens/Inventory/shared/ConstructedInventoryHint.js
  awx/ui/src/screens/Inventory/shared/ConstructedInventoryHint.test.js
Labels: component:ui

#14551 Add alt text for image directives in credential_types.rst
  docs/docsite/rst/userguide/credential_types.rst
Labels: component:docs, community, Hacktoberfest

#14571 Adds alt text to instance_groups.rst images
  docs/docsite/rst/userguide/instance_groups.rst
Labels: component:docs, community, Hacktoberfest

#14576 Alt text for Execution Env section of Userguide
  docs/docsite/rst/userguide/execution_environments.rst
Labels: component:docs, community, Hacktoberfest

#14449 Pip compile docsite requirements
  .pip-tools.toml
  docs/docsite/requirements.in
  docs/docsite/requirements.txt
  tox.ini
Labels: component:docs, community

#14493 Fix Boolean values defaulting to False in collection
  awx_collection/plugins/module_utils/controller_api.py
  awx_collection/tests/integration/targets/host/tasks/main.yml
  awx_collection/tests/integration/targets/schedule/tasks/main.yml
Labels: component:awx_collection

#14598 Typo in export.py example
  awx_collection/plugins/modules/export.py
Labels: component:awx_collection, community

#14594 Fix: typos inside /docs directory
  docs/bulk_api.md
  docs/capacity.md
  docs/execution_nodes.md
  docs/release_process.md
Labels: component:docs, community

#14585 Fix extra_vars bug in ansible.controller.ad_hoc_command
  awx_collection/plugins/modules/ad_hoc_command.py
  awx_collection/tests/integration/targets/ad_hoc_command/tasks/main.yml
Labels: component:awx_collection

#14601 fix typos in docs/development/minikube.md
  docs/development/minikube.md
Labels: component:docs, community

#14596 Fix missing service account secret in docker-compose-minikube role
  tools/docker-compose-minikube/minikube/tasks/main.yml
  tools/docker-compose-minikube/minikube/templates/rbac.yml.j2
Labels: community

#14340 Fix DevOps Secrets Vault credential plugin
  awx/main/credential_plugins/dsv.py
Labels: component:api, community, needs_developer

#14469 Fix bug that prevented dispatcher exit with downed DB
  awx/main/tasks/signals.py
  awx/main/tests/unit/tasks/test_signals.py
Labels: component:api

#14603 Send notifications for dependency failures
  awx/main/scheduler/task_manager.py
  awx/main/tasks/jobs.py
  awx/main/tasks/system.py
  awx/main/tests/functional/test_tasks.py
  awx/main/tests/unit/test_tasks.py
Labels: component:api

#14613 Update receptor-collection version to 2.0.2
  awx/api/templates/instance_install_bundle/requirements.yml
Labels: component:api

#14608 Fix cancel bug - WorkflowManager cancel in transaction
  awx/main/dispatch/control.py
  awx/main/dispatch/worker/base.py
  awx/main/models/unified_jobs.py
Labels: component:api

#14532 [rsyslog] remove main_queue, add more action queue params
  awx/main/conf.py
  awx/main/tests/unit/api/test_logger.py
  awx/main/utils/external_logging.py
  awx/settings/defaults.py
  awx/ui/src/screens/Setting/Logging/Logging.test.js
  awx/ui/src/screens/Setting/Logging/LoggingEdit/LoggingEdit.test.js
  awx/ui/src/screens/Setting/shared/data.allSettingOptions.json
  awx/ui/src/screens/Setting/shared/data.allSettings.json
  awx/ui/src/screens/Setting/shared/data.logSettings.json
Labels: component:api, component:ui
