Repository ansible/awx, pull requests merged in 2024-11, with the labels that each got.

#15604 fix: increase max verbosity level for constructed inventory
  awx/api/serializers.py
Labels: component:api, community

#15610 Fix bug where unrelated jobs were linked as dependencies
  awx/main/scheduler/task_manager.py
  awx/main/tests/functional/task_management/test_scheduler.py
Labels: component:api

#15606 Removed oAuth methods from collection docs.
  awx_collection/TESTING.md
  awx_collection/test/awx/test_token.py
  awx_collection/tools/roles/template_galaxy/templates/README.md.j2
Labels: component:awx_collection

#15602 Updated Authentication section to reflect AWX only method.
  awxkit/awxkit/cli/docs/source/authentication.rst
Labels: component:cli

#15615 Metrics dispatcher callback receiver swaparoo
  awx/main/analytics/subsystem_metrics.py
Labels: component:api

#15617 feat: install awx collection from source
  tools/docker-compose/ansible/requirements.yml
Labels: community

#15626 Fix for 'relation "social_auth_usersocialauth" does not exist' error
  licenses/defusedxml.txt
  licenses/python3-openid.txt
  licenses/social-auth-app-django.txt
  licenses/social-auth-core.txt
  requirements/requirements.txt
Labels: dependencies

#15625 Make lookup plugins return lists to fix failures
  awx_collection/README.md
  awx_collection/plugins/lookup/schedule_rrule.py
  awx_collection/plugins/lookup/schedule_rruleset.py
  awx_collection/test/awx/test_schedule.py
  awx_collection/tests/integration/targets/lookup_rruleset/tasks/main.yml
  awx_collection/tests/integration/targets/schedule_rrule/tasks/main.yml
  awx_collection/tools/roles/template_galaxy/templates/README.md.j2
Labels: component:awx_collection

#15629 Set coverage limits so we do not have current failures
  .codecov.yml
Labels: type:bug

#15609 fix: invalid response type on post request
  awx/api/generics.py
  awx/main/tests/functional/api/test_auth.py
Labels: component:api, community

#15635 Add test that resource list does not server error
  awx/main/tests/functional/dab_resource_registry/test_resource_list.py
Labels: component:api

#15642 Fix error with CLI monitor of ad hoc output
  awxkit/awxkit/cli/custom.py
Labels: component:cli

#15639 Add option to skip credential type discovery
  awx/main/apps.py
Labels: component:api

#15623 feat: remove collection support for oauth
  awx_collection/README.md
  awx_collection/TESTING.md
  awx_collection/meta/runtime.yml
  awx_collection/plugins/doc_fragments/auth.py
  awx_collection/plugins/doc_fragments/auth_plugin.py
  awx_collection/plugins/lookup/controller_api.py
  awx_collection/plugins/module_utils/awxkit.py
  awx_collection/plugins/module_utils/controller_api.py
  awx_collection/plugins/modules/application.py
  awx_collection/plugins/modules/token.py
  awx_collection/test/awx/test_application.py
  awx_collection/test/awx/test_completeness.py
  awx_collection/test/awx/test_organization.py
  awx_collection/tests/integration/targets/application/tasks/main.yml
  awx_collection/tests/integration/targets/token/tasks/main.yml
  awx_collection/tests/integration/targets/user/tasks/main.yml
  awx_collection/tools/roles/generate/templates/module.j2
  awx_collection/tools/roles/template_galaxy/templates/README.md.j2
Labels: component:awx_collection, community

#15601 Make rrule fast forwarding stable
  awx/main/models/schedules.py
  awx/main/tests/functional/models/test_schedule.py
  awx/main/tests/unit/utils/test_schedule_fast_forward.py
Labels: component:api

#15655 Do not check error state if null
  awx/conf/settings.py
Labels: component:api

#15643 Add descriptions for plugin names
  awx/api/serializers.py
  awx/main/utils/plugins.py
Labels: component:api

#15668 add custom 404 page
  docs/docsite/rst/404.rst
  docs/docsite/rst/images/cow.png
Labels: component:docs, community
