Repository ansible/awx, pull requests merged in 2024-07, with the labels that each got.

#15312 Fix server error from DAB ValidationError with strings
  awx/api/generics.py
  awx/main/tests/functional/dab_rbac/test_dab_rbac_api.py
Labels: component:api

#15309 Add better error message for wfjt create 403
  awx/api/views/__init__.py
  awx/main/access.py
  awx/main/tests/functional/test_rbac_workflow.py
Labels: component:api

#15307 Add better 403 error message for Job template create
  awx/api/views/__init__.py
  awx/main/access.py
  awx/main/tests/functional/test_rbac_job_templates.py
Labels: component:api

#15299 Added new OpenShift Virtualization inventory source to docs.
  docs/docsite/rst/common/images/inventories-create-source-ocpvirt-example.png
  docs/docsite/rst/userguide/inventories.rst
Labels: component:docs

#15318 Add in missing read permissions for organization audit role
  awx/main/migrations/_dab_rbac.py
  awx/main/models/rbac.py
  awx/main/tests/functional/dab_rbac/test_access_regressions.py
  awx/main/tests/functional/dab_rbac/test_translation_layer.py
Labels: component:api

#15296 Prevent assigning credential to user of other org
  awx/main/models/credential/__init__.py
  awx/main/tests/functional/dab_rbac/test_dab_rbac_api.py
Labels: component:api

#15320 Fix server error assigning teams EE object roles
  awx/main/models/execution_environments.py
  awx/main/tests/functional/test_rbac_execution_environment.py
Labels: component:api

#15321 Add complete test that we have analogs to old versions of roles, fix some mismatches
  awx/main/migrations/_dab_rbac.py
  awx/main/tests/functional/dab_rbac/test_translation_layer.py
Labels: component:api

#15331 Do not reference self.messages when it does not exist
  awx/main/access.py
Labels: component:api

#15339 Callback for role assignment
  awx/main/models/credential/__init__.py
Labels: component:api

#15332 Added note to API guide for filtering exact matches
  docs/docsite/rst/rest_api/filtering.rst
Labels: component:docs

#15346 Update ActivityStream UI query to order by id
  awx/ui/src/screens/ActivityStream/ActivityStream.js
Labels: component:ui

#15337 Log conflicts and created items by the periodic resource sync
  awx/main/tasks/system.py
Labels: component:api

#15348 Fix EE admin not being able to PATCH/PUT object while providing `organization`
  awx/main/access.py
  awx/main/tests/functional/test_rbac_execution_environment.py
Labels: component:api

#15352 Fix command to set db session timeout for locks
  awx/main/utils/pglock.py
Labels: component:api

#15353 Check member of org when granting cred
  awx/main/models/credential/__init__.py
  awx/main/tests/functional/dab_rbac/test_dab_rbac_api.py
Labels: component:api

#15355 Fix task ending in error due to bad iterator
  awx/main/tasks/system.py
Labels: component:api

#15369 Updated the api file to reflect 2024 date
  awx/templates/rest_framework/api.html
Labels: component:api

#15357 update terminology
  docs/docsite/rst/administration/configure_awx.rst
  docs/docsite/rst/common/logos_branding.rst
  docs/docsite/rst/rest_api/authentication.rst
  docs/docsite/rst/userguide/overview.rst
  docs/docsite/rst/userguide/rbac.rst
Labels: component:docs, community

#15374 Allow deleting org of a running workflow job
  awx/main/models/rbac.py
  awx/main/tests/functional/test_rbac_organization.py
Labels: component:api

#15349 Update docs replacements to AWX
  docs/docsite/conf.py
Labels: component:docs, community

#15276 create receptor group if missing
  awx/api/templates/instance_install_bundle/install_receptor.yml
Labels: component:api, community

#15367 Fix test_url_base_defaults_to_request to reference local host instead…
  awx/api/metadata.py
  awx/main/models/notifications.py
  awx/main/tests/functional/api/test_settings.py
  awx/settings/defaults.py
  awx/ui/src/screens/Host/data.hostFacts.json
  awx/ui/src/screens/Inventory/shared/data.hostFacts.json
  awx/ui/src/screens/Job/shared/data.job.json
  awx/ui/src/screens/Setting/AzureAD/AzureAD.test.js
  awx/ui/src/screens/Setting/AzureAD/AzureADDetail/AzureADDetail.test.js
  awx/ui/src/screens/Setting/AzureAD/AzureADEdit/AzureADEdit.test.js
  awx/ui/src/screens/Setting/GitHub/GitHub.test.js
  awx/ui/src/screens/Setting/GitHub/GitHubDetail/GitHubDetail.test.js
  awx/ui/src/screens/Setting/GitHub/GitHubEnterpriseEdit/GitHubEnterpriseEdit.test.js
  awx/ui/src/screens/Setting/GitHub/GitHubEnterpriseOrgEdit/GitHubEnterpriseOrgEdit.test.js
  awx/ui/src/screens/Setting/GitHub/GitHubEnterpriseTeamEdit/GitHubEnterpriseTeamEdit.test.js
  awx/ui/src/screens/Setting/GitHub/GitHubOrgEdit/GitHubOrgEdit.test.js
  awx/ui/src/screens/Setting/GitHub/GitHubTeamEdit/GitHubTeamEdit.test.js
  awx/ui/src/screens/Setting/GoogleOAuth2/GoogleOAuth2.test.js
  awx/ui/src/screens/Setting/GoogleOAuth2/GoogleOAuth2Detail/GoogleOAuth2Detail.test.js
  awx/ui/src/screens/Setting/GoogleOAuth2/GoogleOAuth2Edit/GoogleOAuth2Edit.test.js
  awx/ui/src/screens/Setting/MiscSystem/MiscSystemDetail/MiscSystemDetail.test.js
  awx/ui/src/screens/Setting/SAML/SAML.test.js
  awx/ui/src/screens/Setting/SAML/SAMLDetail/SAMLDetail.test.js
  awx/ui/src/screens/Setting/SAML/SAMLEdit/SAMLEdit.test.js
  docs/notification_system.md
  docs/tower_configuration.md
  tools/scripts/request_tower_configuration.ps1
Labels: component:api, component:ui, component:docs

#15354 Remove references to translated versions of the docs
  docs/docsite/rst/contributor/work_items.rst
Labels: component:docs, community

#15350 Remove remnants of controller terms from quickstart docs
  docs/docsite/rst/quickstart/create_organization.rst
  docs/docsite/rst/quickstart/create_project.rst
  docs/docsite/rst/quickstart/examine_dashboard.rst
Labels: component:docs, community

#15356 Fix create_preload_data to allow running without an admin user created
  awx/main/management/commands/create_preload_data.py
Labels: component:api

#15385 Update test to conform with new DAB change
  awx/main/tests/functional/dab_rbac/test_dab_rbac_api.py
Labels: component:api

#15384 Loosen up team EE restrictions
  awx/main/access.py
  awx/main/models/execution_environments.py
  awx/main/tests/functional/test_rbac_execution_environment.py
Labels: component:api

#15388 Replaced all references of downstream docs to upstream docs
  .github/triage_replies.md
  awx_collection/README.md
  awx_collection/plugins/lookup/controller_api.py
  awx_collection/plugins/modules/job_template.py
  awx_collection/tools/roles/template_galaxy/templates/README.md.j2
  docs/auth/ldap.md
  docs/auth/saml.md
  docs/docsite/rst/userguide/inventories.rst
  docs/docsite/rst/userguide/job_templates.rst
  docs/tasks.md
  tools/scripts/post_webhook.py
Labels: component:docs, component:awx_collection

#15398 Improve asyncio debugging
  awx/main/analytics/broadcast_websocket.py
  awx/main/wsrelay.py
Labels: component:api

#15408 Added docs for OTel - awx integration
  docs/docsite/rst/administration/logging.rst
Labels: component:docs

#15394 Re-do PR #14685 for alt-text inventories.
  docs/docsite/rst/userguide/inventories.rst
Labels: component:docs
