Repository ansible/awx, pull requests merged in 2024-10, with the labels that each got.

#15547 Remove TACACS+ authentication
  Makefile
  awx/conf/migrations/0011_remove_tacacs_plus_auth_conf.py
  awx/main/tests/functional/api/test_settings.py
  awx/settings/defaults.py
  awx/sso/backends.py
  awx/sso/common.py
  awx/sso/conf.py
  awx/sso/fields.py
  awx/sso/models.py
  awx/sso/tests/conftest.py
  awx/sso/tests/functional/test_common.py
  awx/sso/tests/functional/test_get_or_set_enterprise_user.py
  awx/sso/tests/unit/test_tacacsplus.py
  awx/sso/validators.py
  awxkit/awxkit/api/pages/settings.py
  awxkit/awxkit/api/resources.py
  docs/auth/README.md
  docs/auth/tacacsplus.md
  docs/docsite/rst/administration/configure_awx_authentication.rst
  docs/docsite/rst/administration/ent_auth.rst
  licenses/tacacs-plus.txt
  requirements/requirements.in
  requirements/requirements.txt
  tools/docker-compose/README.md
  tools/docker-compose/ansible/plumb_tacacs.yml
  tools/docker-compose/ansible/roles/sources/templates/docker-compose.yml.j2
  tools/docker-compose/ansible/templates/tacacsplus_settings.json.j2
Labels: component:api, component:docs, component:cli, dependencies, community

#15548 Remove RADIUS authentication
  awx/api/conf.py
  awx/conf/migrations/0011_remove_radius_auth_conf.py
  awx/main/models/__init__.py
  awx/main/tests/functional/api/test_oauth.py
  awx/main/tests/functional/api/test_settings.py
  awx/settings/defaults.py
  awx/sso/backends.py
  awx/sso/common.py
  awx/sso/conf.py
  awx/sso/fields.py
  awx/sso/tests/functional/test_common.py
  awxkit/awxkit/api/pages/settings.py
  awxkit/awxkit/api/resources.py
  docs/auth/README.md
  docs/docsite/rst/administration/configure_awx_authentication.rst
  docs/docsite/rst/administration/ent_auth.rst
  docs/docsite/rst/administration/social_auth.rst
  licenses/django-radius.txt
  licenses/pyrad.txt
  requirements/requirements.in
  requirements/requirements.txt
Labels: component:api, component:docs, component:cli, dependencies, community

#15549 Remove social oauth (Azure, Github, Google)
  awx/api/views/__init__.py
  awx/conf/migrations/0011_remove_social_oauth_conf.py
  awx/main/tests/functional/api/test_settings.py
  awx/settings/defaults.py
  awx/sso/conf.py
  awx/sso/fields.py
  awx/sso/tests/functional/test_common.py
  awxkit/awxkit/api/pages/settings.py
  awxkit/awxkit/api/resources.py
  docs/auth/README.md
  docs/credentials/extract_credentials.md
  docs/docsite/rst/administration/configure_awx_authentication.rst
  docs/docsite/rst/administration/ent_auth.rst
  docs/docsite/rst/administration/social_auth.rst
  docs/docsite/rst/rest_api/authentication.rst
  docs/tower_configuration.md
Labels: component:api, component:docs, component:cli, community

#15565 Removed more mentions about SAML.
  docs/docsite/rst/administration/secret_handling.rst
  docs/docsite/rst/rest_api/authentication.rst
  docs/docsite/rst/userguide/overview.rst
Labels: component:docs

#15562 Fix 500 error due to None data in DAB response
  awx/api/generics.py
  awx/main/tests/functional/api/test_user.py
Labels: component:api

#15569 Remove OIDC
  awx/conf/migrations/0011_remove_oidc_auth_conf.py
  awx/sso/conf.py
  awx/sso/tests/functional/test_common.py
  tools/docker-compose/README.md
  tools/docker-compose/ansible/templates/oidc_settings.json.j2
Labels: component:api

#15568 Remove SAML authentication
  awx/api/conf.py
  awx/api/views/__init__.py
  awx/conf/migrations/0011_remove_saml_auth_conf.py
  awx/conf/tests/functional/test_api.py
  awx/main/conf.py
  awx/main/management/commands/dump_auth_config.py
  awx/main/models/__init__.py
  awx/main/tests/functional/api/test_settings.py
  awx/main/tests/unit/commands/test_dump_auth_config.py
  awx/settings/defaults.py
  awx/sso/backends.py
  awx/sso/common.py
  awx/sso/conf.py
  awx/sso/fields.py
  awx/sso/migrations/0003_convert_saml_string_to_list.py
  awx/sso/migrations/0004_alter_userenterpriseauth_provider.py
  awx/sso/models.py
  awx/sso/saml_pipeline.py
  awx/sso/tests/functional/test_common.py
  awx/sso/tests/functional/test_saml_pipeline.py
  awx/sso/tests/unit/test_fields.py
  awx/sso/tests/unit/test_pipelines.py
  awx/sso/urls.py
  awx/sso/views.py
  awxkit/awxkit/api/pages/settings.py
  awxkit/awxkit/api/resources.py
  docs/auth/README.md
  docs/auth/saml.md
  licenses/lxml.txt
  licenses/python3-saml.txt
  licenses/xmlsec.txt
  requirements/requirements.txt
  requirements/requirements_git.txt
  tools/docker-compose/ansible/plumb_splunk.yml
  tools/docker-compose/ansible/templates/saml_settings.json.j2
Labels: component:api, component:docs, component:cli, dependencies

#15566 Use awx-plugins-shared code from `awx_plugins.interfaces`
  awx/api/generics.py
  awx/main/models/credential.py
  awx/main/tasks/jobs.py
  awx/main/tests/functional/test_inventory_source_injectors.py
  awx/main/tests/unit/test_tasks.py
  awx/main/tests/unit/utils/test_execution_environments.py
  awx/main/utils/execution_environments.py
  awx/main/utils/licensing.py
  awx/ui/urls.py
  licenses/awx_plugins.interfaces.txt
  requirements/requirements_git.txt
Labels: component:api, dependencies

#15554 Update AWX collection to use basic authentication
  awx_collection/plugins/module_utils/controller_api.py
  awx_collection/test/awx/test_build_url.py
Labels: component:awx_collection, community

#15578 Adding podAntiAffinity
  awx/main/utils/execution_environments.py
  awx/settings/defaults.py
Labels: component:api, community

#15579 Prettier DRF pages when using trusted proxy
  awx/api/generics.py
  awx/settings/defaults.py
  awx/templates/rest_framework/api.html
Labels: component:api

#15576 Add gateway support to awxkit
  awxkit/awxkit/api/pages/base.py
  awxkit/awxkit/config.py
  awxkit/test/api/pages/test_base.py
Labels: component:cli

#15596 bump django 4.2.16 to be in line with DAB
  requirements/requirements.in
  requirements/requirements.txt
Labels: dependencies

#15537 Make cloud providers dynamic
  awx/api/serializers.py
  awx/api/views/__init__.py
  awx/main/constants.py
  awx/main/migrations/0198_alter_inventorysource_source_and_more.py
  awx/main/models/__init__.py
  awx/main/models/base.py
  awx/main/models/inventory.py
  awx/main/tests/functional/models/test_inventory.py
  awx/main/tests/functional/test_inventory_source_injectors.py
  awx/main/utils/plugins.py
Labels: component:api

#15317 Add back git requirements as comments & re-run script
  licenses/defusedxml.txt
  licenses/python3-openid.txt
  licenses/social-auth-app-django.txt
  licenses/social-auth-core.txt
  requirements/requirements.txt
  requirements/updater.sh
Labels: dependencies
