Repository ansible/awx, pull requests merged in 2024-04, with the labels that each got.

#15034 Remove json formatter for job lifecycle
  awx/main/models/unified_jobs.py
  awx/main/utils/formatters.py
  awx/settings/defaults.py
Labels: component:api

#15046 Make db password optional for wsrelay
  awx/main/dispatch/__init__.py
  awx/main/wsrelay.py
Labels: component:api

#15052 [RBAC] Fix known issues with backward compatible access_list
  awx/api/generics.py
  awx/api/serializers.py
  awx/main/tests/functional/api/test_resource_access_lists.py
  awx/main/tests/functional/dab_rbac/test_access_list.py
Labels: component:api

#15011 Add tags and skip_tags option to awx.awx.workflow_launch
  awx_collection/plugins/modules/workflow_launch.py
  awx_collection/test/awx/test_workflow_job_template.py
Labels: component:awx_collection, community

#15068 [RBAC] Tweaks to reflect what endpoints are deprecated
  awx/api/generics.py
  awx/api/views/__init__.py
Labels: component:api

#15004 Added docs for terraform credential/inventory source
  docs/docsite/rst/common/images/credentials-create-terraform-credential.png
  docs/docsite/rst/common/images/inventories-create-source-terraform-example.png
  docs/docsite/rst/userguide/credentials.rst
  docs/docsite/rst/userguide/inventories.rst
Labels: component:docs

#15067 [RBAC] Fix bug where team could not be given read_role to other team
  awx/api/views/__init__.py
  awx/main/models/rbac.py
  awx/main/tests/functional/dab_rbac/test_translation_layer.py
  awx/main/tests/functional/test_fixture_factories.py
Labels: component:api

#15078 Remove uneeded drf_reverse overwrite
  awx/api/versioning.py
  awx/main/tests/functional/api/test_auth.py
  awx/main/tests/functional/api/test_oauth.py
Labels: component:api

#15053 Publish amd64 and arm64 awx image on release
  .github/workflows/ci.yml
  .github/workflows/stage.yml
  docs/build_awx_image.md
  tools/ansible/build.yml
  tools/ansible/roles/image_build/defaults/main.yml
  tools/ansible/roles/image_build/tasks/main.yml
  tools/ansible/roles/image_push/defaults/main.yml
  tools/ansible/roles/image_push/tasks/main.yml
Labels: component:docs

#15085 Move named url init out of Middleware init
  awx/main/apps.py
  awx/main/middleware.py
  awx/main/tests/functional/test_named_url.py
  awx/main/utils/named_url_graph.py
Labels: component:api

#15080 Implement optional url prefix the Django way
  awx/api/versioning.py
  awx/main/middleware.py
  awx/settings/defaults.py
  awx/urls.py
Labels: component:api

#15102 Fix failure from DAB
  awx/main/tests/unit/utils/test_filters.py
Labels: component:api

#15103 Use released version of django-radius
  requirements/requirements.in
  requirements/requirements.txt
  requirements/requirements_git.txt
Labels: dependencies

#15106 Update LDAP/SAML config dump command
  awx/main/management/commands/dump_auth_config.py
  awx/main/tests/unit/commands/test_dump_auth_config.py
Labels: component:api

#15055 Support Google credentials on Terraform credentials type
  awx/main/models/credential/__init__.py
  awx/main/models/credential/injectors.py
  awx/main/models/inventory.py
  awx/main/tests/data/inventory/plugins/terraform/env.json
  awx/main/tests/unit/test_tasks.py
Labels: component:api

#15094 Fixed missing fstring from wsrelay logging
  awx/main/wsrelay.py
Labels: component:api, community

#15113 Fix wsrelay connection leak
  awx/main/management/commands/run_wsrelay.py
  awx/main/wsrelay.py
Labels: component:api

#15101 chore: remove repetitive words
  ISSUES.md
  docs/docsite/rst/administration/oauth2_token_auth.rst
  docs/docsite/rst/administration/social_auth.rst
  docs/docsite/rst/administration/tipsandtricks.rst
  tools/docker-compose/README.md
Labels: component:docs, community

#15054 Omit using -X when not needed, and don't default to demonstrating -k
  docs/docsite/rst/administration/oauth2_token_auth.rst
Labels: component:docs, community

#15108 Fix instance peering pagination
  awx/ui/src/screens/Instances/InstancePeers/InstancePeerList.js
Labels: component:ui

#15121 Backports previously approved corrections.
  docs/docsite/rst/administration/ent_auth.rst
  docs/docsite/rst/administration/ldap_auth.rst
  docs/docsite/rst/administration/social_auth.rst
  docs/docsite/rst/userguide/inventories.rst
  docs/docsite/rst/userguide/job_templates.rst
Labels: component:docs

#15138 Fix and test data migration error from DAB RBAC
  awx/main/migrations/_dab_rbac.py
  awx/main/tests/functional/test_migrations.py
Labels: component:api

#15100 Add ability to set SameSite policy for userLoggedIn cookie
  awx/api/generics.py
  awx/settings/defaults.py
  awx/sso/views.py
Labels: component:api, community

#15027 Adding CSRF Validation for schemas
  awx/main/conf.py
  awx/main/migrations/0190_alter_inventorysource_source_and_more.py
Labels: component:api, community

#15128 Stop pre-caching every resource in the system upon import
  awxkit/awxkit/api/pages/api.py
  awxkit/awxkit/api/pages/page.py
Labels: component:cli

#15144 Upgrade DRF
  awx/conf/fields.py
  requirements/requirements.in
  requirements/requirements.txt
Labels: component:api, dependencies

#15152 awx modules wait on event processing finished
  awx_collection/plugins/module_utils/controller_api.py
Labels: component:awx_collection

#15153 Do some aesthetic adjustments to role presentation fields
  awx/main/migrations/_dab_rbac.py
  awx/main/models/rbac.py
  awx/main/tests/functional/api/test_credential.py
  awx/main/tests/functional/conftest.py
  awx/main/tests/functional/dab_rbac/conftest.py
  awx/main/tests/functional/dab_rbac/test_dab_migration.py
  awx/main/tests/functional/dab_rbac/test_dab_rbac_api.py
  awx/main/tests/functional/dab_rbac/test_translation_layer.py
  awx/main/tests/functional/test_rbac_job_templates.py
  awx/settings/defaults.py
Labels: component:api
