Repository ansible/awx, pull requests merged in 2025-05, with the labels that each got.

#15953 [Bug] AAP 42572 database deadlock
  awx/main/models/events.py
  awx/main/tasks/facts.py
  awx/main/tasks/host_metrics.py
  awx/main/tests/functional/test_jobs.py
  awx/main/tests/live/tests/test_host_update_contention.py
  awx/main/tests/unit/models/test_jobs.py
  awx/main/tests/unit/tasks/test_jobs.py
  awx/main/utils/db.py
Labels: component:api

#15914 Bump migration history again
  awx/main/migrations/0198_alter_inventorysource_source_and_more.py
  awx/main/migrations/0199_delete_profile.py
  awx/main/migrations/0200_remove_sso_app_content.py
  awx/main/migrations/0201_alter_inventorysource_source_and_more.py
  awx/main/migrations/0202_alter_oauth2application_unique_together_and_more.py
  awx/main/migrations/0203_delete_token_cleanup_job.py
Labels: component:api

#15947 [Feature] Pre job run OPA policy enforcement
  awx/api/serializers.py
  awx/conf/fields.py
  awx/main/conf.py
  awx/main/exceptions.py
  awx/main/tasks/jobs.py
  awx/main/tasks/policy.py
  awx/main/tests/functional/test_policy.py
  awx/main/tests/unit/test_tasks.py
  awx/settings/defaults.py
  licenses/OPA-python-client.txt
  licenses/aiodns.txt
  licenses/aiofiles.txt
  licenses/brotli.txt
  licenses/pycares.txt
  requirements/requirements.in
  requirements/requirements.txt
Labels: component:api, dependencies

#15966 Add retry loop to deletions in collection tests
  awx_collection/tests/integration/targets/bulk_job_launch/tasks/main.yml
  awx_collection/tests/integration/targets/job_template/tasks/main.yml
  awx_collection/tests/integration/targets/job_wait/tasks/main.yml
  awx_collection/tests/integration/targets/role/tasks/main.yml
  awx_collection/tests/integration/targets/schedule/tasks/main.yml
Labels: component:awx_collection

#15938 Race condition and refactoring for facts tests
  awx/main/tests/live/tests/conftest.py
  awx/main/tests/live/tests/test_ansible_facts.py
Labels: component:api

#15983 Fix signal handling gap, hijack SIGUSR1 from dispatcherd
  awx/main/management/commands/run_dispatcher.py
  awx/main/tasks/jobs.py
  awx/main/tasks/receptor.py
  awx/main/tasks/signals.py
  awx/main/tests/live/tests/test_job_cancel.py
  awx/main/tests/unit/tasks/test_signals.py
Labels: component:api

#15980 Fix Subscriptions credentials fallback
  awx/api/views/analytics.py
  awx/main/tests/functional/api/test_analytics.py
  awx/main/utils/licensing.py
Labels: component:api

#15928 AAP-17690 Inventory variables sourced from git project are not getting deleted after being removed from source
  awx/api/serializers.py
  awx/main/management/commands/inventory_import.py
  awx/main/migrations/0204_inventorygroupvariableswithhistory_and_more.py
  awx/main/models/__init__.py
  awx/main/models/inventory.py
  awx/main/tests/data/projects/inventory_vars/inventory_var_deleted_in_source.ini
  awx/main/tests/functional/api/test_inventory.py
  awx/main/tests/live/tests/test_inventory_vars.py
  awx/main/tests/unit/utils/test_inventory_vars.py
  awx/main/utils/inventory_vars.py
Labels: component:api, community

#15984 [dispatcherd] Get rid of alternative task registry
  awx/main/dispatch/config.py
  awx/main/dispatch/publish.py
  awx/main/tasks/system.py
  awx/settings/defaults.py
Labels: component:api

#15956 AAP-32143 Make the JT name uniqueness enforced at the database level
  awx/main/migrations/0199_inventorygroupvariableswithhistory_and_more.py
  awx/main/migrations/0200_template_name_constraint.py
  awx/main/migrations/0201_delete_profile.py
  awx/main/migrations/0202_remove_sso_app_content.py
  awx/main/migrations/0203_alter_inventorysource_source_and_more.py
  awx/main/migrations/0204_alter_oauth2application_unique_together_and_more.py
  awx/main/migrations/0205_delete_token_cleanup_job.py
  awx/main/migrations/_db_constraints.py
  awx/main/models/inventory.py
  awx/main/models/jobs.py
  awx/main/models/unified_jobs.py
  awx/main/tests/functional/migrations/test_jt_rename_migration.py
  awx/main/tests/functional/task_management/test_scheduler.py
  awx/main/tests/functional/test_copy.py
  awx/main/tests/functional/test_migrations.py
  awx/main/tests/functional/test_projects.py
  awx/main/tests/live/tests/api/test_uniqueness.py
  awx/main/tests/live/tests/conftest.py
Labels: component:api

#15978 introduce age for dispatch workers and mandatory retirement
  awx/main/dispatch/pool.py
  awx/settings/defaults.py
Labels: component:api

#15972 docs: Fix schedule documentation
  awx_collection/plugins/modules/schedule.py
Labels: component:awx_collection, community

#15981 AAP-42649 Flag-gated use of "dispatcherd" as its own library
  awx/main/analytics/analytics_tasks.py
  awx/main/apps.py
  awx/main/constants.py
  awx/main/dispatch/config.py
  awx/main/dispatch/hazmat.py
  awx/main/dispatch/publish.py
  awx/main/dispatch/worker/dispatcherd.py
  awx/main/management/commands/run_dispatcher.py
  awx/main/models/unified_jobs.py
  awx/main/scheduler/task_manager.py
  awx/main/scheduler/tasks.py
  awx/main/tasks/__init__.py
  awx/main/tasks/host_indirect.py
  awx/main/tasks/host_metrics.py
  awx/main/tasks/jobs.py
  awx/main/tasks/receptor.py
  awx/main/tasks/signals.py
  awx/main/tasks/system.py
  awx/main/tests/conftest.py
  awx/main/tests/data/projects/debug/sleep.yml
  awx/main/tests/data/sleep_task.py
  awx/main/tests/functional/tasks/test_tasks_jobs.py
  awx/main/tests/functional/test_dispatch.py
  awx/main/tests/functional/test_inventory_source_injectors.py
  awx/main/tests/functional/test_licenses.py
  awx/main/tests/live/tests/conftest.py
  awx/main/tests/live/tests/dispatcherd/test_connection_recovery.py
  awx/main/tests/live/tests/test_job_cancel.py
  awx/main/tests/unit/tasks/test_signals.py
  awx/main/tests/unit/test_tasks.py
  awx/main/utils/db.py
  awx/main/utils/external_logging.py
  awx/settings/defaults.py
  awx/settings/development_defaults.py
  awx/settings/production_defaults.py
  awx_collection/test/awx/conftest.py
  docs/tasks.md
  licenses/dispatcherd.txt
  licenses/psycopg-3.2.3.tar.gz
  licenses/psycopg-3.2.6.tar.gz
  requirements/requirements.in
  requirements/requirements.txt
Labels: component:api, component:docs, component:awx_collection, dependencies

#15982 fix chicken egg issue with workflow nodes and inventory sources for parents that do not exist
  awx_collection/plugins/modules/inventory_source.py
  awx_collection/plugins/modules/workflow_job_template_node.py
  awx_collection/tests/integration/targets/inventory_source_update/tasks/main.yml
  awx_collection/tests/integration/targets/workflow_job_template/tasks/main.yml
Labels: component:awx_collection, community

#15912 Fast fix for old version nodejs
  awx/ui/Makefile
Labels: component:api, community

#15692 cli: fix `TypeError` in `HelpfulArgumentParser` for python 3.12.8 and 3.13.1
  awxkit/awxkit/cli/utils.py
Labels: component:cli, community

#15996 fix: ensure temp files are cleaned up after failed HCC
  awx/main/analytics/core.py
  awx/main/tests/functional/analytics/test_core.py
Labels: component:api, community

#15999 Fix bug where collectstatic could error due to dispatcherd config
  awx/main/apps.py
  awx/main/dispatch/config.py
  awx/main/tests/conftest.py
  awx_collection/test/awx/conftest.py
  requirements/requirements.txt
Labels: component:api, component:awx_collection, dependencies

#15998 AAP-45937 Make settings not required because they are not
  awx/conf/registry.py
  awx/main/conf.py
Labels: component:api
