Repository ansible/awx, pull requests merged in 2025-08, with the labels that each got.

#16061 Update Collections Syntax to get Collection related CI Checks Passing
  awx/main/tests/functional/test_inventory_source_injectors.py
  awx_collection/test/awx/conftest.py
  awx_collection/tests/integration/targets/ad_hoc_command/tasks/main.yml
  awx_collection/tests/integration/targets/ad_hoc_command_cancel/tasks/main.yml
  awx_collection/tests/integration/targets/ad_hoc_command_wait/tasks/main.yml
  awx_collection/tests/integration/targets/credential/tasks/main.yml
  awx_collection/tests/integration/targets/execution_environment/tasks/main.yml
  awx_collection/tests/integration/targets/group/tasks/main.yml
  awx_collection/tests/integration/targets/host/tasks/main.yml
  awx_collection/tests/integration/targets/import/tasks/main.yml
  awx_collection/tests/integration/targets/inventory/tasks/main.yml
  awx_collection/tests/integration/targets/job_cancel/tasks/main.yml
  awx_collection/tests/integration/targets/job_launch/tasks/main.yml
  awx_collection/tests/integration/targets/job_template/tasks/main.yml
  awx_collection/tests/integration/targets/job_wait/tasks/main.yml
  awx_collection/tests/integration/targets/label/tasks/main.yml
  awx_collection/tests/integration/targets/lookup_api_plugin/tasks/main.yml
  awx_collection/tests/integration/targets/organization/tasks/main.yml
  awx_collection/tests/integration/targets/params/tasks/main.yml
  awx_collection/tests/integration/targets/project/tasks/main.yml
  awx_collection/tests/integration/targets/role/tasks/main.yml
  awx_collection/tests/integration/targets/role_definition/tasks/main.yml
  awx_collection/tests/integration/targets/role_team_assignment/tasks/main.yml
  awx_collection/tests/integration/targets/role_user_assignment/tasks/main.yml
  awx_collection/tests/integration/targets/schedule/tasks/main.yml
  awx_collection/tests/integration/targets/schedule_rrule/tasks/main.yml
  awx_collection/tests/integration/targets/settings/tasks/main.yml
  awx_collection/tests/integration/targets/team/tasks/main.yml
  awx_collection/tests/integration/targets/user/tasks/main.yml
  awx_collection/tests/integration/targets/workflow_approval/tasks/main.yml
  awx_collection/tests/integration/targets/workflow_job_template/tasks/main.yml
  awx_collection/tests/integration/targets/workflow_launch/tasks/main.yml
  awx_collection/tools/roles/template_galaxy/tasks/main.yml
Labels: component:api, component:awx_collection

#16058 Bug fix for AAP-47771 data migration update
  awx/main/migrations/0202_squashed_deletions.py
  awx/main/tests/functional/test_migrations.py
Labels: component:api

#16062 fixes UnboundLocalError in POST /attach
  awx/api/views/root.py
Labels: component:api, community

#16065 AAP-43883: clear cached LICENSE setting on change
  awx/api/views/root.py
  awx/main/tests/functional/api/test_license_cache_clearing.py
Labels: component:api

#16071 Continue work on collection ci
  awx_collection/plugins/modules/workflow_job_template_node.py
  awx_collection/tests/integration/targets/schedule/tasks/main.yml
  awx_collection/tests/integration/targets/user/tasks/main.yml
  awx_collection/tests/integration/targets/workflow_job_template/tasks/main.yml
Labels: component:awx_collection
