Repository ansible/awx, pull requests merged in 2025-09, with the labels that each got.

#16085 Aap 49452 - support CONTROLLER_OPTIONAL_API_URLPATTERN_PREFIX in awxkit
  awxkit/awxkit/config.py
  awxkit/test/cli/test_config.py
Labels: component:cli, community

#16080 Fix issue with some modules not honoring Controller API prefix
  awx_collection/plugins/module_utils/awxkit.py
  awx_collection/test/awx/test_controller_api_urlpattern_prefix.py
Labels: component:awx_collection, community

#16091 AAP-37812 Added mention about setting correct env variable in cli usage
  awxkit/awxkit/cli/docs/source/conf.py
  awxkit/awxkit/cli/docs/source/usage.rst
Labels: component:cli

#16106 Sharing Credentials Across Organizations
  awx/api/views/__init__.py
  awx/main/tests/functional/api/test_credential.py
Labels: component:api, community
